div.page-row
    div.page-content
        div.bread-crumbs
            a(href="/") Главная
            a(href="#") О компании
        div.content-title
            span О компании

        div.about-content
            div.row
                div.about-logo
                    img(src="img/about/about-logo.png")
                div.filler
                h2.first-h2 Мы молодая, динамично развивающаяся компания

                div(class="quality mission")
                    div.icon
                        div.icon-wrapper
                            i(icon="mission")
                    div.quality-text
                        h3 Наша миссия
                        span Расширение возможностей людей, живущих с диагнозом "Сахарный диабет", благодаря инновационным решениям, которые упрощают и улучшают жизнь.
                div(class="quality vision")
                    div.icon
                        div.icon-wrapper
                            i(icon="vision")
                    div.quality-text
                        h3 Наше видение
                        span Мы знаем, что сахарный диабет – это не образ жизни, а заболевание, требующее ежедневного самоконтроля для предотвращения осложнений и ведения полноценного образа жизни.
                div(class="quality target")
                    div.icon
                        div.icon-wrapper
                            i(icon="target")
                    div.quality-text
                        h3 Наша цель
                        span Слушать и слышать, понять ваши потребности и предложить наилучшее решение.

            div(class="row row-requisites")
                h2 Реквизиты

                span Общество с ограниченной ответственностью "Диатренд"

                div.requisites
                    span ИНН:
                    span 5404052525
                div.requisites
                    span КПП:
                    span 540401001
                div.requisites
                    span ОГРН:
                    span 1175476015010
                div.requisites
                    span ОКПО:
                    span 00000000
                div.requisites
                    span Расчетный счет:
                    span 40702810261150001063
                div.requisites
                    span Наименование банка:
                    span Уральский банк реконструкции и развития
                div.requisites
                    span БИК:
                    span 045004845
                div.requisites
                    span Корсчет:
                    span 30101810450040000845

            div(class="follow-news follow-news-white")
                div
                    div.invite
                        h3 Следите за новостями
                        span Будьте в курсе новинок и специальных предложений
                    div.follow-form
                        form
                            div
                                div.input-wrapper
                                    input(type="email" name="email" placeholder="Адрес электронной почты")
                                input(type="submit" value="Подписаться")
                            div.accept
                                label.check-container При отправке данной формы Вы подтверждаете свою дееспособность и согласие на
                                    a обработку персональных данных
                                    input(type="checkbox" id="accept-follow" name="accept" value="true")
                                    span.checkmark

                div.icon-wrapper
                    i(icon="tree")

            div.help
                span Мы всегда готовы оказать Вам поддержку
                div.help--tel
                    span 8 (931) 007-23-23
                    span 8 (383) 286-23-23