div.page-row.page-account
    div.page-content
        div.bread-crumbs
            a(href="/") Главная
            a(href="#") Личный кабинет
        div.content-title
            span Личный кабинет
        div.page
            div.left-menu
                div(class="menu-item my-orders")
                    div.icon-wrapper
                        i(icon="my-basket")
                    a(href="/account-orders.html") Мои заказы

                div(class="menu-item expected")
                    div.icon-wrapper
                        i(icon="expected")
                    a(href="/account-expected.html") Ожидаемые товары

                div(class="menu-item settings menu-item-active")
                    div.icon-wrapper
                        i(icon="user")
                    a(href="/account-settings.html") Личные данные

                div(class="menu-item ordering-profiles")
                    div.icon-wrapper
                        i(icon="map")
                    a(href="/account-profiles.html") Профили заказов

                div(class="menu-item mailings")
                    div.icon-wrapper
                        i(icon="post")
                    a(href="/account-mailings.html") Настройка рассылок
            div.right-content
                div.settings-content
                    include account/settings

        div.password-container
            div.password-window
                div.header
                    h2 Смена пароля
                    div.icon-wrapper
                        i(icon="x")
                form.body
                    input(type="password" name="old-pass" placeholder="Старый пароль")
                    input(type="password" name="new-pass" placeholder="Новый пароль")
                    input(type="password" name="confirm-pass" placeholder="Повторите новый пароль")
                    input(type="submit" value="Сохранить")
