div.page-row
    div.page-content.page-content--basket
        div.bread-crumbs
            a(href="/") Главная
            a(href="#") Корзина
        div.content-title
            span Корзина

        div.basket-page
            div.basket-items
                - var count = 0
                    while count++ < 3
                        div.item
                            div.img-wrapper
                                if count & 1
                                    img(src="img/cat-product-1.png")
                                else
                                    img(src="img/cat-product-2.png")
                            div.item-info
                                div.badges
                                    span(class="discount" direction="left" color="orange") Хит
                                    span(class="discount" direction="left" color="green") Акция
                                div.titles
                                    span Тест полоски
                                    span Тест-полоски "Контур Плюс" 10 упаковок №50
                                div.item-price
                                    span.price 650 р.
                                    span.old-price 790 р.
                                div.cupon
                                    span 12 шт. x 475 р. (+ 1 шт. идёт подарком по #[a(href="#") акции])
                            div.action-btns
                                div.count
                                    div.minus
                                        span
                                    input(class="count-value" maxlength="3" value="22")
                                    div.plus
                                        span
                                div.flat-btns
                                    //span Отложить товар
                                    span Удалить

            div.result--coupon
                div.result
                    span Скидка
                        span -3 500 р.
                    div.divider
                    span Итого
                        span 12 500 р.
                    span.checkout Оформить заказ
                div.coupon
                    input(type="text" name="coupon" placeholder="У вас есть купон?")
                    input(type="submit" value="" id="submit")
                    label(for="submit")
                        i(icon="menu-arrow-down")
                div.result--coupon__message.result--coupon__message_success 
                    div Купон #[b SKLRR-41442F] применён
                    a.close-result--coupon__message
                        i(icon="x")
