div.page-row
    div.page-content
        div.bread-crumbs
            a(href="/") Главная
            a(href="#") Все для глюкометров
            a(href="#") Визуальные тест-полоски
        div.category-title
            span Визуальные тест-полоски
            span 13 145 товаров
        div.filter-line
            div.filters
                //div(class="price-filter active-filter")
                    div.icon-wrapper
                        i(icon="expensive")
                    span Дороже
                //div
                    div.icon-wrapper
                        i(icon="cube3")
                    span Скидки
                //div
                    div.icon-wrapper
                        i(icon="cube3")
                    span Новинки
                div
                    span По популярности
                div.active-filter
                    span По цене
                        i(icon="menu-arrow-down")
                div
                    span Скидка
                div
                    span Новинки
            div.view-mode
                span(class="grid-mode active-mode")
                    i(icon="cube9")

                span.row-mode
                    i(icon="cube3")

        div(class="category-products view-grid")
            //div.cat-product
                div.fucking-border
                div.product-discount
                    span(class="discount" color="green" direction="left") Акция
                    span(class="discount" color="blue" direction="left") Новинка
                    span(class="discount" color="red" direction="left") Скидка
                    span(class="discount" color="yellow" direction="left") Хит
                div.info-wrapper
                    div.sub-wrpapper
                        div.product-img
                            img(src="img/cat-product-2.png")

                            a(href="#" class="quick-view")
                                span Быстрый просмотр

                        div.cat-product-info
                            span Тест-полоски
                            span.cat-title
                                a(href="#") Тест-полоски "Контур Плюс" 10 упаковок N50 Тест-полоски "Контур Плюс" 10 упаковок N50
                        div(class="product-buy disabled")
                            div.product-price
                                span.price 650 р.
                                span.old-price 790 р.
                            div(class="icon-wrapper empty-product")
                                i(icon="basket")
            div.card-product
                div.card-product__inner
                    div.card-product__img
                        a(href="#" class="card-product__img-link")
                            img(src="img/cat-product-2.png")
                        a(href="#" class="quick-view") Быстрый просмотр
                        div.product-discount
                            span(class="discount" color="green" direction="left") Акция
                            span(class="discount" color="blue" direction="left") Новинка
                            span(class="discount" color="red" direction="left") Скидка
                            span(class="discount" color="yellow" direction="left") Хит
                        div.product-actions
                            span(class="product-action product-action_gift")
                                div.product-action__popup.product-action__popup_big
                                    div.product-action__popup-title Подарок при покупке!
                                    a(href="#" class="btn-grey") Подробнее
                                i.icon-gift.product-action__icon
                                    include ../../img/icons/gift.svg
                            span(class="product-action product-action_gift")
                                i(icon="o-delivery" class="product-action__icon")
                                div.product-action__popup
                                    div.product-action__popup-title Бесплатная доставка!
                                    a(href="#" class="btn-grey") Подробнее
                        a(class="product-favorites active" href="#")
                            i(icon="star" class="product-favorites__icon")
                    div.card-product__content
                        div.card-product__category Тест-полоски
                        div.card-product__title
                            a(href="#") Тест-полоски "Контур Плюс" 10 упаковок №50 Тест-полоски "Контур Плюс" 10 упаковок №50
                        div.cat-product__comments-bar
                            div.rating-wrap
                                fieldset.rating
                                    input#star05(type='radio', name='rating98', value='5')
                                    label.full(for='star985', title='Awesome - 5 stars')
                                    input#star984half(type='radio', name='rating98', value='4 and a half')
                                    label.half(for='star984half', title='Pretty good - 4.5 stars')
                                    input#star984(type='radio', name='rating98', value='4')
                                    label.full(for='star984', title='Pretty good - 4 stars')
                                    input#star983half(type='radio', name='rating98', value='3 and a half')
                                    label.half(for='star983half', title='Meh - 3.5 stars')
                                    input#star983(type='radio', name='rating98', value='3')
                                    label.full(for='star983', title='Meh - 3 stars')
                                    input#star982half(type='radio', name='rating98', value='2 and a half')
                                    label.half(for='star982half', title='Kinda bad - 2.5 stars')
                                    input#star982(type='radio', name='rating98', value='2')
                                    label.full(for='star982', title='Kinda bad - 2 stars')
                                    input#star981half(type='radio', name='rating98', value='1 and a half')
                                    label.half(for='star981half', title='Meh - 1.5 stars')
                                    input#star981(type='radio', name='rating98', value='1')
                                    label.full(for='star981', title='Sucks big time - 1 star')
                                    input#star98half(type='radio', name='rating98', value='half')
                                    label.half(for='star98half', title='Sucks big time - 0.5 stars')
                                a(href="#" class="comments-icon")
                                    div.comment-icon__inner 525
                        div.card-product__footer
                            div(class="product-buy disabled")
                                div.product-price
                                    span.price 549 989 р.
                                    span.old-price 867 632 р.
                                div(class="icon-wrapper empty-product")
                                    i(icon="disabled-basket2")
            div.card-product
                div.card-product__inner
                    div.card-product__img
                        a(href="#" class="card-product__img-link")
                            img(src="img/cat-product-2.png")
                        a(href="#" class="quick-view") Быстрый просмотр
                        div.product-discount
                            span(class="discount" color="green" direction="left") Акция
                            span(class="discount" color="blue" direction="left") Новинка
                        div.product-actions
                            span(class="product-action product-action_gift")
                                div.product-action__popup.product-action__popup_big
                                    div.product-action__popup-title Подарок при покупке!
                                    a(href="#" class="btn-grey") Подробнее
                                i.icon-gift.product-action__icon
                                    include ../../img/icons/gift.svg
                            span(class="product-action product-action_gift")
                                i(icon="o-delivery" class="product-action__icon")
                                div.product-action__popup
                                    div.product-action__popup-title Бесплатная доставка!
                                    a(href="#" class="btn-grey") Подробнее
                        a(class="product-favorites active" href="#")
                            i(icon="star" class="product-favorites__icon")
                    div.card-product__content
                        div.card-product__category Тест-полоски
                        div.card-product__title
                            a(href="#") Тест-полоски "Контур Плюс" 10 упаковок №50 Тест-полоски "Контур Плюс" 10 упаковок №50
                        div.cat-product__comments-bar
                            div.rating-wrap
                                fieldset.rating
                                    input#star05(type='radio', name='rating99', value='5')
                                    label.full(for='star995', title='Awesome - 5 stars')
                                    input#star994half(type='radio', name='rating99', value='4 and a half')
                                    label.half(for='star994half', title='Pretty good - 4.5 stars')
                                    input#star994(type='radio', name='rating99', value='4')
                                    label.full(for='star994', title='Pretty good - 4 stars')
                                    input#star993half(type='radio', name='rating99', value='3 and a half')
                                    label.half(for='star993half', title='Meh - 3.5 stars')
                                    input#star993(type='radio', name='rating99', value='3')
                                    label.full(for='star993', title='Meh - 3 stars')
                                    input#star992half(type='radio', name='rating99', value='2 and a half')
                                    label.half(for='star992half', title='Kinda bad - 2.5 stars')
                                    input#star992(type='radio', name='rating99', value='2')
                                    label.full(for='star992', title='Kinda bad - 2 stars')
                                    input#star991half(type='radio', name='rating99', value='1 and a half')
                                    label.half(for='star991half', title='Meh - 1.5 stars')
                                    input#star991(type='radio', name='rating99', value='1')
                                    label.full(for='star991', title='Sucks big time - 1 star')
                                    input#star99half(type='radio', name='rating99', value='half')
                                    label.half(for='star99half', title='Sucks big time - 0.5 stars')
                                a(href="#" class="comments-icon")
                                    div.comment-icon__inner 525
                        div.card-product__footer
                            div(class="product-buy disabled")
                                div.product-price
                                    span.price 549 999 р.
                                    span.old-price 867 632 р.
                                div(class="icon-wrapper js-open-basket-settings-popup")
                                    i(icon="basket")

            div.card-product
                div.card-product__inner
                    div.card-product__img
                        a(href="#" class="card-product__img-link")
                            img(src="img/cat-product-2.png")
                        a(href="#" class="quick-view") Быстрый просмотр
                        div.product-discount
                            span(class="discount" color="green" direction="left") Акция
                            span(class="discount" color="blue" direction="left") Новинка
                        div.product-actions
                            span(class="product-action product-action_gift")
                                div.product-action__popup.product-action__popup_big
                                    div.product-action__popup-title Подарок при покупке!
                                    a(href="#" class="btn-grey") Подробнее
                                i.icon-gift.product-action__icon
                                    include ../../img/icons/gift.svg
                            span(class="product-action product-action_gift")
                                i(icon="o-delivery" class="product-action__icon")
                                div.product-action__popup
                                    div.product-action__popup-title Бесплатная доставка!
                                    a(href="#" class="btn-grey") Подробнее
                        a(class="product-favorites active" href="#")
                            i(icon="star" class="product-favorites__icon")
                    div.card-product__content
                        div.card-product__category Тест-полоски
                        div.card-product__title
                            a(href="#") Тест-полоски "Контур Плюс" 10 упаковок №50 Тест-полоски "Контур Плюс" 10 упаковок №50
                        div.cat-product__comments-bar
                            div.rating-wrap
                                fieldset.rating
                                    input#star05(type='radio', name='rating99', value='5')
                                    label.full(for='star995', title='Awesome - 5 stars')
                                    input#star994half(type='radio', name='rating99', value='4 and a half')
                                    label.half(for='star994half', title='Pretty good - 4.5 stars')
                                    input#star994(type='radio', name='rating99', value='4')
                                    label.full(for='star994', title='Pretty good - 4 stars')
                                    input#star993half(type='radio', name='rating99', value='3 and a half')
                                    label.half(for='star993half', title='Meh - 3.5 stars')
                                    input#star993(type='radio', name='rating99', value='3')
                                    label.full(for='star993', title='Meh - 3 stars')
                                    input#star992half(type='radio', name='rating99', value='2 and a half')
                                    label.half(for='star992half', title='Kinda bad - 2.5 stars')
                                    input#star992(type='radio', name='rating99', value='2')
                                    label.full(for='star992', title='Kinda bad - 2 stars')
                                    input#star991half(type='radio', name='rating99', value='1 and a half')
                                    label.half(for='star991half', title='Meh - 1.5 stars')
                                    input#star991(type='radio', name='rating99', value='1')
                                    label.full(for='star991', title='Sucks big time - 1 star')
                                    input#star99half(type='radio', name='rating99', value='half')
                                    label.half(for='star99half', title='Sucks big time - 0.5 stars')
                                a(href="#" class="comments-icon")
                                    div.comment-icon__inner 525
                        div.card-product__footer
                            div(class="product-buy disabled")
                                div.product-price
                                    span.price 549 999 р.
                                    span.old-price 867 632 р.
                                div(class="icon-wrapper")
                                    i(icon="check-mark")



            //div.cat-product
                div.fucking-border
                div.product-actions
                    span(class="product-action product-action_gift")
                        div.product-action__popup.product-action__popup_big
                            div.product-action__popup-title Подарок при покупке!
                            a(href="#" class="btn-grey") Подробнее
                        i.icon-gift.product-action__icon
                            include ../../img/icons/gift.svg
                    span(class="product-action product-action_gift")
                        i(icon="o-delivery" class="product-action__icon")
                        div.product-action__popup
                            div.product-action__popup-title Бесплатная доставка!
                            a(href="#" class="btn-grey") Подробнее
                
                a(class="product-favorites active" href="#")
                    i(icon="star" class="product-favorites__icon")
                div.info-wrapper
                    div.sub-wrpapper
                        div.product-img
                            img(src="img/cat-product-2.png")
                            a(href="#" class="quick-view")
                                span Быстрый просмотр

                        div.cat-product-info
                            span Тест-полоски
                            span.cat-title
                                a(href="#") Тест-полоски "Контур Плюс" 10 упаковок №50 Тест-полоски "Контур Плюс" 10 упаковок №50
                        div.cat-product__comments-bar
                            div.rating-wrap
                                fieldset.rating
                                    input#star05(type='radio', name='rating0', value='5')
                                    label.full(for='star05', title='Awesome - 5 stars')
                                    input#star04half(type='radio', name='rating0', value='4 and a half')
                                    label.half(for='star04half', title='Pretty good - 4.5 stars')
                                    input#star04(type='radio', name='rating0', value='4')
                                    label.full(for='star04', title='Pretty good - 4 stars')
                                    input#star03half(type='radio', name='rating0', value='3 and a half')
                                    label.half(for='star03half', title='Meh - 3.5 stars')
                                    input#star03(type='radio', name='rating0', value='3')
                                    label.full(for='star03', title='Meh - 3 stars')
                                    input#star02half(type='radio', name='rating0', value='2 and a half')
                                    label.half(for='star02half', title='Kinda bad - 2.5 stars')
                                    input#star02(type='radio', name='rating0', value='2')
                                    label.full(for='star02', title='Kinda bad - 2 stars')
                                    input#star01half(type='radio', name='rating0', value='1 and a half')
                                    label.half(for='star01half', title='Meh - 1.5 stars')
                                    input#star01(type='radio', name='rating0', value='1')
                                    label.full(for='star01', title='Sucks big time - 1 star')
                                    input#star0half(type='radio', name='rating0', value='half')
                                    label.half(for='star0half', title='Sucks big time - 0.5 stars')
                            a(href="#" class="comments-icon")
                                div.comment-icon__inner 525
                        div(class="product-buy disabled")
                            div.product-price
                                span.price 549 999 р.
                                span.old-price 867 632 р.
                            div(class="icon-wrapper empty-product")
                                i(icon="disabled-basket")
            //- var count = 0
                while count++ < 5
                    div.cat-product
                        div.fucking-border
                        div.product-discount
                            span(class="discount" color="green" direction="left") Акция
                            span(class="discount" color="blue" direction="left") Новинка
                        a(class="product-favorites active" href="#")
                            i(icon="star" class="product-favorites__icon")
                        div.info-wrapper
                            div.sub-wrpapper
                                div.product-img
                                    if count & 1
                                        img(src="img/cat-product-1.png")
                                    else
                                        img(src="img/cat-product-2.png")

                                    a(href="#" class="quick-view")
                                        span Быстрый просмотр

                                div.cat-product-info
                                    span Тест-полоски
                                    span.cat-title
                                        a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque beatae culpa debitis et id perspiciatis praesentium quas repellat totam. Placeat, quos soluta? Consectetur eaque et officiis quae totam velit voluptates?
                                div.product-buy
                                    div.product-price
                                        span.price 650 р.
                                        span.old-price 790 р.
                                    div.icon-wrapper
                                        if count & 1
                                            i(icon="basket")
                                        else
                                            i(icon="check-mark")
            - var n = 0
                while n++ < 2
                    //div.cat-product
                        div.fucking-border
                        div.product-discount
                            span(class="discount" color="green" direction="left") Акция
                            span(class="discount" color="blue" direction="left") Новинка
                        a(class="product-favorites" href="#")
                            i(icon="star" class="product-favorites__icon")
                        div.info-wrapper
                            div.sub-wrpapper
                                div.product-img
                                    if count & 1
                                        img(src="img/cat-product-1.png")
                                    else
                                        img(src="img/cat-product-2.png")

                                    a(href="#" class="quick-view")
                                        span Быстрый просмотр

                                div.cat-product-info
                                    span Тест-полоски
                                    span.cat-title
                                        a(href="#") Тест-полоски "Контур Плюс" 10 упаковок N50 Тест-полоски "Контур Плюс" 10 упаковок N50
                                div.cat-product__comments-bar
                                    div.rating-wrap
                                        fieldset.rating
                                            input(id=`star${n}5`, type='radio', name=`rating${n}`, value='5')
                                            label.full(for=`star${n}5`, title='Awesome - 5 stars')
                                            input(id=`star${n}5half` type='radio', name=`rating${n}`, value='4 and a half')
                                            label.half(for=`star${n}5half`, title='Pretty good - 4.5 stars')
                                            input(id=`star${n}4` type='radio', name=`rating${n}`, value='4')
                                            label.full(for='star${n}4', title='Pretty good - 4 stars')
                                            input(id=`star${n}3half` type='radio', name=`rating${n}`, value='3 and a half')
                                            label.half(for=`star${n}3half`, title='Meh - 3.5 stars')
                                            input(id=`star${n}3` type='radio', name=`rating${n}`, value='3')
                                            label.full(for=`star${n}3`, title='Meh - 3 stars')
                                            input(id=`star${n}2half` type='radio', name=`rating${n}`, value='2 and a half')
                                            label.half(for=`star${n}2half`, title='Kinda bad - 2.5 stars')
                                            input(id=`star${n}2` type='radio', name=`rating${n}`, value='2')
                                            label.full(for=`star${n}2`, title='Kinda bad - 2 stars')
                                            input(id=`star${n}1half` type='radio', name=`rating${n}`, value='1 and a half')
                                            label.half(for=`star${n}1half`, title='Meh - 1.5 stars')
                                            input(id=`star${n}1` type='radio', name=`rating${n}`, value='1')
                                            label.full(for=`star${n}1`, title='Sucks big time - 1 star')
                                            input(id=`star${n}half` type='radio', name=`rating${n}`, value='half')
                                            label.half(for=`star${n}half`, title='Sucks big time - 0.5 stars')
                                    a(href="#" class="comments-icon")
                                        div.comment-icon__inner 525    
                                div(class="product-buy disabled")
                                    div.product-price
                                        span.price 650 р.
                                        span.old-price 790 р.
                                    div(class="icon-wrapper")
                                        if n & 1
                                            i(icon="basket")
                                        else
                                            i(icon="check-mark")

        div(class="category-products view-row")
            .category-products-horizontal
                div.card-product.card-product_horizontal
                    div.card-product__inner
                        div.card-product__img
                            a(href="#" class="card-product__img-link")
                                img(src="img/cat-product-2.png")
                            a(href="#" class="quick-view") Быстрый просмотр
                            div.product-discount
                                span(class="discount" color="green" direction="left") Акция
                                span(class="discount" color="blue" direction="left") Новинка
                            div.product-actions
                                span(class="product-action product-action_gift")
                                    div.product-action__popup.product-action__popup_big
                                        div.product-action__popup-title Подарок при покупке!
                                        a(href="#" class="btn-grey") Подробнее
                                    i.icon-gift.product-action__icon
                                        include ../../img/icons/gift.svg
                                span(class="product-action product-action_gift")
                                    i(icon="o-delivery" class="product-action__icon")
                                    div.product-action__popup
                                        div.product-action__popup-title Бесплатная доставка!
                                        a(href="#" class="btn-grey") Подробнее
                            a(class="product-favorites active" href="#")
                                i(icon="star" class="product-favorites__icon")
                        div.card-product__content
                            div.card-product__body
                                div.card-product__category Тест-полоски
                                div.card-product__title
                                    a(href="#") Тест-полоски "Контур Плюс" 10 упаковок №50 Тест-полоски "Контур Плюс" 10 упаковок №50
                                div.cat-product__comments-bar
                                    div.rating-wrap
                                        fieldset.rating
                                            input#star05(type='radio', name='rating93', value='5')
                                            label.full(for='star935', title='Awesome - 5 stars')
                                            input#star934half(type='radio', name='rating93', value='4 and a half')
                                            label.half(for='star934half', title='Pretty good - 4.5 stars')
                                            input#star934(type='radio', name='rating93', value='4')
                                            label.full(for='star934', title='Pretty good - 4 stars')
                                            input#star933half(type='radio', name='rating93', value='3 and a half')
                                            label.half(for='star933half', title='Meh - 3.5 stars')
                                            input#star933(type='radio', name='rating93', value='3')
                                            label.full(for='star933', title='Meh - 3 stars')
                                            input#star932half(type='radio', name='rating93', value='2 and a half')
                                            label.half(for='star932half', title='Kinda bad - 2.5 stars')
                                            input#star932(type='radio', name='rating93', value='2')
                                            label.full(for='star932', title='Kinda bad - 2 stars')
                                            input#star931half(type='radio', name='rating93', value='1 and a half')
                                            label.half(for='star931half', title='Meh - 1.5 stars')
                                            input#star931(type='radio', name='rating93', value='1')
                                            label.full(for='star931', title='Sucks big time - 1 star')
                                            input#star93half(type='radio', name='rating93', value='half')
                                            label.half(for='star93half', title='Sucks big time - 0.5 stars')
                                        a(href="#" class="comments-icon")
                                            div.comment-icon__inner 525
                            div.card-product__footer
                                div(class="product-buy disabled")
                                    div.product-price
                                        span.price 549 939 р.
                                        span.old-price 867 632 р.
                                    div.opt-price
                                        span 12 шт. x 650р.
                                    div(class="icon-wrapper icon-wrapper_only-icon empty-product")
                                        i(icon="disabled-basket")
                                    div.count
                                        div.minus
                                            span
                                        input(class="count-value" maxlength="3" value="22")
                                        div.plus
                                            span
                                    div.buy-btn
                                        a(href="#" class="icon-wrapper btn-tocart js-open-basket-settings-popup")
                                            i(icon="basket2")
                                            span В корзину
                div.card-product.card-product_horizontal
                    div.card-product__inner
                        div.card-product__img
                            a(href="#" class="card-product__img-link")
                                img(src="img/cat-product-2.png")
                            a(href="#" class="quick-view") Быстрый просмотр
                            div.product-discount
                                span(class="discount" color="green" direction="left") Акция
                                span(class="discount" color="blue" direction="left") Новинка
                            div.product-actions
                                span(class="product-action product-action_gift")
                                    div.product-action__popup.product-action__popup_big
                                        div.product-action__popup-title Подарок при покупке!
                                        a(href="#" class="btn-grey") Подробнее
                                    i.icon-gift.product-action__icon
                                        include ../../img/icons/gift.svg
                                span(class="product-action product-action_gift")
                                    i(icon="o-delivery" class="product-action__icon")
                                    div.product-action__popup
                                        div.product-action__popup-title Бесплатная доставка!
                                        a(href="#" class="btn-grey") Подробнее
                            a(class="product-favorites active" href="#")
                                i(icon="star" class="product-favorites__icon")
                        div.card-product__content
                            div.card-product__body
                                div.card-product__category Тест-полоски
                                div.card-product__title
                                    a(href="#") Тест-полоски "Контур Плюс" 10 упаковок №50 Тест-полоски "Контур Плюс" 10 упаковок №50
                                div.cat-product__comments-bar
                                    div.rating-wrap
                                        fieldset.rating
                                            input#star05(type='radio', name='rating96', value='5')
                                            label.full(for='star965', title='Awesome - 5 stars')
                                            input#star964half(type='radio', name='rating96', value='4 and a half')
                                            label.half(for='star964half', title='Pretty good - 4.5 stars')
                                            input#star964(type='radio', name='rating96', value='4')
                                            label.full(for='star964', title='Pretty good - 4 stars')
                                            input#star963half(type='radio', name='rating96', value='3 and a half')
                                            label.half(for='star963half', title='Meh - 3.5 stars')
                                            input#star963(type='radio', name='rating96', value='3')
                                            label.full(for='star963', title='Meh - 3 stars')
                                            input#star962half(type='radio', name='rating96', value='2 and a half')
                                            label.half(for='star962half', title='Kinda bad - 2.5 stars')
                                            input#star962(type='radio', name='rating96', value='2')
                                            label.full(for='star962', title='Kinda bad - 2 stars')
                                            input#star961half(type='radio', name='rating96', value='1 and a half')
                                            label.half(for='star961half', title='Meh - 1.5 stars')
                                            input#star961(type='radio', name='rating96', value='1')
                                            label.full(for='star961', title='Sucks big time - 1 star')
                                            input#star96half(type='radio', name='rating96', value='half')
                                            label.half(for='star96half', title='Sucks big time - 0.5 stars')
                                        a(href="#" class="comments-icon")
                                            div.comment-icon__inner 525
                            div.card-product__footer
                                div(class="product-buy disabled")
                                    div.product-price
                                        span.price 549 969 р.
                                        span.old-price 867 632 р.
                                    div.opt-price
                                        span 12 шт. x 650р.
                                    div(class="icon-wrapper icon-wrapper_only-icon empty-product")
                                        i(icon="disabled-basket")
                                    div.count
                                        div.minus
                                            span
                                        input(class="count-value" maxlength="3" value="22")
                                        div.plus
                                            span
                                    div.buy-btn
                                        a(href="#" class="icon-wrapper empty-product")
                                            span Под заказ
                div.card-product.card-product_horizontal
                    div.card-product__inner
                        div.card-product__img
                            a(href="#" class="card-product__img-link")
                                img(src="img/cat-product-2.png")
                            a(href="#" class="quick-view") Быстрый просмотр
                            div.product-discount
                                span(class="discount" color="green" direction="left") Акция
                                span(class="discount" color="blue" direction="left") Новинка
                            div.product-actions
                                span(class="product-action product-action_gift")
                                    div.product-action__popup.product-action__popup_big
                                        div.product-action__popup-title Подарок при покупке!
                                        a(href="#" class="btn-grey") Подробнее
                                    i.icon-gift.product-action__icon
                                        include ../../img/icons/gift.svg
                                span(class="product-action product-action_gift")
                                    i(icon="o-delivery" class="product-action__icon")
                                    div.product-action__popup
                                        div.product-action__popup-title Бесплатная доставка!
                                        a(href="#" class="btn-grey") Подробнее
                            a(class="product-favorites active" href="#")
                                i(icon="star" class="product-favorites__icon")
                        div.card-product__content
                            div.card-product__body
                                div.card-product__category Тест-полоски
                                div.card-product__title
                                    a(href="#") Тест-полоски "Контур Плюс" 10 упаковок №50 Тест-полоски "Контур Плюс" 10 упаковок №50
                                div.cat-product__comments-bar
                                    div.rating-wrap
                                        fieldset.rating
                                            input#star05(type='radio', name='rating96', value='5')
                                            label.full(for='star965', title='Awesome - 5 stars')
                                            input#star964half(type='radio', name='rating96', value='4 and a half')
                                            label.half(for='star964half', title='Pretty good - 4.5 stars')
                                            input#star964(type='radio', name='rating96', value='4')
                                            label.full(for='star964', title='Pretty good - 4 stars')
                                            input#star963half(type='radio', name='rating96', value='3 and a half')
                                            label.half(for='star963half', title='Meh - 3.5 stars')
                                            input#star963(type='radio', name='rating96', value='3')
                                            label.full(for='star963', title='Meh - 3 stars')
                                            input#star962half(type='radio', name='rating96', value='2 and a half')
                                            label.half(for='star962half', title='Kinda bad - 2.5 stars')
                                            input#star962(type='radio', name='rating96', value='2')
                                            label.full(for='star962', title='Kinda bad - 2 stars')
                                            input#star961half(type='radio', name='rating96', value='1 and a half')
                                            label.half(for='star961half', title='Meh - 1.5 stars')
                                            input#star961(type='radio', name='rating96', value='1')
                                            label.full(for='star961', title='Sucks big time - 1 star')
                                            input#star96half(type='radio', name='rating96', value='half')
                                            label.half(for='star96half', title='Sucks big time - 0.5 stars')
                                        a(href="#" class="comments-icon")
                                            div.comment-icon__inner 525
                            div.card-product__footer
                                div(class="product-buy disabled")
                                    div.product-price
                                        span.price 549 969 р.
                                        span.old-price 867 632 р.
                                    div.opt-price
                                        span 12 шт. x 650р.
                                    div(class="icon-wrapper icon-wrapper_only-icon empty-product")
                                        i(icon="disabled-basket")
                                    div.count
                                        div.minus
                                            span
                                        input(class="count-value" maxlength="3" value="22")
                                        div.plus
                                            span
                                    div.buy-btn
                                        a(href="#" class="icon-wrapper btn-incart")
                                            span В корзине
                                            



                - var count = 0
                    while count++ < 0
                        div.cat-product
                            div.fucking-border
                            div.product-discount
                                span(class="discount" color="green" direction="left") Акция
                                span(class="discount" color="blue" direction="left") Новинка
                            div.product-img
                                if count & 1
                                    img(src="img/cat-product-1.png")
                                else
                                    img(src="img/cat-product-2.png")
                                a(href="#" class="quick-view")
                                    span Быстрый просмотр
                            div.divider
                                div.pz
                                div.pz
                            div.cat-product-info
                                a(href="#" class="product-title") Тест-полоски "Контур Плюс" 10 упаковок N50
                                    br
                                    | Тест-полоски "Контур Плюс" 10 упаковок N50
                                span.attrs Характеристики
                                span.country Страна производитель:
                                    span Германия
                                span.expiration-date Срок годности:
                                    span 30.09.2019
                                if count & 1
                                    span(class="exist" exist="false")
                                else
                                    span(class="exist" exist="true")
                            div.divider
                                div.pz
                                div.pz
                            div.buy-block
                                div.product-price
                                    span.price 5 555 р.
                                    span.old-price 9 999 р.
                                div.opt-price
                                    span 12 шт. x 650р.
                                div.count
                                    div.minus
                                        span
                                    input(class="count-value" maxlength="3" value="22")
                                    div.plus
                                        span
                                div.buy-btn
                                    if count & 1
                                        input(type="submit" value="В корзине")
                                    else
                                        input(class="empty-product" type="submit" value="Под заказ")
                                    div.star-btn
                                        div.icon-wrapper
                                            i(icon="star")


        div.pagination
            a(class="page-arrow left-arrow")
                div.icon-wrapper
                    i(icon="menu-arrow-down")
            a(data-index="0") 1
            a(data-index="1") 2
            a(data-index="2") 3
            a(data-index="3") 4
            a(data-index="4") 5
            a(class="page-arrow right-arrow")
                div.icon-wrapper
                    i(icon="menu-arrow-down")
            a(data-index="14") 15

        div.quick-viewer-container
            div.quick-viewer
                div.qv-header
                    h3 Тест-полоски «Контур Плюс» 10 упаковок №50
                    div.close-btn-container
                        div.icon-wrapper
                            i(icon="x")
                div.qv-body
                    div.qv-gallery
                        div.qv-gallery-wrapper
                            div.gallery-container
                                div.main-photo
                                    div.photo-wrapper
                                        img(src="img/cat-product-2.png")
                                        div.product-discount
                                            span(class="discount" color="green" direction="left") Акция
                                            span(class="discount" color="blue" direction="left") Новинка
                                            span(class="discount" color="red" direction="left") Скидка
                                            span(class="discount" color="yellow" direction="left") Хит
                                        div.product-actions
                                            span(class="product-action product-action_gift")
                                                div.product-action__popup.product-action__popup_big
                                                    div.product-action__popup-title Подарок при покупке!
                                                    a(href="#" class="btn-grey") Подробнее
                                                i.icon-gift.product-action__icon
                                                    include ../../img/icons/gift.svg
                                            span(class="product-action product-action_gift")
                                                i(icon="o-delivery" class="product-action__icon")
                                                div.product-action__popup
                                                    div.product-action__popup-title Бесплатная доставка!
                                                    a(href="#" class="btn-grey") Подробнее
                                        a(class="product-favorites" href="#")
                                            i(icon="star" class="product-favorites__icon")
                                div.thumbnails.js-thumbnails
                                    div.thumbnail
                                        div.thumbnail-wrapper
                                            img(src="img/cat-product-1.png")
                                    div.thumbnail
                                        div.thumbnail-wrapper
                                            img(src="img/cat-product-2.png")
                                    div.thumbnail
                                        div.thumbnail-wrapper
                                            img(src="img/cat-product-1.png")
                                    div.thumbnail
                                        div.thumbnail-wrapper
                                            img(src="img/cat-product-2.png")
                                    div.thumbnail
                                        div.thumbnail-wrapper
                                            img(src="img/cat-product-1.png")

                    div(class="qv-desc modal-scroll" data-simplebar)
                        div.qv-desc-wrapper
                            h4 Характеристики
                            div.stat
                                div.stat-name Страна производитель
                                div.stat-value Германия
                            div.stat
                                div.stat-name Срок годности
                                div.stat-value 30.09.2019

                            h4 Описание
                            div.desc-container
                                p Тест-полоски Акку-Чек Актив предназначены для всех глюкометров из серии Акку-Чек Актив.
                                br
                                p Для проведения измерения на крупные тест-полоски необходимо нанести каплю крови в объеме 1-2 мкл.
                                br
                                p Тест-полоски можно использовать в течение всего срока годности, указанного на упаковке. Для обеспечения получения точных результатов прибор осуществляет проверку срока годности полосок с помощью кодовой пластинки и выдает предупреждение, в случае если срок годности тест-полоски истек.
                                br
                                p Система определяет необходимость в нанесении дополнительной капли крови и Вы можете нанести дополнительную каплю крови на тест-полоску Акку-Чек Актив в течение 5 секунд во время ее нахождения в приборе (нанесение дополнительной капли крови вне прибора возможно в течение 15 секунд).
                                br
                                p Нанести кровь на тест-полоску можно внутри или вне прибора.
                                br
                                p Для вторичного визуального контроля результатов измерения уровня глюкозы в крови можно просто сравнить цвет на контрольном окошке тест-полоски с цветом, указанным на тубусе.
                                br
                                p В целях сохранения качества тест-полосок необходимо закрывать тубус сразу же после извлечения тест-полоски.
                                br
                                p Полоски калиброваны по плазме крови.

                    div.qv-price-details
                        div.block-container
                            div.price-detail-wrapper
                                div
                                    span Цена
                                    div.price-detail
                                        span.price 645 530 р.
                                        span.old-price 743 590 р.
                                div.found-cheaper
                                    a(href="#" class="btn-green-border") Нашли дешевле?
                            div.quantity
                                span Количество в упаковке
                                div
                                    input(type="radio" name="dimension" id="25" value="25")
                                    label(for="25" class="active") 25
                                    input(type="radio" name="dimension" id="50" value="50")
                                    label(for="50") 50
                                    input(type="radio" name="dimension" id="100" value="100")
                                    label(for="100" class="unavailable") 100
                                        div.unavailable-pop-up
                                            p Размера нет в наличии
                                            //div.open-empty-form
                                                span Под заказ

                            div.dimensions
                                span Размер
                                div
                                    input(type="radio" name="dimension" id="qv-xs" value="xs")
                                    label(for="qv-xs") xs

                                    input(type="radio" name="dimension" id="qv-s" value="s")
                                    label(for="qv-s") s

                                    input(type="radio" name="dimension" id="qv-m" value="m")
                                    label(for="qv-m") m

                                    input(type="radio" name="dimension" id="qv-l" value="l")
                                    label(for="qv-l" class="active") l

                                    input(type="radio" name="dimension" id="qv-xl" value="xl")
                                    label(for="qv-xl") xl

                                    input(type="radio" name="dimension" id="qv-xxl" value="xxl")
                                    label(for="qv-xxl" class="unavailable") xxl
                                        div.unavailable-pop-up
                                            p Размера нет в наличии
                                            //div.open-empty-form
                                                span Под заказ

                                    input(type="radio" name="dimension" id="qv-xxxl" value="xxxl")
                                    label(for="qv-xxxl" class="unavailable") xxxl
                                        div.unavailable-pop-up
                                            p Размера нет в наличии
                                            //div.open-empty-form
                                                span Под заказ

                            div.colors
                                span Цвет
                                div
                                    input(type="radio" name="color" id="qv-red" value="red")
                                    label(for="qv-red" class="active")
                                        span(color="red")
                                    input(type="radio" name="color" id="qv-green" value="green")
                                    label(for="qv-green")
                                        span(color="#008000")

                                    input(type="radio" name="color" id="qv-blue" value="blue")
                                    label(for="qv-blue" class="unavailable")
                                        div.unavailable-pop-up
                                            p Размера нет в наличии
                                            div.open-empty-form
                                                span Под заказ
                                        span(color="blue")

                            span(class="exist" exist="true")
                            div.divider
                            div.product-card__rating
                                 div.rating-wrap
                                    fieldset.rating
                                        input#star05(type='radio', name='rating99', value='5')
                                        label.full(for='star995', title='Awesome - 5 stars')
                                        input#star994half(type='radio', name='rating99', value='4 and a half')
                                        label.half(for='star994half', title='Pretty good - 4.5 stars')
                                        input#star994(type='radio', name='rating99', value='4')
                                        label.full(for='star994', title='Pretty good - 4 stars')
                                        input#star993half(type='radio', name='rating99', value='3 and a half')
                                        label.half(for='star993half', title='Meh - 3.5 stars')
                                        input#star993(type='radio', name='rating99', value='3')
                                        label.full(for='star993', title='Meh - 3 stars')
                                        input#star992half(type='radio', name='rating99', value='2 and a half')
                                        label.half(for='star992half', title='Kinda bad - 2.5 stars')
                                        input#star992(type='radio', name='rating99', value='2')
                                        label.full(for='star992', title='Kinda bad - 2 stars')
                                        input#star991half(type='radio', name='rating99', value='1 and a half')
                                        label.half(for='star991half', title='Meh - 1.5 stars')
                                        input#star991(type='radio', name='rating99', value='1')
                                        label.full(for='star991', title='Sucks big time - 1 star')
                                        input#star99half(type='radio', name='rating99', value='half')
                                        label.half(for='star99half', title='Sucks big time - 0.5 stars')
                                    div.comments-text Отзывы 958

                            div.divider

                            div.count
                                div.minus
                                    span
                                input(class="count-value" maxlength="3" value="22")
                                div.plus
                                    span

                        //div.divider

                        div.order-btns
                            <a class="empty-product-new" href="#"><span>Под заказ</span></a>
                            <a class="btn-grey-border" href="#"><span>Купить в 1 клик</span></a>

        div.request-empty-product-container
            div.request-empty-product
                // Открывается при клике на корзину отсутствующего товара
                div.form-wrapper
                    div.header
                        h2 Заказать товар. Тест-полоски "Контур Плюс" 10 упаковок №50
                        div.icon-wrapper
                            i(icon="x")
                    div.body
                        div.poster
                            img(src="img/cat-product-2.png")
                        div.form
                            form
                                div.field
                                    span Имя*
                                    div.value
                                        input(type="text" name="name")
                                div.field
                                    span Телефон*
                                    div.value
                                        input(type="tel" name="tel")
                                div.field
                                    span Время звонка*
                                    div.value
                                        input(type="text" name="comment" placeholder="Например: Вторник 16:30")
                                div.field
                                    span Количество
                                    div(class="value count-value")
                                        div.count
                                            div.minus
                                                span
                                            input(class="count-value" maxlength="3" value="22")
                                            div.plus
                                                span
                                div.field
                                    div.accept
                                        label.check-container При отправке данной формы Вы подтверждаете свою дееспособность и согласие на
                                            a(href="# ") обработку персональных данных
                                            input(type="checkbox" id="accept-request" name="accept" value="true")
                                            span.checkmark

                                div.submit
                                    input(type="submit" value="Отправить")
                // Открывается если в url присутствует hash #req-thx (http://localhost:9000/category.html#req-thx)
                div.thx
                    div.icon-wrapper
                        i(icon="x")
                    h2 Спасибо, ваше сообщение принято!

                    p Товар добавлен в раздел
                        span &nbsp;Ожидаемые товары,
                        br
                        | если вы
                        span &nbsp;Зарегистрированы

        div.basket-settings-container
            div.basket-settings
                div.header
                    h2 Выберите параметры товара
                    div.icon-wrapper
                        i(icon="x")
                div.body
                    form
                        div.colors
                            span Цвет
                            div
                                input(type="radio" name="color" id="red" value="red")
                                label(for="red" class="active")
                                    span(color="red")
                                input(type="radio" name="color" id="green" value="green")
                                label(for="green")
                                    span(color="#008000")

                                input(type="radio" name="color" id="blue" value="blue")
                                label(for="blue" class="unavailable")
                                    div.unavailable-pop-up
                                        p Размера нет в наличии
                                        div.open-empty-form
                                            span Под заказ
                                    span(color="blue")
                        div.dimensions
                            span Размер
                            div
                                input(type="radio" name="dimension" id="xs" value="xs")
                                label(for="xs") xs

                                input(type="radio" name="dimension" id="s" value="s")
                                label(for="s") s

                                input(type="radio" name="dimension" id="m" value="m")
                                label(for="m") m

                                input(type="radio" name="dimension" id="l" value="l")
                                label(for="l" class="active") l

                                input(type="radio" name="dimension" id="xl" value="xl")
                                label(for="xl") xl

                                input(type="radio" name="dimension" id="xxl" value="xxl")
                                label(for="xxl" class="unavailable") xxl
                                    div.unavailable-pop-up
                                        p Размера нет в наличии
                                        div.open-empty-form
                                            span Под заказ

                                input(type="radio" name="dimension" id="xxxl" value="xxxl")
                                label(for="xxxl" class="unavailable") xxxl
                                    div.unavailable-pop-up
                                        p Размера нет в наличии
                                        div.open-empty-form
                                            span Под заказ

                        div.submit
                            input(type="submit" value="Добавить в корзину")



