div.page-row
    div.page-content.page-content--contacts
        div.bread-crumbs
            a(href="/") Главная
            a(href="#") Контакты
        div.content-title
            span Контакты
        div.map
            //iframe(
                src="https://yandex.ru/map-widget/v1/?um=constructor%3A62954d1bf62a3e5d39d634403973dd45abccae8f2fa1dd8bd954045f4c46946a&amp;source=constructor&amp;scroll=false"
                width="1280"
                height="100%"
                frameborder="0"
                )
            div#map
            div.board
                p Связаться
                div.tels
                    div.icon-wrapper
                        i(icon="tel")
                    div.tel-list
                        span 8 (383) 286-23-23
                        span 8 (913) 007-23-23
                span.schedule Мы принимает звонки в рабочее время Пн - Пт 10:00 - 18:00, обед 14:00 - 14:30 Сб, Вс  11:00 - 16:00

                div.mail
                    div.icon-wrapper
                        i(icon="mail")
                    span office@diacadem.com

                div.divider

                p Посетить

                div.address
                    div.icon-wrapper
                        i(icon="pointer")
                    span г. Новосибирск, ул. Ватутина, 29 оф. 210 (Бизнес-центр «На Башне»)

                div.divider

                p Медиа

                a(href="#" class="inst")
                    div.icon-wrapper
                        div
                            i(icon="inst-black")
                    span Instagram
                a(href="#" class="fb")
                    div.icon-wrapper
                        div
                            i(icon="fb")
                    span Facebook
                a(href="#" class="vk")
                    div.icon-wrapper
                        div
                            i(icon="vk")
                    span Вконтакте

            div.map-pointer
                i(icon="pointer-map")
            div.contact-form
                h2 Можем помочь?

                form
                    div.input-row
                        input(type="text" name="name" placeholder="Имя")
                        input(type="email" name="email" placeholder="Почта")
                        input(type="tel" name="tel" placeholder="Телефон")
                    div.textarea
                        textarea(name="message" placeholder="Сообщение")

                    input(type="submit" value="Отправить")


<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>