div.page-row
    div.page-content
        div.banner-row
            div.phantom-catalog
            div.head-banner
                div.slider-wrapper
                    div.slide
                        a(href="#")
                            img(src="img/banners/slide1.jpg")
                    div.slide
                        a(href="#")
                            img(src="img/banners/slide2.jpg")
                    //div.slide
                        a(href="#")
                            img(src="img/banners/slide3.jpg")
                    //div.slide
                        a(href="#")
                            img(src="img/banners/slide4.jpg")
                nav.slider-nav
                    div.phantom
                    div.dots
                    div.arrows
                        div(class="icon-wrapper slide-prev")
                            i(icon="arrow-right")
                        div(class="icon-wrapper slide-next")
                            i(icon="arrow-right")

            div.card-product.card-product_week
                div.card-product__inner
                    div.card-product__img
                        a(href="#" class="card-product__img-link")
                            img(src="img/choklate.jpg")
                        div.card-product__week-bar
                            div.card-product__week-title Товар недели
                            div#timer.card-product__week-counter 167:43:13
                                span(id="start-timer" style="display: none") 2019.01.30
                    div.card-product__content
                        div.card-product__category Тест-полоски
                        div.card-product__title
                            a(href="#") Молочный шоколад 36%
                        div.cat-product__comments-bar
                            div.rating-wrap
                                fieldset.rating
                                    input#star05(type='radio', name='rating98', value='5')
                                    label.full(for='star985', title='Awesome - 5 stars')
                                    input#star984half(type='radio', name='rating98', value='4 and a half')
                                    label.half(for='star984half', title='Pretty good - 4.5 stars')
                                    input#star984(type='radio', name='rating98', value='4')
                                    label.full(for='star984', title='Pretty good - 4 stars')
                                    input#star983half(type='radio', name='rating98', value='3 and a half')
                                    label.half(for='star983half', title='Meh - 3.5 stars')
                                    input#star983(type='radio', name='rating98', value='3')
                                    label.full(for='star983', title='Meh - 3 stars')
                                    input#star982half(type='radio', name='rating98', value='2 and a half')
                                    label.half(for='star982half', title='Kinda bad - 2.5 stars')
                                    input#star982(type='radio', name='rating98', value='2')
                                    label.full(for='star982', title='Kinda bad - 2 stars')
                                    input#star981half(type='radio', name='rating98', value='1 and a half')
                                    label.half(for='star981half', title='Meh - 1.5 stars')
                                    input#star981(type='radio', name='rating98', value='1')
                                    label.full(for='star981', title='Sucks big time - 1 star')
                                    input#star98half(type='radio', name='rating98', value='half')
                                    label.half(for='star98half', title='Sucks big time - 0.5 stars')
                                a(href="#" class="comments-icon")
                                    div.comment-icon__inner 525
                        div.card-product__footer
                            div(class="product-buy disabled")
                                div.product-price
                                    span.price 650 р.
                                    span.old-price 790 р.
                                div(class="icon-wrapper")
                                    i(icon="basket")
            //a(href="/product-card.html" class="product-week")
                div.week-title
                    span Товар недели
                    span(id="start-timer" style="display: none") 2018.08.30
                    span#timer 167:43:13
                div
                    div.week-img
                        img(src="img/choklate.jpg")
                    div.week-info
                        span Тест-полоски
                        span.week-title Молочный шоколад 36%
                    div.cat-product__comments-bar
                        div.rating-wrap
                            fieldset.rating
                                input#star05(type='radio', name='rating98', value='5')
                                label.full(for='star985', title='Awesome - 5 stars')
                                input#star984half(type='radio', name='rating98', value='4 and a half')
                                label.half(for='star984half', title='Pretty good - 4.5 stars')
                                input#star984(type='radio', name='rating98', value='4')
                                label.full(for='star984', title='Pretty good - 4 stars')
                                input#star983half(type='radio', name='rating98', value='3 and a half')
                                label.half(for='star983half', title='Meh - 3.5 stars')
                                input#star983(type='radio', name='rating98', value='3')
                                label.full(for='star983', title='Meh - 3 stars')
                                input#star982half(type='radio', name='rating98', value='2 and a half')
                                label.half(for='star982half', title='Kinda bad - 2.5 stars')
                                input#star982(type='radio', name='rating98', value='2')
                                label.full(for='star982', title='Kinda bad - 2 stars')
                                input#star981half(type='radio', name='rating98', value='1 and a half')
                                label.half(for='star981half', title='Meh - 1.5 stars')
                                input#star981(type='radio', name='rating98', value='1')
                                label.full(for='star981', title='Sucks big time - 1 star')
                                input#star98half(type='radio', name='rating98', value='half')
                                label.half(for='star98half', title='Sucks big time - 0.5 stars')
                            a(href="#" class="comments-icon")
                                div.comment-icon__inner 525
                    div.week-buy
                        div.week-price
                            span.price 650 р.
                            span.old-price 790 р.
                        div.icon-wrapper
                            i(icon="basket")
        div.advantages
            div.row-main
                div(class="advantage delivery")
                    div.main-view
                        div.icon-container
                            div.icon-wrapper
                                i(icon="car")
                        span.main-text Отправка в день заказа
                    div.second-view
                        span.main-text Мы делаем все, чтобы Вы получили заказ как можно быстрее
                        div.icon-wrapper
                            i(icon="car2")
                div(class="advantage cert")
                    div.main-view
                        div.icon-container
                            div.icon-wrapper
                                i(icon="cert")
                        span.main-text Сертифицированная продукция
                    div.second-view
                        span.main-text Академия Диабета гарантирует оригинальность продукции
                        div.icon-wrapper
                            i(icon="cert2")
                div(class="advantage pig")
                    div.main-view
                        div.icon-container
                            div.icon-wrapper
                                i(icon="pig")
                        span.main-text Самые низкие цены
                    div.second-view
                        span.main-text Нашли дешевле? Снизим цену!
                        div.icon-wrapper
                            i(icon="pig2")
                div(class="advantage headset")
                    div.main-view
                        div.icon-container
                            div.icon-wrapper
                                i(icon="headset")
                        span.main-text Клиентская поддержка
                    div.second-view
                        span.main-text Мы всегда рады оказать помощь в выборе товаров
                        div.icon-wrapper
                            i(icon="headset2")


        div.categories
            a(href="/category.html" class="category red percent")
                span.cat-title Акции и скидки
                    span.cat-arrow
                        i(icon="arrow-right")
            a(href="/category.html" class="category orange gluk")
                span.cat-title Глюкометры
                    span.cat-arrow
                        i(icon="arrow-right")
            a(href="/category.html" class="category purple test-line")
                span.cat-title Тест-полоски
                    span.cat-arrow
                        i(icon="arrow-right")
            a(href="/category.html" class="category blue syringe")
                span.cat-title Шприц-ручки и иглы
                    span.cat-arrow
                        i(icon="arrow-right")
            a(href="/category.html" class="category green food")
                span.cat-title Здоровое питание
                    span.cat-arrow
                        i(icon="arrow-right")
            a(href="/category.html" class="category yellow glucose")
                span.cat-title Мониторинг глюкозы
                    span.cat-arrow
                        i(icon="arrow-right")

        div(class="follow-news follow-news-purple")
            div
                div.invite
                    h3 Следите за новостями
                    span Будьте в курсе новинок
                        br
                        | и специальных предложений
                div.follow-form
                    form
                        div
                            div.input-wrapper
                                input(type="email" name="email" placeholder="Адрес электронной почты")
                            input(type="submit" value="Подписаться")
                        div.accept
                            label.check-container При отправке данной формы Вы подтверждаете свою дееспособность и согласие на
                                a обработку персональных данных
                                input(type="checkbox" id="accept-follow" name="accept" value="true")
                                span.checkmark

            div.icon-wrapper
                i(icon="tree")

