div.page-row
    div.page-content.page-content--ordering
        div.bread-crumbs
            a(href="/") Главная
            a(href="#") Оформление заказа
        div.content-title
            span Оформление заказа

        form.ordering-content
            div.left-block
                div(class="step step-1")
                    div.step-head
                        div.l-head
                            div.filler
                                div.icon-wrapper
                                    i(icon="o-basket")
                            h3 Товары в заказе
                        span.change-step Изменить
                    div.step-body
                        table
                            thead.step-body__head
                                tr
                                    td
                                    td Наименование
                                    td Скидка
                                    td Цена
                                    td Кол-во
                                    td Сумма
                            tbody
                                - var n = 0
                                    while n++ < 3
                                        tr
                                            td
                                                img(src="img/cat-product-1.png")
                                            td
                                                span Тест-полоски "Контур Плюс" 10 упаковок №50
                                            td
                                                span <span class="visible-sm">Скидка: </span> 20%
                                            td
                                                span.price <span class="visible-sm">Цена: </span> 475 р.
                                            td
                                                span <span class="visible-sm">Кол-во: </span> 12 шт.
                                            td
                                                span.price  <span class="visible-sm">Сумма: </span> 5 700 р.
                    div.step-foot
                        input(type="button" class="back" value="Назад" style="visibility: hidden;")
                        input(type="button" class="next" value="Далее")
                div(class="step step-2")
                    div.step-head
                        div.l-head
                            div.filler
                                div.icon-wrapper
                                    i(icon="o-region-delivery")
                            h3 Регион доставки
                        span.change-step Изменить
                    div.step-body
                        div.name--value
                            div.field
                                span Тип плательщика*
                                div.value
                                    div.accept
                                        label.check-container Физ. лицо
                                            input(type="radio" id="male" name="sex" value="male")
                                            span.checkradio
                                    div.accept
                                        label.check-container Юр. лицо
                                            input(type="radio" id="female" name="sex" value="female")
                                            span.checkradio
                            div.field
                                span Название профиля*
                                div.value
                                    span Дарья Тёркина
                                    input(type="text" name="profile-name" required)
                                    div.icon-wrapper
                                        i(icon="pencil")
                            div.field
                                span Местоположение*
                                div.value
                                    span Введите название города
                                    input(type="text" name="location" required)
                                    div.icon-wrapper
                                        i(icon="pencil")
                            div.field
                                span Индекс*
                                div.value
                                    span 630001
                                    input(type="text" name="index" required)
                                    div.icon-wrapper
                                        i(icon="pencil")
                    div.step-foot
                        input(type="button" class="back" value="Назад")
                        input(type="button" class="next" value="Далее")
                div(class="step step-3")
                    div.step-head
                        div.l-head
                            div.filler
                                div.icon-wrapper
                                    i(icon="o-delivery")
                            h3 Доставка
                        span.change-step Изменить
                    div.step-body
                        div
                            input(type="radio" name="delivery" id="pickup")
                            label(class="delivery-type" for="pickup")
                                div.circle
                                    span ?
                                    span.tip В пунктах выдачи
                                div.img-wrapper
                                    img(src="img/ordering/package.png")
                                div.title
                                    span Самовывоз

                            input(type="radio" name="delivery" id="delivery-in-city")
                            label(class="delivery-type" for="delivery-in-city")
                                div.circle
                                    span ?
                                    div.tip Дзержинский, Железнодорожный, Заельцовский, Калиниский, Октябрьский, Центральный районы, Дзержинский, Ленинский, Кировский районы
                                div.img-wrapper
                                    img(src="img/ordering/delivery.png")
                                div.title
                                    span Доставка по городу

                            input(type="radio" name="delivery" id="outside")
                            label(class="delivery-type" for="outside")
                                div.circle
                                    span ?
                                    span.tip На краю света в киоске у дороги
                                div.img-wrapper
                                    img(src="img/ordering/delivery.png")
                                div.title
                                    span Отдалённые районы

                            input(type="radio" name="delivery" id="cdek-pickup")
                            label(class="delivery-type" for="cdek-pickup")
                                div.circle
                                    span ?
                                div.img-wrapper
                                    img(src="img/ordering/cdek.png")
                                div.title
                                    span СDEK самовывоз

                            input(type="radio" name="delivery" id="cdek-courier")
                            label(class="delivery-type" for="cdek-courier")
                                div.circle
                                    span ?
                                div.img-wrapper
                                    img(src="img/ordering/cdek.png")
                                div.title
                                    span CDEK курьерская доставка

                            input(type="radio" name="delivery" id="post")
                            label(class="delivery-type" for="post")
                                div.circle
                                    span ?
                                div.img-wrapper
                                    img(src="img/ordering/post.png")
                                div.title
                                    span Почта России

                    div.step-foot
                        input(type="button" class="back" value="Назад")
                        input(type="button" class="next" value="Далее")
                div(class="step step-4")
                    div.step-head
                        div.l-head
                            div.filler
                                div.icon-wrapper
                                    i(icon="o-pay")
                            h3 Оплата
                        span.change-step Изменить
                    div.step-body
                        input(type="radio" name="delivery" id="cash")
                        label(class="payment-type" for="cash")
                            div.img-wrapper
                                img(src="img/ordering/cash.png")
                            div.title
                                span Наличный расчёт

                        input(type="radio" name="delivery" id="bank-transfer")
                        label(class="payment-type" for="bank-transfer")
                            div.img-wrapper
                                img(src="img/ordering/сashless.png")
                            div.title
                                span Банковский перевод

                        input(type="radio" name="delivery" id="visa")
                        label(class="payment-type" for="visa")
                            div.img-wrapper
                                img(src="img/ordering/visa--m-card.png")
                            div.title
                                span Оплата картами Visa/MasterCard
                        input(type="radio" name="delivery" id="sber")
                        label(class="payment-type" for="sber")
                            div.img-wrapper
                                img(src="img/ordering/sber.png")
                            div.title
                                span Сбербанк

                    div.step-foot
                        input(type="button" class="back" value="Назад")
                        input(type="button" class="next" value="Далее")
                div(class="step step-5")
                    div.step-head
                        div.l-head
                            div.filler
                                div.icon-wrapper
                                    i(icon="o-buyer")
                            h3 Покупатель
                        span.change-step Изменить
                    div.step-body
                        div.name--value
                            div.field
                                span Ф.И.О.*
                                div.value
                                    span Дарья Тёркина
                                    input(type="text" name="bio")
                                    div.icon-wrapper
                                        i(icon="pencil")
                            div.field
                                span E-Mail*
                                div.value
                                    span mail@example.net
                                    input(type="text" name="email")
                                    div.icon-wrapper
                                        i(icon="pencil")
                            div.field
                                span Телефон*
                                div.value
                                    span +7 987 654 32 10
                                    input(type="text" name="tel")
                                    div.icon-wrapper
                                        i(icon="pencil")
                            div.field
                                span Адрес доставки*
                                div.value
                                    span Северный полюс
                                    input(type="text" name="address")
                                    div.icon-wrapper
                                        i(icon="pencil")
                            div.field
                                span Комментарий
                                div.value
                                    span Оставить у первого айсберга
                                    textarea(name="comment")
                                    div.icon-wrapper
                                        i(icon="pencil")

                    div.step-foot
                        input(type="button" class="back" value="Назад")
                        input(type="submit" class="next" value="Оформить заказ")


            div.right-block
                div.result--coupon
                    div.result
                        div
                            span Товары
                            span 15 666 р.
                        div
                            span Доставка
                            span 112 р.
                        div
                            span Общий вес
                            span 0.247 кг
                        input(type="submit" class="checkout" value="Оформить заказ")
                    div.coupon
                        input(type="text" name="coupon" placeholder="У вас есть купон?")
                        input(type="submit" value=">")

