div.page-row
    div.page-content.page-content--comments
        div.bread-crumbs
            a(href="/") Главная
            a(href="#") Отзывы
        div.content-title
            span Отзывы

        div.reviews-content
            div.header
                button Написать отзыв
            div.body
                div.review-container
                    div.review
                        div.user
                            p.name Дарья
                            p.date 16 июня 2018

                        div.comment
                            div.user.user--sm
                                div
                                    p.name Дарья
                                    p.date 16 июня 2018
                                div.actions
                                    div.likes
                                        div.icon-wrapper
                                            i(icon="like")
                                        span 135
                                    div.dislikes
                                        div.icon-wrapper
                                            i(icon="dislike")
                                        span 62
                            div.text Огромное спасибо!!! Чудесный магазин. Впервые сделала заказ, очень срочно нужны были полосочки для глюкометра... попросила в комментариях к заказу отправить очень быстро))). Все мои пожелания были исполнены!!! Через четыре дня получила свою посылочку!!! Надо сказать о том что расстояние до Вологодской Области не маленькое... а ещё в посылке наклейки на глюкометр и магнитик! Очень приятно было! Благодарю вас !!! Теперь только ваш магазин!!!
                            div.actions
                                div.reply-icon
                                    div.icon-wrapper
                                        i(icon="reply")
                                    span Ответить
                                div.comments
                                    div.icon-wrapper
                                        i(icon="comments")
                                    span 8 
                                        span.hidden-sm Комментриев
                                div.likes
                                    div.icon-wrapper
                                        i(icon="like")
                                    span 135
                                div.dislikes
                                    div.icon-wrapper
                                        i(icon="dislike")
                                    span 62

                    div(class="replies-container hidden-replies")
                        div.replies
                            div.reply
                                div.icon-block
                                    div.icon-wrapper
                                        i(icon="comments")
                                div.reply-text
                                    div.reply-user
                                        p.name Виталий
                                        p.date 16 июня 2018
                                    div.text Здравствуйте) Заказывала низкоуглеводные сладости и осталось довольна. Особенно порадовала смесь для блинов и оладий, не ожидала что будет такая вкуснятина). Спасибо за товар и быструю доставку)
                            div.reply
                                div.icon-block
                                    div.icon-wrapper
                                        i(icon="comments")
                                div.reply-text
                                    div.reply-user
                                        p.name Виталий
                                        p.date 16 июня 2018
                                    div.text Здравствуйте) Заказывала низкоуглеводные сладости и осталось довольна. Особенно порадовала смесь для блинов и оладий, не ожидала что будет такая вкуснятина). Спасибо за товар и быструю доставку)
                div.review-container
                    div.review
                        div.user
                            p.name Дарья
                            p.date 16 июня 2018

                        div.comment
                            div.user.user--sm
                                div
                                    p.name Дарья
                                    p.date 16 июня 2018
                                div.actions
                                    div.likes
                                        div.icon-wrapper
                                            i(icon="like")
                                        span 135
                                    div.dislikes
                                        div.icon-wrapper
                                            i(icon="dislike")
                                        span 62
                            div.text Огромное спасибо!!! Чудесный магазин. Впервые сделала заказ, очень срочно нужны были полосочки для глюкометра... попросила в комментариях к заказу отправить очень быстро))). Все мои пожелания были исполнены!!! Через четыре дня получила свою посылочку!!! Надо сказать о том что расстояние до Вологодской Области не маленькое... а ещё в посылке наклейки на глюкометр и магнитик! Очень приятно было! Благодарю вас !!! Теперь только ваш магазин!!!
                            div.actions
                                div.reply-icon
                                    div.icon-wrapper
                                        i(icon="reply")
                                    span Ответить
                                div.comments
                                    div.icon-wrapper
                                        i(icon="comments")
                                    span 8 
                                        span.hidden-sm Комментриев
                                div.likes
                                    div.icon-wrapper
                                        i(icon="like")
                                    span 135
                                div.dislikes
                                    div.icon-wrapper
                                        i(icon="dislike")
                                    span 62


                    div(class="replies-container hidden-replies")
                        div.replies
                            div.reply
                                div.icon-block
                                    div.icon-wrapper
                                        i(icon="comments")
                                div.reply-text
                                    div.reply-user
                                        p.name Виталий
                                        p.date 16 июня 2018
                                    div.text Здравствуйте) Заказывала низкоуглеводные сладости и осталось довольна. Особенно порадовала смесь для блинов и оладий, не ожидала что будет такая вкуснятина). Спасибо за товар и быструю доставку)

        div.send-review-container
            div.send-review
                div.header
                    h2 Оставить отзыв
                    div.icon-wrapper
                        i(icon="x")
                div.body
                    form
                        div.input-row
                            input(type="text" name="name" placeholder="Имя")
                            input(type="email" name="email" placeholder="Электронная почта")
                        textarea(name="review" placeholder="Отзыв")
                        textarea(name="wish" placeholder="Ваши пожелания (будет виден только для администрации сайта)")
                        input(type="submit" value="Отправить")
        div.send-reply-container
            div.send-reply
                div.header
                    h2 Прокомментировать
                    div.icon-wrapper
                        i(icon="x")
                div.body
                    form
                        div.input-row
                            input(type="text" name="name" placeholder="Имя")
                            input(type="email" name="email" placeholder="Электронная почта")
                        textarea(name="review" placeholder="Комментарий")
                        input(type="submit" value="Отправить")




