div.page-row
    div.page-content
        div.bread-crumbs
            a(href="/") Главная
            a(href="#") Все для глюкометров
            a(href="#") Визуальные тест-полоски
            a(href="#") Тест-полоски "Контур Плюс" 10 упаковок N50
        div.product-details
            h1 Тест-полоски "Контур Плюс" 10 упаковок N50
            div.details
                div.product-photo
                    div.main-photo
                        a(class="product-favorites active" href="#")
                            i(icon="star" class="product-favorites__icon")
                        div.product-discount
                            span(class="discount" color="green" direction="left") Акция
                            span(class="discount" color="blue" direction="left") Новинка
                        div.product-actions
                            span(class="product-action product-action_gift")
                                div.product-action__popup.product-action__popup_big
                                    div.product-action__popup-title Подарок при покупке!
                                    a(href="#" class="btn-grey") Подробнее
                                i.icon-gift.product-action__icon
                                    include ../../img/icons/gift.svg
                            span(class="product-action product-action_gift")
                                i(icon="o-delivery" class="product-action__icon")
                                div.product-action__popup
                                    div.product-action__popup-title Бесплатная доставка!
                                    a(href="#" class="btn-grey") Подробнее
                        img(src="img/cat-product-1.png")
                    div.thumbnails.js-thumbnails
                        div.thumbnail
                            img(src="img/cat-product-1.png")
                        div.thumbnail
                            img(src="img/cat-product-2.png")
                        div.thumbnail
                            img(src="img/cat-product-1.png")
                        div.thumbnail
                            img(src="img/cat-product-2.png")
                        div.thumbnail
                            img(src="img/cat-product-1.png")
                div.order-details
                    div.order-price
                        div
                            span Цена
                            div
                                span.price 650 р.
                                span.old-price 750 р.
                        div.found-cheaper
                            input(type="button" value="Нашли дешевле?")
                    div.quantity
                        span Количество в упаковке
                        div
                            input(type="radio" name="dimension" id="25" value="25")
                            label(for="25" class="active") 25
                            input(type="radio" name="dimension" id="50" value="50")
                            label(for="50") 50
                            input(type="radio" name="dimension" id="100" value="100")
                            label(for="100" class="unavailable") 100
                                div.unavailable-pop-up
                                    p Размера нет в наличии
                                    //div.open-empty-form
                                        span Под заказ
                    div.dimensions
                        span Размер
                        div
                            input(type="radio" name="dimension" id="qv-xs" value="xs")
                            label(for="qv-xs") xs

                            input(type="radio" name="dimension" id="qv-s" value="s")
                            label(for="qv-s") s

                            input(type="radio" name="dimension" id="qv-m" value="m")
                            label(for="qv-m") m

                            input(type="radio" name="dimension" id="qv-l" value="l")
                            label(for="qv-l" class="active") l

                            input(type="radio" name="dimension" id="qv-xl" value="xl")
                            label(for="qv-xl") xl

                            input(type="radio" name="dimension" id="qv-xxl" value="xxl")
                            label(for="qv-xxl" class="unavailable") xxl

                            input(type="radio" name="dimension" id="qv-xxxl" value="xxxl")
                            label(for="qv-xxxl" class="unavailable") xxxl
                                div.unavailable-pop-up
                                    p Размера нет в наличии
                                    //div.open-empty-form
                                        span Под заказ
                    div.colors
                        span Цвет
                        div
                            input(type="radio" name="color" id="qv-red" value="red")
                            label(for="qv-red" class="active")
                                span(color="red")
                            input(type="radio" name="color" id="qv-green" value="green")
                            label(for="qv-green")
                                span(color="#008000")

                            input(type="radio" name="color" id="qv-blue" value="blue")
                            label(for="qv-blue" class="unavailable")
                                span(color="blue")
                                div.unavailable-pop-up
                                    p Размера нет в наличии
                                    //div.open-empty-form
                                        span Под заказ
                    span(class="exist" exist="false")

                    div.divider

                    div.product-card__rating
                         div.rating-wrap
                            fieldset.rating
                                input#star05(type='radio', name='rating99', value='5')
                                label.full(for='star995', title='Awesome - 5 stars')
                                input#star994half(type='radio', name='rating99', value='4 and a half')
                                label.half(for='star994half', title='Pretty good - 4.5 stars')
                                input#star994(type='radio', name='rating99', value='4')
                                label.full(for='star994', title='Pretty good - 4 stars')
                                input#star993half(type='radio', name='rating99', value='3 and a half')
                                label.half(for='star993half', title='Meh - 3.5 stars')
                                input#star993(type='radio', name='rating99', value='3')
                                label.full(for='star993', title='Meh - 3 stars')
                                input#star992half(type='radio', name='rating99', value='2 and a half')
                                label.half(for='star992half', title='Kinda bad - 2.5 stars')
                                input#star992(type='radio', name='rating99', value='2')
                                label.full(for='star992', title='Kinda bad - 2 stars')
                                input#star991half(type='radio', name='rating99', value='1 and a half')
                                label.half(for='star991half', title='Meh - 1.5 stars')
                                input#star991(type='radio', name='rating99', value='1')
                                label.full(for='star991', title='Sucks big time - 1 star')
                                input#star99half(type='radio', name='rating99', value='half')
                                label.half(for='star99half', title='Sucks big time - 0.5 stars')
                            div.comments-text Отзывы 958

                    div.divider

                    div.count
                        div.minus
                            span
                        input(class="count-value" maxlength="3" value="22")
                        div.plus
                            span

                    div.order-btns
                        <a class="empty-product-new" href="#"><span>Под заказ</span></a>
                        <a class="btn-grey-border" href="#"><span>Купить в 1 клик</span></a>
                        //input(class="to-basket" type="submit" value="В корзину")
                        //input(class="buy-one" type="button" value="Купить в один клик")
                        //div.star-btn
                            div.icon-wrapper
                                i(icon="star")
        div.product-info
            div.tabs-btn
                div(class="tab-btn active-tab-btn" tab="1") Характеристики
                div(class="tab-btn" tab="2") Опиание
                div(class="tab-btn" tab="3") Отзывы <span>956</span>

            div.tabs
                div(class="tab tab-1 attrs")
                    p Страна производитель:
                        span Германия
                    p Срок годности:
                        span 30.09.2019
                div(class="tab tab-2 desc")
                    p Тест-полоски Акку-Чек Актив предназначены для всех глюкометров из серии Акку-Чек Актив.
                    p Для проведения измерения на крупные тест-полоски необходимо нанести каплю крови в объеме 1-2 мкл.
                    p Тест-полоски можно использовать в течение всего срока годности, указанного на упаковке. Для обеспечения получения точных результатов прибор осуществляет проверку срока годности полосок с помощью кодовой пластинки и выдает предупреждение, в случае если срок годности тест-полоски истек.
                    p Система определяет необходимость в нанесении дополнительной капли крови и Вы можете нанести дополнительную каплю крови на тест-полоску Акку-Чек Актив в течение 5 секунд во время ее нахождения в приборе (нанесение дополнительной капли крови вне прибора возможно в течение 15 секунд).
                    p Нанести кровь на тест-полоску можно внутри или вне прибора.
                    p Для вторичного визуального контроля результатов измерения уровня глюкозы в крови можно просто сравнить цвет на контрольном окошке тест-полоски с цветом, указанным на тубусе.
                    p В целях сохранения качества тест-полосок необходимо закрывать тубус сразу же после извлечения тест-полоски.
                    p Полоски калиброваны по плазме крови.
                div(class="tab tab-3 testimonials")
                    div.tab__title Будьте первым, кто оставит свой отзыв
                    div.rating-wrap
                        div.comments-text-before Оценка
                        fieldset.rating.rating_big
                            input#star05(type='radio', name='rating999', value='5')
                            label.full(for='star9995', title='Awesome - 5 stars')
                            input#star9994half(type='radio', name='rating999', value='4 and a half')
                            label.half(for='star9994half', title='Pretty good - 4.5 stars')
                            input#star9994(type='radio', name='rating999', value='4')
                            label.full(for='star9994', title='Pretty good - 4 stars')
                            input#star9993half(type='radio', name='rating999', value='3 and a half')
                            label.half(for='star9993half', title='Meh - 3.5 stars')
                            input#star9993(type='radio', name='rating999', value='3')
                            label.full(for='star9993', title='Meh - 3 stars')
                            input#star9992half(type='radio', name='rating999', value='2 and a half')
                            label.half(for='star9992half', title='Kinda bad - 2.5 stars')
                            input#star9992(type='radio', name='rating999', value='2')
                            label.full(for='star9992', title='Kinda bad - 2 stars')
                            input#star9991half(type='radio', name='rating999', value='1 and a half')
                            label.half(for='star9991half', title='Meh - 1.5 stars')
                            input#star9991(type='radio', name='rating999', value='1')
                            label.full(for='star9991', title='Sucks big time - 1 star')
                            input#star999half(type='radio', name='rating999', value='half')
                            label.half(for='star999half', title='Sucks big time - 0.5 stars')
                    form.rating-form.form
                        div.field-wrap.field-wrap_double
                            div.field
                                input(type="text" placeholder="Имя")
                            div.field
                                input(type="text" placeholder="Электронная почта")
                        div.field
                            textarea(placeholder="Отзыв")
                        div.field.field-submit
                            button(type="submit" class="btn-submit") Отправить  
        div.product-slider-wrap
            div.product-slider__title  С этим товаром покупают
            div.product-slider
               - var n = 0
                while n++ < 6
                    div.product-slider__slide
                        div.card-product
                            div.card-product__inner
                                div.card-product__img
                                    a(href="#" class="card-product__img-link")
                                        img(src="img/cat-product-2.png")
                                    a(href="#" class="quick-view") Быстрый просмотр
                                    div.product-discount
                                        span(class="discount" color="green" direction="left") Акция
                                        span(class="discount" color="blue" direction="left") Новинка
                                        span(class="discount" color="red" direction="left") Скидка
                                        span(class="discount" color="yellow" direction="left") Хит
                                    div.product-actions
                                        span(class="product-action product-action_gift")
                                            div.product-action__popup.product-action__popup_big
                                                div.product-action__popup-title Подарок при покупке!
                                                a(href="#" class="btn-grey") Подробнее
                                            i.icon-gift.product-action__icon
                                                include ../../img/icons/gift.svg
                                        span(class="product-action product-action_gift")
                                            i(icon="o-delivery" class="product-action__icon")
                                            div.product-action__popup
                                                div.product-action__popup-title Бесплатная доставка!
                                                a(href="#" class="btn-grey") Подробнее
                                    a(class="product-favorites" href="#")
                                        i(icon="star" class="product-favorites__icon")
                                div.card-product__content
                                    div.card-product__category Тест-полоски
                                    div.card-product__title
                                        a(href="#") Тест-полоски "Контур Плюс" 10 упаковок №50 Тест-полоски "Контур Плюс" 10 упаковок №50
                                    div.cat-product__comments-bar
                                        div.rating-wrap
                                            fieldset.rating
                                                input(id=`star${n}5`, type='radio', name=`rating${n}`, value='5')
                                                label.full(for=`star${n}5`, title='Awesome - 5 stars')
                                                input(id=`star${n}5half` type='radio', name=`rating${n}`, value='4 and a half')
                                                label.half(for=`star${n}5half`, title='Pretty good - 4.5 stars')
                                                input(id=`star${n}4` type='radio', name=`rating${n}`, value='4')
                                                label.full(for='star${n}4', title='Pretty good - 4 stars')
                                                input(id=`star${n}3half` type='radio', name=`rating${n}`, value='3 and a half')
                                                label.half(for=`star${n}3half`, title='Meh - 3.5 stars')
                                                input(id=`star${n}3` type='radio', name=`rating${n}`, value='3')
                                                label.full(for=`star${n}3`, title='Meh - 3 stars')
                                                input(id=`star${n}2half` type='radio', name=`rating${n}`, value='2 and a half')
                                                label.half(for=`star${n}2half`, title='Kinda bad - 2.5 stars')
                                                input(id=`star${n}2` type='radio', name=`rating${n}`, value='2')
                                                label.full(for=`star${n}2`, title='Kinda bad - 2 stars')
                                                input(id=`star${n}1half` type='radio', name=`rating${n}`, value='1 and a half')
                                                label.half(for=`star${n}1half`, title='Meh - 1.5 stars')
                                                input(id=`star${n}1` type='radio', name=`rating${n}`, value='1')
                                                label.full(for=`star${n}1`, title='Sucks big time - 1 star')
                                                input(id=`star${n}half` type='radio', name=`rating${n}`, value='half')
                                                label.half(for=`star${n}half`, title='Sucks big time - 0.5 stars')
                                            a(href="#" class="comments-icon")
                                                div.comment-icon__inner 525
                                    div.card-product__footer
                                        div(class="product-buy disabled")
                                            div.product-price
                                                span.price 549 989 р.
                                                span.old-price 867 632 р.
                                            div(class="icon-wrapper empty-product")
                                                i(icon="disabled-basket2")


        div.cheaper-form-container
            div.cheaper-form
                div.header
                    h3 Нашли дешевле?
                        br
                        | Снизим цену!
                    div.icon-wrapper
                        i(icon="x")
                div.body
                    form
                        input(type="text" name="name" placeholder="Имя*")
                        input(type="email" name="email" placeholder="Почта*")
                        input(type="tel" name="tel" placeholder="Телефон*")
                        input(type="text" name="url" placeholder="Ссылка на товар с низкой ценой")
                        textarea(name="comment" placeholder="Сообщение")
                        div.accept
                            label.check-container При отправке данной формы Вы подтверждаете свою дееспособность и согласие на
                                a обработку персональных данных
                                input(type="checkbox" id="accept-follow" name="accept" value="true")
                                span.checkmark
                        input(type="submit" value="Заказать звонок")




        div.request-empty-product-container
            div.request-empty-product
                // Открывается при клике на корзину отсутствующего товара
                div.form-wrapper
                    div.header
                        h2 Заказать товар. Тест-полоски "Контур Плюс" 10 упаковок №50
                        div.icon-wrapper
                            i(icon="x")
                    div.body
                        div.poster
                            img(src="img/cat-product-2.png")
                        div.form
                            form
                                div.field
                                    span Имя*
                                    div.value
                                        input(type="text" name="name")
                                div.field
                                    span Телефон*
                                    div.value
                                        input(type="tel" name="tel")
                                div.field
                                    span Время звонка*
                                    div.value
                                        input(type="text" name="comment" placeholder="Например: Вторник 16:30")
                                div.field
                                    span Количество
                                    div(class="value count-value")
                                        div.count
                                            div.minus
                                                span
                                            input(class="count-value" maxlength="3" value="22")
                                            div.plus
                                                span
                                div.field
                                    div.accept
                                        label.check-container При отправке данной формы Вы подтверждаете свою дееспособность и согласие на
                                            a(href="# ") обработку персональных данных
                                            input(type="checkbox" id="accept-request" name="accept" value="true")
                                            span.checkmark

                                div.submit
                                    input(type="submit" value="Отправить")
                // Открывается если в url присутствует hash #req-thx (http://localhost:9000/category.html#req-thx)
                div.thx
                    div.icon-wrapper
                        i(icon="x")
                    h2 Спасибо, ваше сообщение принято!

                    p Товар добавлен в раздел
                        span &nbsp;Ожидаемые товары,
                        br
                        | если вы
                        span &nbsp;Зарегистрированы


        div.buy-one-click-container
            div.buy-one-click
                // Открывается при клике на корзину отсутствующего товара
                div.form-wrapper
                    div.header
                        h2 Купить в 1 клик
                        div.icon-wrapper
                            i(icon="x")
                    div.body
                        div.poster
                            img(src="img/cat-product-2.png")
                        div.form
                            form
                                div.field
                                    span Имя*
                                    div.value
                                        input(type="text" name="name")
                                div.field
                                    span Телефон*
                                    div.value
                                        input(type="tel" name="tel")
                                div.field
                                    span Email*
                                    div.value
                                        input(type="email" name="email")
                                div(class="field f-msg")
                                    span Сообщение
                                    div.value
                                        textarea(name="comment")
                                div.field
                                    span(style="visibility: hidden") спан не трогать, текст удалять можно :)
                                    div.value
                                        // Капчу вставлять сюда
                                        img(width="98%" src="https://cms-assets.tutsplus.com/uploads/users/30/posts/23024/image/dark.png")
                                div.field
                                    div.accept
                                        label.check-container При отправке данной формы Вы подтверждаете свою дееспособность и согласие на
                                            a(href="# ") обработку персональных данных
                                            input(type="checkbox" id="accept-request" name="accept" value="true")
                                            span.checkmark

                                div.submit
                                    input(type="submit" value="Купить")
                // Открывается если в url присутствует hash #req-thx (http://localhost:9000/category.html#req-thx)
                div.thx
                    div.icon-wrapper
                        i(icon="x")
                    h2 Спасибо, ваше сообщение принято!

                    p Товар добавлен в раздел
                        span &nbsp;Ожидаемые товары,
                        br
                        | если вы
                        span &nbsp;Зарегистрированы
