div.page-row
    div.page-content.page-content--review-item
        div.bread-crumbs
            a(href="/") Главная
            a(href="#") Акции и скидки
            a(href="#") Установка i-Port Advance

        div.top-content
            div.top-left-content
                span Бесплатная доставка тест-полосок Контур Плюс
                div.img-wrapper
                    img(src="img/stock.png")
                div.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                div.video
                    img(src="https://fakeimg.pl/894x525?text=video player")
                div.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                div.description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

                div.divider
                div.share-block
                    div.left-block
                        span Поделиться:
                        div(class="icon-wrapper vk")
                            i(icon="vk")
                        div(class="icon-wrapper fb")
                            i(icon="fb")
                        div(class="icon-wrapper twitter")
                            i(icon="twitter")
                        div(class="icon-wrapper ok")
                            i(icon="ok")
                    div.right-block
                        span Акция действуйте с 4 по 17 июня 2018 г.
                        div.views
                            div.icon-wrapper
                                i(icon="eye")
                            span 5 326

            div.top-right-content
                div(class="subscription first-subscription")
                    h2 Следите за новостями
                    span Будьте в курсе новинок и специальных предложений
                    form
                        input(type="email" name="email" placeholder="Электронная почта")
                        input(type="submit" value="Подписаться")
                div.subscription
                    h2
                        a(href="#") Мы Вконтакте
                    // Vk widget
                    a(href="https://vk.com")
                        i(icon='vk')
                        span Подписаться на новости
                div.subscription
                    h2
                        a(href="#") Мы в Инстаграме
                    // Inst widget

                    a(href="https://www.instagram.com")
                        i(icon='inst')
                        span Подписаться на новости