div.page-row
    div(class="page-content service-page")
        div.bread-crumbs
            a(href="/") Главная
            a(href="#") Сервисный центр
        div.content-title
            span Сервисный центр

        div.service-content
            p Продукция, представленная в наших магазинах, сертифицирована и имеет гарантию от производителя.
                br
                br
                | При совершении покупки медицинских приборов в наших магазинах, наши специалисты в Вашем присутствии обязательно проверят работоспособность и комплектацию техники, а также, при необходимости, обучат Вас правильному использованию прибора.
                br
                br
                | В случае возникновения неисправностей не пытайтесь самостоятельно произвести ремонт.
                br
                br
                | Вы можете обратиться в сервисный центр компании-производителя по бесплатным телефонам горячих линий:

            .service-table-wrap
                table
                    thead
                        tr
                            td Компания
                            td Телефон
                            td Время приема звонков

                    tbody
                        tr
                            td
                                img(src="img/services/1.png")
                            td 8 800 200-76-36

                            td Круглосуточно
                        tr
                            td
                                img(src="img/services/2.png")
                            td 8 800 200-88-99

                            td с 9:00 до 16:00 по Мск
                        tr
                            td
                                img(src="img/services/3.png")
                            td 8 800 200-83-53

                            td Пн - Пт с 9:00 до 21:00
                        tr
                            td
                                img(src="img/services/4.png")
                            td 8 800 250-17-50

                            td с 9:00 до 18:00 по Мск
                        tr
                            td
                                img(src="img/services/5.png")
                            td 8 800 200-44-43

                            td Круглосуточно
                        tr
                            td
                                img(src="img/services/6.png")
                            td 8 495 925-77-46

                            td с 9:00 до 18:00 по Мск
                        tr
                            td
                                img(src="img/services/7.png")
                            td 8 (495) 971-19-44

                            td с 9:00 до 18:00 по Мск
                        tr
                            td
                                img(src="img/services/6.png")
                            td 8 800 775-15-08

                            td с 9:00 до 18:00 по Мск
                        tr.novo-nordisk
                            td
                                img(src="img/services/7.png")
                            td 8 800 333-37-06

                            td с 9:00 до 18:00 по Мск

        div(class="follow-news follow-news-white")
            div
                div.invite
                    h3 Следите за новостями
                    span Будьте в курсе новинок
                        br
                        | и специальных предложений
                div.follow-form
                    form
                        div
                            div.input-wrapper
                                input(type="email" name="email" placeholder="Адрес электронной почты")
                            input(type="submit" value="Подписаться")
                        div.accept
                            label.check-container При отправке данной формы Вы подтверждаете свою дееспособность и согласие на
                                a обработку персональных данных
                                input(type="checkbox" id="accept" name="accept" value="true")
                                span.checkmark

            div.icon-wrapper
                i(icon="tree")


