div.page-row
    div.page-content.page-content--ship
        div.bread-crumbs
            a(href="/") Главная
            a(href="#") Доставка и оплата
        div.content-title
            span Доставка и оплата

        div.tabs-btn
            div(class="tab-btn active-tab-btn" tab="1") Способы доставки
            div(class="tab-btn" tab="2") Способы оплаты

        div.tabs
            div(class="tab tab-1 shipping")
                div.substrate
                    h2.sub-title При оформлении заказа на сайте Вы можете получить Ваш заказ следующими способами
                    h2 1. Самовывоз из магазина
                    span Самостоятельно забрать заказ можно в офисе
                div.substrate
                    h2 2. Стоимость доставки курьером
                    span Стоимость курьерской доставки товара из магазина зависит от района города Новосибирска, в который необходимо доставить товар:
                        br
                        | Возможна доставка заказа «день в день» при доплате 50 руб. к существующему тарифу.
                    table
                        tbody
                            tr
                                td
                                    div
                                        span Правый берег
                                        span Дзержинский, Железнодорожный, Заельцовский, Калиниский, Октябрьский, Центральный районы
                                td
                                    div
                                        span 200 р.
                            tr
                                td
                                    div
                                        span Левый берег
                                        span Ленинский, Кировский районы
                                td
                                    div
                                        span 200 р.
                            tr
                                td
                                    div
                                        span Отдалённые районы
                                        span Советский, Первомайский районы, пос. Краснообск, г. Обь, пос. Пашино
                                td
                                    div
                                        span 300 р.
                            tr
                                td
                                    div
                                        span Кольцово
                                td
                                    div
                                        span 350 р.

                    h3 Время доставки
                    span Время доставки согласовывается с менеджером, который обязательно свяжется с Вами в ближайшее время после того, как Вы разместите свой заказ.

                    div.imp
                        span Внимание!
                            span Неправильно указанный номер телефона, неточный или неполный адрес могут привести к дополнительной задержке! Пожалуйста, внимательно проверяйте Ваши персональные данные при регистрации и оформлении заказа. Конфиденциальность ваших регистрационных данных гарантируется.
                        span Доставка выполняется в будние дни с 10:00 до 18:00 часов, в выходные дни доставка не осуществляется, поэтому при оформлении заказа планируйте удобное для вас время доставки. Товары, заказанные Вами в субботу и воскресенье, доставляются в понедельник. Время осуществления доставки зависит от времени размещения заказа и наличия товара на складе. Если заказ подтвержден менеджером, товар может быть доставлен на следующий рабочий день;

                    h3 Место доставки
                    span Доставка осуществляется по адресу, указанному при оформлении заказа. Если необходимо доставить товар по иному адресу, необходимо сообщить адрес менеджеру, который свяжется с Вами непосредственно после оформления заказа на сайте.

                    h3 Правила
                    span При доставке Вам будут переданы все необходимые документы на покупку: товарный, кассовый чеки. При оформлении покупки на организацию, Вам будут переданы счет-фактура, а также накладная, в которой необходимо поставить печать Вашей организации. Цена, указанная в переданных Вам курьером документах, является окончательной, курьер не обладает правом корректировки цены.

                    div.imp
                        span Внимание!
                            span Просим Вас помнить, что все технические параметры и потребительские свойства приобретаемого товара Вам следует уточнять у нашего менеджера до момента покупки товара. В обязанности работников Службы доставки не входит осуществление консультаций и комментариев относительно потребительских свойств товара.
                        span При доставке Вам заказанного товара проверяйте комплектность доставленного товара, его работоспособность, соответствие доставленного товара описанию на нашем сайте, также проверьте товар на наличие механических повреждений. При не заявлении Вами при получении товара претензий по поводу механических повреждений, в дальнейшем подобные претензии не рассматриваются.
                        span В случае вопросов, пожеланий и претензий обращайтесь к нам по тел.: +7(383) 286-23-23, +7(913) 007-23-23

                div.substrate
                    h2 3. Доставка по городам России
                    span Мы отправляем посылки по всей России, поэтому если Вы находитесь в другом городе, и хотите приобрести товар в нашем магазине - просто выберите способ доставки в ваш город. 
                    div(class="ship-method p-rus")
                        h1 3.1. <span class="hidden-sm">Почтой России</span>
                        img(src="img/ship-pay/post-rus.png")
                    span Почтовые расходы рассчитываются на сайте в зависимости от тарифов Почты России. При почтовой пересылке возможны два варианта оплаты Вашего заказа:
                    br
                    span 1. Оплата сразу на сайте или оплата счета (через банк или Сбербанк онлайн) - в этом случае Вы получаете посылку в почтовом отделении, указанном  при оформлении заказа без дополнительных сборов и платежей. 
                    br
                    span 2. Наложенный платеж - оплата товара в почтовом отделении при получении посылки, но данный способ является самым дорогим способом оплаты товара, т.к. в наложенный платеж включается стоимость товара+стоимость пересылки+страховой сбор+комиссия за перевод денежных средств при получении посылки. На сайте рассчитывается примерная стоимость наложенного платежа. Наши менеджеры всегда помогут Вам рассчитать точную стоимость посылки с наложенным платежом. Подтверждением вашей оплаты является фискальный кассовый чек, вручаемый во время получения и оплаты заказа.

                    div(class="ship-method sdek")
                        h1 3.2. <span class="hidden-sm">Транспортной компанией СДЕК</span>
                        img(src="img/ship-pay/cdek.png")
                    span Почтовые расходы рассчитываются на сайте в зависимости от тарифов Почты России. При почтовой пересылке возможны два варианта оплаты Вашего заказа:
                    br
                    span 1. Оплата сразу на сайте или оплата счета (через банк или Сбербанк онлайн) - в этом случае Вы получаете посылку в почтовом отделении, указанном  при оформлении заказа без дополнительных сборов и платежей. 
                    br
                    span 2. Наложенный платеж - оплата товара в почтовом отделении при получении посылки, но данный способ является самым дорогим способом оплаты товара, т.к. в наложенный платеж включается стоимость товара+стоимость пересылки+страховой сбор+комиссия за перевод денежных средств при получении посылки. На сайте рассчитывается примерная стоимость наложенного платежа. Наши менеджеры всегда помогут Вам рассчитать точную стоимость посылки с наложенным платежом. Подтверждением вашей оплаты является фискальный кассовый чек, вручаемый во время получения и оплаты заказа
                    br
                    span Также возможна курьерская доставка посылки по указанному адресу. Если покупатель выбирает эту форму доставки, то оплата заказа считается по формуле наложенного платежа, т.е. сумма заказа увеличивается на 4%..

            div(class="tab tab-2 payment")
                div.substrate
                    h2 Оплата наличными

                    h3 Наличный расчет
                    span Оплата наличными курьеру при получении товара или оплата в офисе при самовывозе.

                    h3 Квитанция Сбербанка
                    span Оплата наличными по квитанции в любом отделении Сбербанка. Срок зачисления денежных средств 3-10 дней. Квитанция автоматически сформируется после оформления заказа.

                div.substrate
                    h2 Оплата в режиме онлайн
                    div.payment
                        div.pay-method
                            div
                                img(src="img/ship-pay/visa.png")
                                img(src="img/ship-pay/m-card.png")
                            a(href="") Инструкция по оплате
                        div.divider
                        div.pay-method
                            img(src="img/ship-pay/keeper.png")
                            a(href="") Инструкция по оплате
                        div.divider
                        div.pay-method
                            img(src="img/ship-pay/sber.png")
                div.substrate
                    h2 Безналичный расчет
                    span Оплата по безналичному расчету на основании счета. Счет формируется автоматически при оформлении заказа на сайте.

        div(class="follow-news follow-news-white")
            div
                div.invite
                    h3 Следите за новостями
                    span Будьте в курсе новинок
                        br
                        | и специальных предложений
                div.follow-form
                    form
                        div
                            div.input-wrapper
                                input(type="email" name="email" placeholder="Адрес электронной почты")
                            input(type="submit" value="Подписаться")
                        div.accept
                            label.check-container При отправке данной формы Вы подтверждаете свою дееспособность и согласие на
                                a обработку персональных данных
                                input(type="checkbox" id="accept" name="accept" value="true")
                                span.checkmark

            div.icon-wrapper
                i(icon="tree")



