div.page-row
    div.page-content.page-content--stock
        div.bread-crumbs
            a(href="/") Главная
            a(href="#") Акции и скидки
        div.content-title
            span Акции и скидки

        div.stock-type
            span(tab-btn="11") Все
            span(tab-btn="22") Бесплатная доставка
            span(tab-btn="33") Скидка
            span(tab-btn="44") Подарок

        div(class="stock-items first-tab" tab="11")
            - var n = 0
                while n++ < 1
                    a(href="#" class="stock-item")
                        div.img-wrapper
                            img(src="https://picsum.photos/370/270/?random")
                        div.stock-title
                            span Бесплатная доставка
                                br
                                | тест-полосок Контур Плюс

                        div.stock-desc
                            span Приобретая 10 упаковок тест-полосок Контур Плюс по цене 599 р за упаковку , Вы получаете Доставку абсолютно бесплатно!

                        div.divider

                        div.stock-bottom
                            span Акция действуйте с 4 по 17 июня 2018 г.
                            div.views
                                div.icon-wrapper
                                    i(icon="eye")
                                span 5 324
        div(class="stock-items" tab="22")
            - var n = 0
                while n++ < 2
                    a(href="#" class="stock-item")
                        div.img-wrapper
                            img(src="https://picsum.photos/370/270/?random")
                        div.stock-title
                            span Бесплатная доставка

                        div.stock-desc
                            span Приобретая 10 упаковок тест-полосок Контур Плюс по цене 599 р за упаковку , Вы получаете Доставку абсолютно бесплатно!

                        div.divider

                        div.stock-bottom
                            span Акция действуйте с 4 по 17 июня 2018 г.
                            div.views
                                div.icon-wrapper
                                    i(icon="eye")
                                span 5 324
        div(class="stock-items" tab="33")
            - var n = 0
                while n++ < 3
                    a(href="#" class="stock-item")
                        div.img-wrapper
                            img(src="https://picsum.photos/370/270/?random")
                        div.stock-title
                            span Скидка

                        if n & 1
                            div.stock-desc
                                span Приобретая 10 упаковок тест-полосок Контур Плюс по цене 599 р за упаковку , Вы получаете Доставку абсолютно бесплатно!
                        else
                            div.stock-desc
                                span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi laudantium numquam perspiciatis veritatis! A accusantium animi aperiam aspernatur aut beatae blanditiis commodi cupiditate distinctio earum eveniet excepturi exercitationem explicabo illum inventore iusto laboriosam magnam molestiae nemo neque nesciunt non nulla officiis omnis placeat quam qui quidem reprehenderit rerum, tenetur totam ullam ut veritatis voluptas voluptate voluptatem voluptates? Quos sunt, temporibus. Accusamus aliquam aspernatur at autem, dolorem dolorum exercitationem iste neque, porro sit veritatis voluptates! Ad at aut consectetur distinctio earum et hic laborum magnam maiores maxime nihil nulla, perspiciatis, praesentium quasi quibusdam quis quos tenetur, voluptatibus. Natus quas, voluptate.

                        div.divider

                        div.stock-bottom
                            span Акция действуйте с 4 по 17 июня 2018 г.
                            div.views
                                div.icon-wrapper
                                    i(icon="eye")
                                span 5 324
        div(class="stock-items" tab="44")
            - var n = 0
                while n++ < 6
                    a(href="#" class="stock-item")
                        div.img-wrapper
                            img(src="https://picsum.photos/370/270/?random")
                        div.stock-title
                            span Подарок

                        div.stock-desc
                            span Приобретая 10 упаковок тест-полосок Контур Плюс по цене 599 р за упаковку , Вы получаете Доставку абсолютно бесплатно!

                        div.divider

                        div.stock-bottom
                            span Акция действуйте с 4 по 17 июня 2018 г.
                            div.views
                                div.icon-wrapper
                                    i(icon="eye")
                                span 5 324






