div.page-row
    div.page-content
        div.bread-crumbs
            a(href="/") Главная
            a(href="#") Акции и скидки
            a(href="#") Бесплатная доставка тест-полосок Контур Плюс

        div.top-content
            div.top-left-content
                span Бесплатная доставка тест-полосок Контур Плюс
                div.img-wrapper
                    img(src="img/stock.png")
                div.description Часто измеряете сахар? Тогда это предложение именно для Вас. Самоконтроль становится еще доступнее!
                    br
                    | Приобретая 10 упаковок тест-полосок “Контур Плюс” по цене 599 р. за упаковку, Вы получаете Доставку абсолютно бесплатно!
                    br
                    br
                    | Глюкометр “Контур Плюс”. Точные результаты в домашних условиях.
                    br
                    br
                    | Технология “Без кодирования”
                    br
                    | Удобна и предотвращает ошибки, связанные с введением неправильного кода
                    br
                    br
                    | Технология “Второй шанс”
                    br
                    | Можно дополнительно нанести кровь на тест-полоску в случае ее недозаполнения


                div.condition
                    span Условия участия в акции
                    span Купить пять упаковок полосок и один клюкометр модели “Refw3ek”
                div.divider
                div.share-block
                    div.left-block
                        span Поделиться:
                        div(class="icon-wrapper vk")
                            i(icon="vk")
                        div(class="icon-wrapper fb")
                            i(icon="fb")
                        div(class="icon-wrapper twitter")
                            i(icon="twitter")
                        div(class="icon-wrapper ok")
                            i(icon="ok")
                    div.right-block
                        span Акция действуйте с 4 по 17 июня 2018 г.
                        div.views
                            div.icon-wrapper
                                i(icon="eye")
                            span 5 326




            div.top-right-content
                div(class="subscription first-subscription")
                    h2 Следите за новостями
                    span Будьте в курсе новинок
                        br
                        | и специальных предложений
                    form
                        input(type="email" name="email" placeholder="Электронная почта")
                        input(type="submit" value="Подписаться")
                div.subscription
                    h2
                        a(href="#") Мы Вконтакте
                    // Vk widget
                    a(href="https://vk.com")
                        i(icon='vk')
                        span Подписаться на новости
                div.subscription
                    h2
                        a(href="#") Мы в Инстаграме
                    // Inst widget

                    a(href="https://www.instagram.com")
                        i(icon='inst')
                        span Подписаться на новости

        div.bottom-content
            h2 Список товаров, участвующих в акции
            div.stock
                div.cat-product
                    div.fucking-border
                    div.product-discount
                        span(class="discount" color="green" direction="left") Акция
                        span(class="discount" color="blue" direction="left") Новинка
                    div.info-wrapper
                        div.sub-wrpapper
                            div.product-img
                                img(src="img/cat-product-2.png")

                                button.quick-view Быстрый просмотр

                            div.cat-product-info
                                span Тест-полоски
                                span.cat-title Тест-полоски "Контур Плюс" 10 упаковок N50 Тест-полоски "Контур Плюс" 10 упаковок N50
                            div(class="product-buy disabled")
                                div.product-price
                                    span.price 650 р.
                                    span.old-price 790 р.
                                div(class="icon-wrapper empty-product")
                                    i(icon="disabled-basket")
                - var n = 0
                    while n++ < 7
                        div.cat-product
                            div.fucking-border
                            div.product-discount
                                span(class="discount" color="green" direction="left") Акция
                                span(class="discount" color="blue" direction="left") Новинка
                            div.info-wrapper
                                div.sub-wrpapper
                                    div.product-img
                                        img(src="img/cat-product-2.png")

                                        button.quick-view Быстрый просмотр

                                    div.cat-product-info
                                        span Тест-полоски
                                        span.cat-title Тест-полоски "Контур Плюс" 10 упаковок N50 Тест-полоски "Контур Плюс" 10 упаковок N50
                                    div(class="product-buy disabled")
                                        div.product-price
                                            span.price 650 р.
                                            span.old-price 790 р.
                                        div(class="icon-wrapper")
                                            if n & 1
                                                i(icon="basket")
                                            else
                                                i(icon="check-mark")
                //- var n = 0
                    while n++ < 3
                        div.stock-item
                            div.discounts
                                a(href="#" class="discount" direction="left" color="green") Акция
                                a(href="#" class="discount" direction="left" color="blue") Новинка
                            div.img-wrapper
                                img(src="img/cat-product-1.png")
                            div.info
                                span Тест-полоски
                                span Тест-полоски "Контур Плюс" 10 упаковок №50 Тест-полоски "Контур Плюс" 10 упаковок №50
                            div.stock-price
                                div
                                    span.price 650 р.
                                    span.old-price 650 р.
                                div.icon-wrapper
                                    i(icon="basket")

        div.quick-viewer-container
            div.quick-viewer
                div.qv-header
                    h3 Тест-полоски «Контур Плюс» 10 упаковок №50
                    div.close-btn-container
                        div.icon-wrapper
                            i(icon="x")
                div.qv-body
                    div.qv-gallery
                        div.qv-gallery-wrapper
                            div.product-discount
                                span(class="discount" color="green" direction="left") Акция
                                span(class="discount" color="blue" direction="left") Новинка
                            div.gallery-container
                                div.main-photo
                                    div.photo-wrapper
                                        img(src="img/cat-product-2.png")
                                div.thumbnails
                                    div.thumbnail
                                        div.thumbnail-wrapper
                                            img(src="img/cat-product-1.png")
                                    div.thumbnail
                                        div.thumbnail-wrapper
                                            img(src="img/cat-product-2.png")
                                    div.thumbnail
                                        div.thumbnail-wrapper
                                            img(src="img/cat-product-1.png")

                    div(class="qv-desc modal-scroll" data-simplebar)
                        div.qv-desc-wrapper
                            h4 Характеристики
                            div.stat
                                div.stat-name Страна производитель
                                div.stat-value Германия
                            div.stat
                                div.stat-name Срок годности
                                div.stat-value 30.09.2019

                            h4 Описание
                            div.desc-container
                                p Тест-полоски Акку-Чек Актив предназначены для всех глюкометров из серии Акку-Чек Актив.
                                br
                                p Для проведения измерения на крупные тест-полоски необходимо нанести каплю крови в объеме 1-2 мкл.
                                br
                                p Тест-полоски можно использовать в течение всего срока годности, указанного на упаковке. Для обеспечения получения точных результатов прибор осуществляет проверку срока годности полосок с помощью кодовой пластинки и выдает предупреждение, в случае если срок годности тест-полоски истек.
                                br
                                p Система определяет необходимость в нанесении дополнительной капли крови и Вы можете нанести дополнительную каплю крови на тест-полоску Акку-Чек Актив в течение 5 секунд во время ее нахождения в приборе (нанесение дополнительной капли крови вне прибора возможно в течение 15 секунд).
                                br
                                p Нанести кровь на тест-полоску можно внутри или вне прибора.
                                br
                                p Для вторичного визуального контроля результатов измерения уровня глюкозы в крови можно просто сравнить цвет на контрольном окошке тест-полоски с цветом, указанным на тубусе.
                                br
                                p В целях сохранения качества тест-полосок необходимо закрывать тубус сразу же после извлечения тест-полоски.
                                br
                                p Полоски калиброваны по плазме крови.

                    div.qv-price-details
                        div.block-container
                            div.price-detail-wrapper
                                span Цена
                                div.price-detail
                                    span.price 650 р.
                                    span.old-price 650 р.
                            div.quantity
                                span Количество в упаковке
                                div
                                    input(type="radio" name="dimension" id="25" value="25")
                                    label(for="25" class="active") 25
                                    input(type="radio" name="dimension" id="50" value="50")
                                    label(for="50") 50
                                    input(type="radio" name="dimension" id="100" value="100")
                                    label(for="100" class="unavailable") 100
                                        div.unavailable-pop-up
                                            p Размера нет в наличии
                                            button.open-empty-form Под заказ

                            div.colors
                                span Цвет
                                div
                                    input(type="radio" name="color" id="qv-red" value="red")
                                    label(for="qv-red" class="active")
                                        span(color="red")
                                    input(type="radio" name="color" id="qv-green" value="green")
                                    label(for="qv-green")
                                        span(color="#008000")

                                    input(type="radio" name="color" id="qv-blue" value="blue")
                                    label(for="qv-blue" class="unavailable")
                                        div.unavailable-pop-up
                                            p Размера нет в наличии
                                            button.open-empty-form Под заказ
                                        span(color="blue")

                            div.dimensions
                                span Размер
                                div
                                    input(type="radio" name="dimension" id="qv-xs" value="xs")
                                    label(for="qv-xs") xs

                                    input(type="radio" name="dimension" id="qv-s" value="s")
                                    label(for="qv-s") s

                                    input(type="radio" name="dimension" id="qv-m" value="m")
                                    label(for="qv-m") m

                                    input(type="radio" name="dimension" id="qv-l" value="l")
                                    label(for="qv-l" class="active") l

                                    input(type="radio" name="dimension" id="qv-xl" value="xl")
                                    label(for="qv-xl") xl

                                    input(type="radio" name="dimension" id="qv-xxl" value="xxl")
                                    label(for="qv-xxl" class="unavailable") xxl
                                        div.unavailable-pop-up
                                            p Размера нет в наличии
                                            button.open-empty-form Под заказ

                                    input(type="radio" name="dimension" id="qv-xxxl" value="xxxl")
                                    label(for="qv-xxxl" class="unavailable") xxxl
                                        div.unavailable-pop-up
                                            p Размера нет в наличии
                                            button.open-empty-form Под заказ

                            span(class="exist" exist="true")

                            div.count
                                div.minus
                                    span
                                input(class="count-value" maxlength="3" value="22")
                                div.plus
                                    span

                        div.divider

                        div.order-btns
                            input(class="to-basket" type="button" value="В корзину")
                            div(class="star-btn")
                                div.icon-wrapper
                                    i(icon="star")

        div.request-empty-product-container
            div.request-empty-product
                // Открывается при клике на корзину отсутствующего товара
                div.form-wrapper
                    div.header
                        h2 Заказать товар. Тест-полоски "Контур Плюс" 10 упаковок №50
                        div.icon-wrapper
                            i(icon="x")
                    div.body
                        div.poster
                            img(src="img/cat-product-2.png")
                        div.form
                            form
                                div.field
                                    span Имя*
                                    div.value
                                        input(type="text" name="name")
                                div.field
                                    span Телефон*
                                    div.value
                                        input(type="tel" name="tel")
                                div.field
                                    span Время звонка*
                                    div.value
                                        input(type="text" name="comment" placeholder="Например: Вторник 16:30")
                                div.field
                                    span Количество
                                    div(class="value count-value")
                                        div.count
                                            div.minus
                                                span
                                            input(class="count-value" maxlength="3" value="1")
                                            div.plus
                                                span
                                div.field
                                    div.accept
                                        label.check-container При отправке данной формы Вы подтверждаете свою дееспособность и согласие на
                                            a(href="# ") обработку персональных данных
                                            input(type="checkbox" id="accept-request" name="accept" value="true")
                                            span.checkmark

                                div.submit
                                    input(type="submit" value="Отправить")
                // Открывается если в url присутствует hash #req-thx (http://localhost:9000/category.html#req-thx)
                div.thx
                    div.icon-wrapper
                        i(icon="x")
                    h2 Спасибо, ваше сообщение принято!

                    p Товар добавлен в раздел
                        span &nbsp;Ожидаемые товары,
                        br
                        | если вы
                        span &nbsp;Зарегистрированы

        div.basket-settings-container
            div.basket-settings
                div.header
                    h2 Выберите параметры товара
                    div.icon-wrapper
                        i(icon="x")
                div.body
                    form
                        div.colors
                            span Цвет
                            div
                                input(type="radio" name="color" id="red" value="red")
                                label(for="red" class="active")
                                    span(color="red")
                                input(type="radio" name="color" id="green" value="green")
                                label(for="green")
                                    span(color="#008000")

                                input(type="radio" name="color" id="blue" value="blue")
                                label(for="blue" class="unavailable")
                                    div.unavailable-pop-up
                                        p Размера нет в наличии
                                        button.open-empty-form Под заказ
                                    span(color="blue")
                        div.dimensions
                            span Размер
                            div
                                input(type="radio" name="dimension" id="xs" value="xs")
                                label(for="xs") xs

                                input(type="radio" name="dimension" id="s" value="s")
                                label(for="s") s

                                input(type="radio" name="dimension" id="m" value="m")
                                label(for="m") m

                                input(type="radio" name="dimension" id="l" value="l")
                                label(for="l" class="active") l

                                input(type="radio" name="dimension" id="xl" value="xl")
                                label(for="xl") xl

                                input(type="radio" name="dimension" id="xxl" value="xxl")
                                label(for="xxl" class="unavailable") xxl
                                    div.unavailable-pop-up
                                        p Размера нет в наличии
                                        button.open-empty-form Под заказ

                                input(type="radio" name="dimension" id="xxxl" value="xxxl")
                                label(for="xxxl" class="unavailable") xxxl
                                    div.unavailable-pop-up
                                        p Размера нет в наличии
                                        button.open-empty-form Под заказ

                        div.submit
                            input(type="submit" value="Добавить в корзину")