div.footer-one
    div.logo
        div.logo-wrapper
            i(icon="f-logo")
        div.logo-text
            span академия диабета
            span магазин дибетических товаров
    div.tel-list
        span 8 (913) 007-23-23
        span 8 (913) 007-23-24
    div.request-call
        span Заказать звонок
    div.socials
        span Мы в социальных сетях:
        div
            div.inst-icon
                a(href="https://www.instagram.com")
                    i(icon="inst")
            div.fb-icon
                a(href="https://www.facebook.com")
                    i(icon="fb")
            div.vk-icon
                a(href="https://vk.com")
                    i(icon="vk")
    div.to-top-panel
        div.to-top-wrapper
            div.to-top
                div.icon-wrapper
                    i(icon="arrow-right")
div.divider
div.footer-two
    div
        span Акции и скидки
    div
        span Доставка и оплата
    div
        span Статьи и обзоры
    div
        a(href="#") Контакты
    div
        span Отзывы
    div
        span О компании
    div
        span Сервисный центр

div(class="overlay overlay-rc")
    div.request-call-form
        div.row-one
            span Заказать звонок
            div.close-info
                i(icon="x")

        form
            input(type="text" name="name" placeholder="Имя*")
            input(type="tel" name="tel" placeholder="Телефон*")
            textarea(placeholder="Сообщение")
            div.accept
                label.check-container При отправке данной формы Вы подтверждаете свою дееспособность и согласие на
                    a обработку персональных данных
                    input(type="checkbox" id="accept-Аrc" name="accept" value="true" required)
                    span.checkmark

            input(type="submit" value="Заказать звонок")

div(class="overlay overlay-agreement")
    div.agreement
        div.head
            h2 Соглашение на обработку персональных данных
            div.icon-wrapper
                i(icon="x")
        div(class="body" data-simplebar)
            div.body-text
                p Добрый день! Мы рады приветствовать Вас на нашем сайте! Предлагаем Вашему вниманию соглашение об обработке персональных данных.
                p Внимание! По причинам экономического, организационного, а иногда и правового характера Соглашение периодически подвергается изменениям. У Администрации Сайта отсутствует возможность рассылать Пользователям уведомления о таких изменениях, поэтому настоятельно просим Вас периодически заходить на эту страницу, чтоб проверить, не появилось ли здесь чего-то, противоречащего Вашим убеждениям и принципам.
                p Если Вы как Пользователь не согласны с внесенными изменениями, у Вас всегда есть право отказаться от доступа к Сайту и прекратить использование его материалов.
                p Если Вы считаете, что Соглашение или действия нас как Администрации Сайта нарушает Ваши права, не молчите, напишите нам об этом по электронному адресу: ___@___.__
                ol
                    li Термины, применяемые в настоящем Соглашении:
                        ol
                            li Сайт – это совокупность текстов, графических элементов, дизайна, изображений, программного кода, фото- и видеоматериалов и иных результатов интеллектуальной деятельности, содержащихся в сети Интернет под доменным именем http://___.__
                            li Администрация Сайта – это лицо, обладающее правами администрирования Сайта.
                            li Пользователь – это любое лицо, осуществившее вход на Сайт и принявшее условия настоящего Соглашения, независимо от факта прохождения процедур регистрации и авторизации.
                    li Использование персональных данных
                        ol
                            li Принимая условия настоящего соглашения, Пользователь предоставляет Администрации Сайта согласие на обработку своих персональных данных.
                            li Цель обработки персональных данных: регистрация на Сайте, регистрация на мероприятия Сайта, рекламная цель, новостная e-mail рассылка.
                            li Обработке подлежат следующие персональные данные:
                                ol
                                    li Фамилия, имя, отчество Пользователя;
                                    li Электронный адрес Пользователя;
                                    li Номер телефона Пользователя.
                            li Под обработкой персональных данных подразумевается следующий перечень действий с персональными данными: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление доступа), обезличивание, блокирование, удаление, уничтожение персональных данных.
                            li Принимая условия настоящего соглашения, Пользователь соглашается с получением рекламной рассылки по телефону (в формате sms-сообщений) и по электронной почте.
                            li Данное согласие на обработку персональных данных действует бессрочно, но может быть отозвано субъектом персональных данных на основании личного заявления, направленного по электронной почте Администрации Сайта.
                            li Администрация Сайта обязуется использовать персональные данные Пользователя, полученные в результате использования Сайта в соответствии с требованиями законодательства о защите персональных данных, в том числе федерального закона № 152-ФЗ от 27.07.2006 «О персональных данных» в редакции, действующей на момент обработки таких персональных данных.
