div.header-wrapper
    div.logo
        div.burger-mobile
            img(src="img/icons/purple-burger.svg")
        a(class="logo-wraper" href="/")
            img(src="img/icons/h-logo.svg")
        a(class="logo-text" href="/")
            span академия диабета
            span магазин диабетических товаров

    div.city-drop
        div.city-wrapper
            span Ваш город:
            span Новосибирск
                i(icon="menu-arrow-down")
        div.city-drop-content
            div.city-drop-head
                p Выбор города
                div.icon-wrapper
                    i(icon="x")
            div.divider
            div.list-cities
                a(href="#" class="city") Москва
                a(href="#" class="city") Новосибирск
                a(href="#" class="city") Екатеринбург
                a(href="#" class="city") Санкт-Петербург
                a(href="#" class="city") Ростов
                a(href="#" class="city") Челябинск

    div.search
        input(placeholder="Поиск по товарам, брендам, категориям")
        div.search-btns
            div.icon-x-wrapper
                div.clear-btn
                    i(icon="x")
            div.search-btn
                div.icon-search-wrapper
                    i(icon="search")

        // Всплыващее окно с результатами поиска
        div(class="modal-window search-result")
            div(class="modal-scroll")
                div.products
                    div.product
                        div.product-img
                            img(src="https://fakeimg.pl/120x78/")
                        div.product-info-price
                            div.product-info
                                span Тест полоски "Контур Плюс" 10 упаковок N50
                            div.product-price
                                p.price 642 530 р.
                                span.old-price 9 640 р.
                        div.count
                            div.minus
                                span
                            div.count-value 22
                            div.plus
                                span
                        div.basket-icon
                            i(icon="basket")
                    div.product
                        div.product-img
                            img(src="https://fakeimg.pl/120x78/")
                        div.product-info-price
                            div.product-info
                                span Тест полоски "Контур Плюс" 10 упаковок N50
                            div.product-price
                                p.price 642 530 р.
                        div.count
                            div.minus
                                span
                            div.count-value 22
                            div.plus
                                span
                        div.basket-icon
                            i(icon="basket")
                    div.product
                        div.product-img
                            img(src="https://fakeimg.pl/120x78/")
                        div.product-info-price
                            div.product-info
                                span Тест полоски "Контур Плюс" 10 упаковок N50
                            div.product-price
                                p.price 642 530 р.
                                span.old-price 1000 р.
                        div.count
                            div.minus
                                span
                            div.count-value 22
                            div.plus
                                span
                        div.basket-icon
                            i(icon="basket")
                    div.product
                        div.product-img
                            img(src="https://fakeimg.pl/120x78/")
                        div.product-info-price
                            div.product-info
                                span Тест полоски "Контур Плюс" 10 упаковок N50
                            div.product-price
                                p.price 642 530 р.
                        div.count
                            div.minus
                                span
                            div.count-value 22
                            div.plus
                                span
                        div.basket-icon
                            i(icon="basket")
                    div.product
                        div.product-img
                            img(src="https://fakeimg.pl/120x78/")
                        div.product-info-price
                            div.product-info
                                span Тест полоски "Контур Плюс" 10 упаковок N50
                            div.product-price
                                p.price 642 530 р.
                        div.count
                            div.minus
                                span
                            div.count-value 22
                            div.plus
                                span
                        div.basket-icon
                            i(icon="basket")
                    div.product
                        div.product-img
                            img(src="https://fakeimg.pl/120x78/")
                        div.product-info-price
                            div.product-info
                                span Тест полоски "Контур Плюс" 10 упаковок N50
                            div.product-price
                                p.price 642 530 р.
                        div.count
                            div.minus
                                span
                            div.count-value 22
                            div.plus
                                span
                        div.basket-icon
                            i(icon="basket")
            div.bottom-panel
                a(href="#")
                    span Все результаты

    div.border
    div.search-mobile-icon
        .icon-wrapper
            i(icon="search")

    div.user
        .user-icon-wrapper
            div.icon-wrapper
                i(icon="user")
        // Всплывающие окна личного кабинета для авторизованного юзьвера и не авторизованного
        // Окно личного кабинета НЕ авторизованного пользователя
        div(class="lk auth-false")
            div.lk-modal-btns
                span.login-btn Вход
                span.reg-btn Зарегистрироваться
                div.close
                    i(icon="x")
            a(class="lk-modal-row" href="#")
                div(class="icon-wrapper my-basket-icon")
                    i(icon="my-basket")
                span Мои заказы
            a(class="lk-modal-row" href="#")
                div(class="icon-wrapper user-icon")
                    i(icon="user")
                span Личные данные
            a(class="lk-modal-row" href="#")
                div(class="icon-wrapper expected-icon")
                    i(icon="expected")
                span Ожидаемые товары
            a(class="lk-modal-row" href="#")
                div(class="icon-wrapper post-icon")
                    i(icon="post")
                span Настройка рассылок

        // Окно личного кабинета Авторизованного пользователя
        div.lk
            div.lk-modal-btns
                span John Doe
                div.close
                    i(icon="x")
            a(class="lk-modal-row" href="#")
                div(class="icon-wrapper my-basket-icon")
                    i(icon="my-basket")
                span Мои заказы
            a(class="lk-modal-row" href="#")
                div(class="icon-wrapper user-icon")
                    i(icon="user")
                span Личные данные
            a(class="lk-modal-row" href="#")
                div(class="icon-wrapper expected-icon")
                    i(icon="expected")
                span Ожидаемые товары
            a(class="lk-modal-row" href="#")
                div(class="icon-wrapper post-icon")
                    i(icon="post")
                span Настройка рассылок
            a(class="lk-modal-row gray-row" href="#")
                div(class="icon-wrapper logout-icon")
                    i(icon="logout")
                span Выход
        // Всплывающие окна Входа и Регистрации
        div(class="auth reg")
            div.auth-modal-btns
                span.login-btn Вход
                span.reg-btn Зарегистрироваться
                div.close
                    i(icon="x")
            div.auth-form
                form
                    div.input-wrapper
                        input(type="text" name="name" placeholder="Имя")
                    div.input-wrapper
                        input(type="email" name="email" placeholder="Адрес электронной почты*")
                    div.input-wrapper
                        input(type="password" name="password" placeholder="Пароль*")
                    div.input-wrapper
                        input(type="password" name="password" placeholder="Подтвердите пароль*")
                    input(type="submit" value="Регистрация")
                    div.accept
                        label.check-container При отправке данной формы Вы подтверждаете свою дееспособность и согласие на обработку персональных данных
                            input(type="checkbox" id="accept-reg" name="accept" value="true")
                            span.checkmark
            div.divider

            div.auth-socials
                span Войти через соц. сеть
                div.socials-btns
                    div(class="soc-btn vk-btn")
                        div.vk-icon
                            i(icon="vk")
                    div(class="soc-btn fb-btn")
                        div.fb-icon
                            i(icon="fb")
                    div(class="soc-btn ok-btn")
                        div.ok-icon
                            i(icon="ok")



        div(class="auth login")
            div.auth-modal-btns
                span.login-btn Вход
                span.reg-btn Зарегистрироваться
                div.close
                    i(icon="x")
            div.auth-form
                form
                    div.input-wrapper
                        input(type="text" name="login" placeholder="Логи")
                    div.input-wrapper
                        input(type="password" name="password" placeholder="Пароль")
                    input(type="submit" value="Войти")
            div.forgot
                span Забыли пароль?

            div.divider

            div.auth-socials
                span Войти через соц. сеть
                div.socials-btns
                    div(class="soc-btn vk-btn")
                        div.vk-icon
                            i(icon="vk")
                    div(class="soc-btn fb-btn")
                        div.fb-icon
                            i(icon="fb")
                    div(class="soc-btn ok-btn")
                        div.ok-icon
                            i(icon="ok")

    div.border

    div.favorite
        div.favorite-icon-wrapper
            div.icon-wrapper
                i(icon="star")
        div.favorite-count
            span 21

        div.modal-window
            div.top-panel
                span Отложенные товары
                div.close-modal
                    i(icon="x")
            div.top-shadow
            div(class="modal-scroll" data-simplebar)
                // Если в корзине есть товары добавить класс hidden
                div(class="empty-box hidden")
                    span В вашей корзине пока еще нет товаров
                div.products
                    div.product
                        div.product-img
                            img(src="https://fakeimg.pl/120x78/")
                        div.product-info
                            span Тест-полоски
                            span Тест полоски "Контур Плюс" 10 упаковок N50
                        div.product-price
                            p.price 642 530 р.
                        div.close
                            i(icon="x")
                    div.product
                        div.product-img
                            img(src="https://fakeimg.pl/64x86/")
                        div.product-info
                            span Тест-полоски
                            span Тест полоски "Контур Плюс" 10 упаковок N50
                        div.product-price
                            p.price 642 530 р.
                        div.close
                            i(icon="x")
                    div.product
                        div.product-img
                            img(src="https://fakeimg.pl/120x78/")
                        div.product-info
                            span Тест-полоски
                            span Тест полоски "Контур Плюс" 10 упаковок N50
                        div.product-price
                            p.price 642 530 р.
                        div.close
                            i(icon="x")
                    div.product
                        div.product-img
                            img(src="https://fakeimg.pl/64x86/")
                        div.product-info
                            span Тест-полоски
                            span Тест полоски "Контур Плюс" 10 упаковок N50
                        div.product-price
                            p.price 642 530 р.
                        div.close
                            i(icon="x")
                    div.product
                        div.product-img
                            img(src="https://fakeimg.pl/120x78/")
                        div.product-info
                            span Тест-полоски
                            span Тест полоски "Контур Плюс" 10 упаковок N50
                        div.product-price
                            p.price 642 530 р.
                        div.close
                            i(icon="x")
            div.bottom-shadow
            div.bottom-panel
                a(href="#")
                    span Перейти в каталог

    div.basket
        div.basket-icon-wrapper
            div.icon-wrapper
                i(icon="basket2")
                div.basket-count
                    span 14
            div.basket-text
                span Сумма
                span 36 443
                    span р.
        div.modal-window
            div.top-panel
                block test
                    span Корзина
                div.close-modal
                    i(icon="x")
            div.top-shadow

            div(class="modal-scroll" data-simplebar)
                // Если в корзине есть товары добавить класс hidden
                div(class="empty-basket hidden")
                    span В вашей корзине пока еще нет товаров
                div.products
                    div.product
                        div.product-img
                            img(src="https://fakeimg.pl/120x78/")
                        div.product-info
                            span Тест-полоски
                            span Тест полоски "Контур Плюс" 10 упаковок N50
                        div.product-price
                            p.price 642 530 руб.
                        div.close
                            i(icon="x")
                    div.product
                        div.product-img
                            img(src="https://fakeimg.pl/64x86/")
                        div.product-info
                            span Тест-полоски
                            span Тест полоски "Контур Плюс" 10 упаковок N50
                        div.product-price
                            p.price 642 530 р.
                        div.close
                            i(icon="x")
                    div.product
                        div.product-img
                            img(src="https://fakeimg.pl/120x78/")
                        div.product-info
                            span Тест-полоски
                            span Тест полоски "Контур Плюс" 10 упаковок N50
                        div.product-price
                            p.price 642 530 р.
                        div.close
                            i(icon="x")
                    div.product
                        div.product-img
                            img(src="https://fakeimg.pl/64x86/")
                        div.product-info
                            span Тест-полоски
                            span Тест полоски "Контур Плюс" 10 упаковок N50
                        div.product-price
                            p.price 642 530 р.
                        div.close
                            i(icon="x")
                    div.product
                        div.product-img
                            img(src="https://fakeimg.pl/120x78/")
                        div.product-info
                            span Тест-полоски
                            span Тест полоски "Контур Плюс" 10 упаковок N50
                        div.product-price
                            p.price 642 530 р.
                        div.close
                            i(icon="x")
            div.bottom-shadow
            div.bottom-panel
                div
                    span Итого
                    p 164 250 р.
                a(href="#")
                    span Перейти в корзину

div.search-mobile-popup
    div.search-mobile-popup__header
        div.search-mobile-popup__close
            i(icon="x")

    div.search-mobile-popup__content
        div.search-mobile-popup__search
            form
                input(type="text")
                button(type="submit")
                    i(icon="search")

div(class="second-header")
    div.second-wrapper
        div.logo
            div.logo-container
                a(class="logo-wraper" href="/")
                    img(src="img/icons/h-logo.svg")
                a(class="logo-text" href="/")
                    span академия диабета
                    span магазин диабетических товаров
            div.close-mobile-menu
                i(icon="x")
        div.burger-menu-header
            div.burger-menu-header__back
            div.burger-menu-header__title Каталог товаров
            .burger-menu-header__close
                i(icon="x")
        div.burger-menu

            span
                span.burger-icon
                    span.burger-btn
                        i(icon="")
                | Каталог товаров
            div(class="sub-catalog hide-sub-catalog")
                div.sub-level
                    span.sub-title
                        span Все для глюкометров
                        span.arrow
                            i(icon="menu-arrow-right")
                    div.sub-catalog
                        div.sub-level
                            span.sub-title
                                span Тест-полоски
                                span.arrow
                                    i(icon="menu-arrow-right")
                            div.sub-catalog
                                div.sub-level
                                    span.sub-title
                                        span Визуальные тест-полоски
                                div.sub-level
                                    span.sub-title
                                        span Для определения уровня крови в глюкозе
                                div.sub-level
                                    span.sub-title
                                        span Ланцеты и прокалыватель
                            div.menu-banner
                                img(src="img/menu-banner.png")
                        div.sub-level
                            span.sub-title
                                a(href="#") Глюкометры
                                span.arrow
                                    i(icon="menu-arrow-right")
                        div.sub-level
                            span.sub-title
                                span Ланцеты и прокалыватель
                                span.arrow
                                    i(icon="menu-arrow-right")

                div(class="sub-level active-level")
                    span.sub-title
                        span Все для исулиновых помп
                        span.arrow
                            i(icon="menu-arrow-right")
                    div.sub-catalog
                        div.sub-level
                            span.sub-title
                                span Лампы
                                span.arrow
                                    i(icon="menu-arrow-right")
                        div.sub-level
                            span.sub-title
                                span Ручки
                                span.arrow
                                    i(icon="menu-arrow-right")
                        div.sub-level
                            span.sub-title
                                span Изолента
                                span.arrow
                                    i(icon="menu-arrow-right")
                div.sub-level
                    span.sub-title
                        span Мониторинг глюкозы
                        span.arrow
                            i(icon="menu-arrow-right")
                    div.sub-catalog
                        div.sub-level
                            span.sub-title
                                span Монитор
                                span.arrow
                                    i(icon="menu-arrow-right")
                        div.sub-level
                            span.sub-title
                                span Покаатели
                                span.arrow
                                    i(icon="menu-arrow-right")
                        div.sub-level
                            span.sub-title
                                span Гвоздь
                                span.arrow
                                    i(icon="menu-arrow-right")
                div.sub-level
                    span.sub-title
                        span Шприц-пучки и иглы
                        span.arrow
                            i(icon="menu-arrow-right")
                div.sub-level
                    span.sub-title
                        span Пластыри и дезинфекция
                        span.arrow
                            i(icon="menu-arrow-right")
                div.sub-level
                    span.sub-title
                        span Средства для гипогликемии
                        span.arrow
                            i(icon="menu-arrow-right")
                div.sub-level
                    span.sub-title
                        span Здоровое питание
                        span.arrow
                            i(icon="menu-arrow-right")
                div.sub-level
                    span.sub-title
                        span Разное
                        span.arrow
                            i(icon="menu-arrow-right")
                div.sub-level.sub-title_black
                    span.sub-title
                        span Черная пятница


        div
            a(href="#") Акции и скидки
        div.active-menu
            span Доставка и оплата
        div
            span Статьи и обзоры
        div
            a(href="/contacts.html") Контакты
        div.yet-drop
            div.yet-text
                span Еще
                    i(icon="menu-arrow-down")
            div.yet-drop-content
                a(href="#") Отзывы
                span О компании
                span Сервисный центр
                span Статьи и обзоры
                span Контакты
        div.tel-drop
            div.tel-drop-wrapper
                div.tel-text
                    span 8 (913) 007-23-23
                        i(icon="menu-arrow-down")
                div.tel-drop-content
                    div.tel-drop-info
                        div.row-one
                            div.tels
                                span 8 (913) 007-23-23
                                span 8 (913) 007-23-23
                            div.close-info
                                i(icon="x")
                        div.row-two
                            span Мы принимаем звонки в рабочее время Пн - Пт 10:00 - 18:00, обед 14:00 - 14:30 Сб, Вс 11:00 - 16:00

                        div.request-call-btn
                            span Заказать звонок

                    div.request-call-form
                        div.row-one
                            span Заказать звонок
                            div.close-info
                                i(icon="x")

                        form
                            input(type="text" name="name" placeholder="Имя*")
                            input(type="tel" name="tel" placeholder="Телефон*")
                            textarea(placeholder="Сообщение. К примеру можете написать тему звонка и удобное для Вас время")
                            div.accept
                                label.check-container При отправке данной формы Вы подтверждаете свою дееспособность и согласие на обработку персональных данных
                                    input(type="checkbox" id="accept" name="accept" value="true")
                                    span.checkmark

                            input(type="submit" value="Заказать звонок")

