span Ожидаемые товары

div.expected-products
    - var n = 0
        while n++ < 5
            div.ex-product
                div.img-wrapper
                    img(src="img/cat-product-1.png")
                div.info-wrapper
                    div.discount-wrapper
                        span(class="discount" color="orange" direction="left") Хит
                        span(class="discount" color="green" direction="left") Акция
                    div.title-wrapper
                        span Тест полоски
                        span Тест-полоски "Контур Плюс" 10 упаковок №50
                    div.price-wrapper
                        span.price 650 р.
                        span.old-price 650 р.
                div.action-wrapper
                    div.count
                        div.minus
                            span
                        input(class="count-value" maxlength="3" value="" + n)
                        div.plus
                            span
                    span.ex-del Удалить