span Настройка рассылок

form.mailings-form
    span Укажите почту для рассылки
    input(type="email" name="email" placeholder="dashal@gmail.com")
    span После подписки Вам будет выслано письмо со ссылкой подтверждения
    span Выберите рубрики
    div(class="accept follow")
        label.check-container Ежедневная рассылка новостей магазина
            input(type="checkbox" id="follow" name="follow" value="true")
            span.checkmark

    div.action-btns
        input(type="submit" value="Подписаться")
        input(type="submit" value="Отписаться")

    div.accept
        label.check-container При отправке данной формы Вы подтверждаете свою дееспособность и согласие на
            a обработку персональных данных
            input(type="checkbox" id="accept" name="accept" value="true")
            span.checkmark
