span Мои заказы
div.table-wrapper
    table(cellspacing="0")
        thead
            tr
                td № заказа
                td Статус
                td Вид доставки
                td Стоимость
                td
        tbody
            - var y = 0
                while y++ < 2
                    tr
                        td 515545087 от 06.11.2018
                        td Принят, ожидается оплата
                        td Почта России
                        td 52 650 р.
                        td.action-btns
                            div(class="more" spoiler='515545087' + y)
                                span Подробнее
                                i(icon="menu-arrow-down")
                            div.del-order Отменить заказ
                    tr(class="gap" id='515545087' + y)
                        td(colspan="5")
                            div(class="consist")
                                div.top-panel
                                    span.consist-title Состав заказа 515545087
                                table(cellspacing="0" data-simplebar)
                                    tbody
                                    - var n = 0
                                        while n++ < 5
                                            tr
                                                td #{n}
                                                td
                                                    img(src="img/cat-product-1.png")
                                                td
                                                    div Тест-полоски "Контур Плюс Тридцать Тысяч
                                                    div
                                                        span Количество:
                                                            span 25 шт.
                                                        span Количество:
                                                            span 25 шт.
                                                        span Количество:
                                                            span 25 шт.



                                div.bottom-panel
                                    span.consist-title Контактная информация
                                    div.bio
                                        div
                                            span Ф. И. О.
                                            span Почта
                                            span Телефон
                                            span Индекс
                                            span Адрес доставки
                                        div
                                            span Дарья Скотаренко
                                            span dashal@gmail.com
                                            span 8 (913) 424-43-43
                                            span 630063
                                            span г. Москва, ул. Пушкина 52/5