span Профили заказов

div.ordering-table
    table(cellspacing="0")
        thead
            tr
                td Дата обновления
                td Название
                td Тип плательщика
                td
        tbody
            - var y = 0
                while y++ < 2
                    tr
                        td 06.11.2018
                        td Дмитрий Смирнов
                        td Физическое лицо
                        td.action-btns
                            div(class="edit" spoiler='5155450' + y) Редактировать
                            div.del-profile Удалить
                    tr(class="gap" id='5155450' + y)
                        td(colspan="4")
                            form(class="consist")
                                div.top-panel
                                    span.consist-title Профиль Дарья Теркина
                                div.order-profile
                                    h3 Общая информация

                                    div.name--value
                                        div.field
                                            span Тип плательщика*
                                            div.value
                                                div.accept
                                                    label.check-container Физ. лицо
                                                        input(type="radio" id="male" name="sex" value="male")
                                                        span.checkradio
                                                div.accept
                                                    label.check-container Юр. лицо
                                                        input(type="radio" id="female" name="sex" value="female")
                                                        span.checkradio
                                        div.field
                                            span Название профиля*
                                            div.value
                                                span Дарья Тёркина
                                                input(type="text" name="profile-name")
                                                div.icon-wrapper
                                                    i(icon="pencil")

                                    h3 Личные данные
                                    div.name--value
                                        div.field
                                            span Имя*
                                            div.value
                                                span Дарья
                                                input(type="text" name="name")
                                                div.icon-wrapper
                                                    i(icon="pencil")
                                        div.field
                                            span Фамилия*
                                            div.value
                                                span Тёркина
                                                input(type="text" name="family")
                                                div.icon-wrapper
                                                    i(icon="pencil")
                                        div.field
                                            span Отчество*
                                            div.value
                                                span Андреевна
                                                input(type="text" name="second-name")
                                                div.icon-wrapper
                                                    i(icon="pencil")
                                        div.field
                                            span E-Mail*
                                            div.value
                                                span dasha_l@mail.ru
                                                input(type="email" name="email")
                                                div.icon-wrapper
                                                    i(icon="pencil")
                                        div.field
                                            span Телефон*
                                            div.value
                                                span 8 (913) 435-44-76
                                                input(type="tel" name="tel")
                                                div.icon-wrapper
                                                    i(icon="pencil")

                                    h3 Данные для доставки
                                    div.name--value
                                        div.field
                                            span Индекс*
                                            div.value
                                                span 630061
                                                input(type="text" name="index")
                                                div.icon-wrapper
                                                    i(icon="pencil")
                                        div.field
                                            span Местоположение*
                                            div.value
                                                span Новосибирская область, Новосибирск
                                                input(type="text" name="position")
                                                div.icon-wrapper
                                                    i(icon="pencil")
                                        div.field
                                            span Город*
                                            div.value
                                                span dasha_l@mail.ru
                                                input(type="text" name="city")
                                                div.icon-wrapper
                                                    i(icon="pencil")
                                        div.field
                                            span Адрес доставки*
                                            div.value
                                                span Красный проспект 99
                                                input(type="text" name="delivery-address")
                                                div.icon-wrapper
                                                    i(icon="pencil")

                                    input(type="submit" value="Сохранить")
