span Личные данные

form.profile
    div.name--value
        div.field
            span Электронная почта
            div.value
                span dasha_l@mail.ru
                input(type="email" name="email")
                div.icon-wrapper
                    i(icon="pencil")
        div.field
            span Сменить пароль
            div.value
                span ******
                input(type="password" name="password")
                div(class="icon-wrapper pass-icon")
                    i(icon="pencil")
        div.field
            span Имя
            div.value
                span Дарья
                input(type="text" name="name")
                div.icon-wrapper
                    i(icon="pencil")
        div.field
            span Фамилия
            div.value
                span Скотаренко
                input(type="text" name="family")
                div.icon-wrapper
                    i(icon="pencil")
        div.field
            span Телефон
            div.value
                span +7 (913) 467-68-46
                input(type="tel" name="tel")
                div.icon-wrapper
                    i(icon="pencil")
        div.field
            span Дата рождения
            div.value
                span 26.06.1991
                input(type="text" name="birthday")
                div.icon-wrapper
                    i(icon="pencil")
        div.field
            span Пол
            div.value
                div.sex
                    div.accept
                        label.check-container Мужской
                            input(type="radio" id="male" name="sex" value="male")
                            span.checkradio
                    div.accept
                        label.check-container Женский
                            input(type="radio" id="female" name="sex" value="female")
                            span.checkradio

        div.field
            span Мой город
            div.value
                span Новосибирск
                input(type="text" name="city")
                div.icon-wrapper
                    i(icon="pencil")