@font-face
  font-family: ProbaPro;
  src: url(../../fonts/ProbaPro-Regular.eot);
  src: url(../../fonts/ProbaPro-Regular.eot?#iefix) format('embedded-opentype'),
          url(../../fonts/ProbaPro-Regular.woff) format('woff'),
          url(../../fonts/ProbaPro-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;

@font-face
  font-family: ProbaProMedium;
  src: url(../../fonts/ProbaPro-Medium.eot);
  src: url(../../fonts/ProbaPro-Medium.eot?#iefix) format('embedded-opentype'),
          url(../../fonts/ProbaPro-Medium.woff) format('woff'),
          url(../../fonts/ProbaPro-Medium.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;

@font-face
  font-family: ProbaProBold;
  src: url(../../fonts/ProbaPro-Bold.eot);
  src: url(../../fonts/ProbaPro-Bold.eot?#iefix) format('embedded-opentype'),
          url(../../fonts/ProbaPro-Bold.woff) format('woff'),
          url(../../fonts/ProbaPro-Bold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;

@font-face
  font-family: ProbaProSemiBold;
  src: url(../../fonts/ProbaPro-SemiBold.eot);
  src: url(../../fonts/ProbaPro-SemiBold.eot?#iefix) format('embedded-opentype'),
          url(../../fonts/ProbaPro-SemiBold.woff) format('woff'),
          url(../../fonts/ProbaPro-SemiBold.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;