purple = #66339a
gray = #b3b3b3
i
  width: 100%
  height: auto
  display: block

i[icon="basket"]
  & #icon
    fill purple
  & #bg
    fill purple
  &:hover
    & #icon
      fill white

i[icon="disabled-basket"]
  & #icon
    fill gray
  & #bg
    fill gray
  &:hover
    & #icon
      fill white

i[icon="basket2"]
  & #icon
    fill white

i[icon="my-basket"]
  & #icon
    fill purple
  &:hover
    & #icon
      fill white

i[icon="x"]
  cursor pointer
  & #icon
    fill gray
  &:hover
    & #icon
      fill purple

i[icon="burger"]
  & #icon
    fill purple

i[icon="car"]
  & #icon
    fill purple

i[icon="cert"]
  & #icon
    fill purple

i[icon="headset"]
  & #icon
    fill purple

i[icon="fb"]
  & #icon
    fill gray

i[icon="inst"]
  & #icon
    fill gray

i[icon="inst-black"]
  & #icon
    fill black

i[icon="vk"]
  & #icon
    fill gray

i[icon="ok"]
  & #icon
    fill #f58220

i[icon="f-logo"]
  & #icon
    fill gray

i[icon="logout"]
  & #icon
    fill gray

i[icon="pig"]
  & #icon
    fill purple

i[icon="search"]
  & #icon
    fill purple

i[icon="star"]
  & #icon
    fill purple
i[icon="fullStar"]
  & #icon
    fill purple

i[icon="user"]
  & #icon
    fill purple

i[icon="expected"]
  & #icon
    fill purple

i[icon="post"]
  & #icon
    fill purple

i[icon="tree"]
  & #icon
    fill rgb(112, 56, 168)

i[icon="cube3"]
  & #icon
    fill purple

i[icon="cube9"]
  & #icon
    fill purple

i[icon="check-mark"]
  & #icon
    fill #22a225

i[icon="map"]
  & #icon
    fill purple

i[icon="pencil"]
  & #icon
    fill #808080;

i[icon="tel"]
  & #icon
    fill black

i[icon="mail"]
  & #icon
    fill black

i[icon="pointer"]
  & #icon
    fill black

i[icon="pointer-map"]
  // фон
  & #path1
    fill white
  // Зеленые листья
  & #path2
    fill #22a225;
  // Фиолетовые листья
  & #path3
    fill #431b67;
  // Ствол дерева
  & #path4
    fill purple
  // Ствол дерева
  & #path5
    fill #210a38;
  // фон
  & #path6
    fill #7d4f9b;

i[icon="eye"]
  & #icon
    fill #e6e6e6;

i[icon="twitter"]
  & #icon
    fill #e6e6e6;

i[icon="mission"]
  & #icon
    fill purple

i[icon="target"]
  & #icon
    fill purple

i[icon="vision"]
  & #icon
    fill purple

i[icon="car2"]
  & #icon
    fill #f2f2f2
i[icon="cert2"]
  & #icon
    fill #f2f2f2
i[icon="pig2"]
  & #icon
    fill #f2f2f2
i[icon="headset2"]
  & #icon
    fill #f2f2f2
i[icon="arrow-right"]
  & #icon
    fill black
i[icon="menu-arrow-right"]
  & #icon
    fill black
i[icon="menu-arrow-down"]
  & #icon
    fill black
i[icon="menu-arrow-up"]
  & #icon
    fill black
i[icon="expensive"]
  & #icon
    fill purple
i[icon="cheaper"]
  & #icon
    fill purple
i[icon="reply"]
  & #icon
    fill #808080
i[icon="comments"]
  & #icon
    fill #808080
i[icon="like"]
  & #icon
    fill #808080
i[icon="dislike"]
  & #icon
    fill #808080

i[icon="o-basket"]
  & #icon
    fill white
i[icon="o-region-delivery"]
  & #icon
    fill white
i[icon="o-delivery"]
  & #icon
    fill white
i[icon="o-pay"]
  & #icon
    fill white
i[icon="o-buyer"]
  & #icon
    fill white

