sprite-food-hover($path = "../img/")
  overflow: hidden
  background-repeat: no-repeat
  background-image: url($path + 'sprite.png')
  background-position: (-1px) -1px
sprite-food($path = "../img/")
  overflow: hidden
  background-repeat: no-repeat
  background-image: url($path + 'sprite.png')
  background-position: (-1px) -496px
sprite-glucose-hover($path = "../img/")
  overflow: hidden
  background-repeat: no-repeat
  background-image: url($path + 'sprite.png')
  background-position: (-1px) -991px
sprite-glucose($path = "../img/")
  overflow: hidden
  background-repeat: no-repeat
  background-image: url($path + 'sprite.png')
  background-position: (-1px) -1486px
sprite-gluk-hover($path = "../img/")
  overflow: hidden
  background-repeat: no-repeat
  background-image: url($path + 'sprite.png')
  background-position: (-496px) -1px
sprite-gluk($path = "../img/")
  overflow: hidden
  background-repeat: no-repeat
  background-image: url($path + 'sprite.png')
  background-position: (-496px) -496px
sprite-percent-hover($path = "../img/")
  overflow: hidden
  background-repeat: no-repeat
  background-image: url($path + 'sprite.png')
  background-position: (-496px) -991px
sprite-percent($path = "../img/")
  overflow: hidden
  background-repeat: no-repeat
  background-image: url($path + 'sprite.png')
  background-position: (-496px) -1486px
sprite-syringe-hover($path = "../img/")
  overflow: hidden
  background-repeat: no-repeat
  background-image: url($path + 'sprite.png')
  background-position: (-991px) -1px
sprite-syringe($path = "../img/")
  overflow: hidden
  background-repeat: no-repeat
  background-image: url($path + 'sprite.png')
  background-position: (-991px) -496px
sprite-test-line-hover($path = "../img/")
  overflow: hidden
  background-repeat: no-repeat
  background-image: url($path + 'sprite.png')
  background-position: (-991px) -991px
sprite-test-line($path = "../img/")
  overflow: hidden
  background-repeat: no-repeat
  background-image: url($path + 'sprite.png')
  background-position: (-991px) -1486px