.page-row
  & .page-content
    & .about-content
      width: 100%
      box-sizing border-box
      * 
        box-sizing: border-box;
      & .row
        width: 100%
        background-color: #fff
        padding-bottom: 25px
        margin-top: 15px
        &:first-child
          margin-top: 0
        & .about-logo
          max-width: 817px
          width: 100%
          height: auto
          padding-top: 50px
          padding-left: 26px
          @media screen and (max-width: 990px) 
            padding 40px 20px
          @media screen and (max-width: 767px)
            padding 20px 
          & img
            width: 100%
            height: 100%
        & .filler
          height: 50px
        &>h2
          // padding-top: 25px
          // padding-left: 25px
          color: #1a1a1a;
          font-family: ProbaProMedium;
          font-size: 25px;
          font-weight: 500;
          line-height 1.3 
          
        & .first-h2
          padding-top: 0
          padding 0 24px
          @media screen and (max-width: 767px) 
            font-size 20px
        &>span
          // padding-left: 27px
          display: block;
          color: #1a1a1a;
          font-family: ProbaPro;
          font-size: 16px;
          font-weight: 400;
          line-height 1
          margin-top: 25px;
        & .quality
          display: flex
          align-items center
          padding-top 35px
          @media screen and (max-width: 767px) 
            padding 0 25px
            padding-top: 35px
          & .icon
            width: 160px
            display: flex
            justify-content center
            align-items: center
            margin-right 20px
          & .quality-text
            min-height 76px
            max-height 80px
            display: flex
            flex-direction column
            justify-content space-between
            @media screen and (max-width: 1260px) 
              max-height inherit  
            & h3
              color: #1a1a1a;
              font-family: ProbaProMedium;
              font-size: 23px;
              font-weight: 500;
              line-height 1
            & span
              color: #1a1a1a;
              font-family: ProbaPro;
              font-size: 16px;
              font-weight: 400;
              max-width: 890px
              display: block
              @media screen and (max-width: 767px) 
                font-size 14px
        & .mission
          & .icon
            & .icon-wrapper
              width: 80px
              height: 62px
        & .vision
          & .icon
            & .icon-wrapper
              width: 68px
              height: 74px
        & .target
          & .icon
            & .icon-wrapper
              width: 70px
              height: 61px
          & .quality-text
            min-height 50px
        & .requisites
          // padding-left: 25px
          display: flex
          align-items: center
          &:nth-child(3)
            margin-top: 21px;
          & span
            color: #1a1a1a;
            font-family: ProbaPro;
            font-size: 16px;
            font-weight: 400;
            @media screen and (max-width: 480px) 
              font-size 14px
            &:first-child
              max-width: 200px
              font-family: ProbaProMedium
              width: 100%
              display: block

      & .row-requisites
        margin-bottom: 15px
        padding 37px 25px
        @media screen and (max-width: 767px) 
          padding 25px
        
      & .help
        padding-top: 43px
        margin-bottom: 8px;
        text-align center
        @media screen and (max-width: 767px)
          padding-top 20px
        &>span
          color: #1a1a1a;
          font-family: ProbaPro;
          font-size: 30px;
          font-weight: 500;
          @media screen and (max-width: 767px)
            font-size 20px
        & .help--tel
          padding-top: 5px
          & span
            color: #66339a;
            font-family: ProbaPro;
            font-size: 30px;
            font-weight: 500;
            @media screen and (max-width: 767px)
              font-size 20px
            &:first-child
              padding-right: 30px

.follow-news div:not(.icon-wrapper) 
  align-items flex-start
  .invite
    margin-top 14px
    h3 
      font-size 24px
      margin-top 2px
    span
      margin-top 28px
      font-size 18px
  .accept
    padding-top 17px
    max-width 313px
    label
      width auto !important