.page-row
  &.page-account .page-content .page
    @media $semiMdPlus
      flex-wrap wrap
    .left-menu
      @media $semiMdPlus
        width 100%
        max-width 100%
        margin-bottom 30px
    .right-content
      @media $semiMdPlus
        max-width 100%
        width 100%
  & .page-content
    & .page
      width: 100%
      min-height: 815px
      @media $semiMdPlus  
        min-height inherit
      height: 100%
      display: flex
      justify-content space-between
      .left-menu-toggle 
        display none
        @media $semiMdPlus
          display block
      & .left-menu
        background-color: #ffffff;
        display: flex
        flex-direction: column
        max-width: 273px;
        width: 100%

        @media $semiMdPlus
          width 25%
          max-width none
          box-sizing border-box
        & .menu-item
          display: flex
          align-items: center
          cursor: pointer
          border-bottom 1px solid #e9e9e9;
          &:hover
            background-color: purple
            & .icon-wrapper
              & #icon
                fill white
            & a
              color white
          & .icon-wrapper
            max-width 73px
            width: 100%
            display: flex
            justify-content center
            align-items: center
          & a
            color: #1a1a1a;
            font-family: ProbaPro;
            font-size: 18px;
            font-weight: 400;
            line-height: 51px;
            @media $smMinus
              font-size 16px
        & .menu-item-active
          background-color: purple
          & .icon-wrapper
            & #icon
              fill white
          & a
            color white
        & .my-orders
          & .icon-wrapper
            & i
              width: 30px
              height: 26px
        & .expected
          & .icon-wrapper
            & i
              width: 38px
              height: 26px
        & .settings
          & .icon-wrapper
            & i
              width: 21px
              height: 26px
        & .ordering-profiles
          & .icon-wrapper
            & i
              width: 32px
              height: 30px
        & .mailings
          & .icon-wrapper
            & i
              width: 36px
              height: 21px
      & .right-content
        max-width: 1227px
        width: 100%
        background-color: #fff
        display: flex;
        flex-direction: column;
        padding-bottom: 25px;

        @media $xlMinus
          width 73%
          max-width none
          box-sizing border-box
        & .my-orders-content
          display: flex
          flex-direction: column;
          width: 100%
          & .table-wrapper
            @media $smMinus
              font-size 14px
            @media $xs
              table-layout fixed
              overflow-x auto
              width 100%
              display block
            &>table
              &>tbody
                &>tr
                  &:nth-last-child(2)
                    & td
                      border-bottom 1px solid #e9e9e9;
          &>span
            color: #1a1a1a;
            font-family: ProbaProMedium;
            font-size: 25px;
            font-weight: 500;
            line-height: 20px;
            padding-top: 25px;
            padding-bottom: 25px;
            padding-left: 24px;
          & .table-wrapper
            display: flex
            justify-content center
            width: 100%
            padding-bottom: 24px;
            & table
              max-width 1177px
              width: 100%
              overscroll-behavior-y: contain;
              box-sizing border-box
              margin-left: -1px
              @media $smMinus
                margin-left 0
              & thead tr td,
              & tbody tr td
                border-top 1px solid #e9e9e9;
                border-left 1px solid #e9e9e9;
                text-align center
                color: #1a1a1a;
                font-family: ProbaPro;
                font-size: 16px;
                font-weight: 400;
                line-height: 25px;
                @media $smMinus
                  font-size 14px
                  line-height 1.3
                  padding 6px 4px
                &:last-child
                  border-right 1px solid #e9e9e9;
              & thead tr td
                padding 8px 0
                line-height: 24px;
                font-family: ProbaProMedium
                font-size 18px
                @media $smMinus
                  font-size 16px
                  line-height 1.3
                  padding 8px 4px
              & tbody
                & tr
                  &:last-child
                    & td
                      border-bottom 1px solid #e9e9e9;
              & .gap
                border 0
                background-color: #f2f2f2;
                display: none
              & .open-gap
                display: table-row
              & .action-btns
                display: flex
                align-items center
                padding-left: 22px
                padding-top: 12px
                padding-bottom: 12px
                & .more
                  width: 134px;
                  height: 40px;
                  border-radius: 60px;
                  background-color: #e6e6e6;
                  border 0
                  display: flex
                  justify-content center
                  align-items: center
                  color: #1a1a1a;
                  font-family: ProbaPro;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 56px;
                  cursor pointer
                  &:hover
                    background-color: #d9d9d9
                  &:active
                    background-color: #e6e6e6
                  & i
                    width: 10px;
                    height: 5px;
                    margin-right: 10px;
                    transition: transform .2s ease-in-out;
                    order 1
                  & span
                    order 2
                & .more-active
                  & i
                    transform-origin center
                    transform: rotate(-180deg);
                & .del-order
                  padding-left: 15px
                  color: #808080;
                  font-family: ProbaPro;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 56px;
                  cursor pointer
                  @media $smMinus
                    line-height 1.3
                  &:hover
                    color: darken(#808080, 40%)
              & .consist
                margin-top: 24px
                margin-bottom: 24px
                background-color: #fff
                display: flex
                flex-direction column
                position relative
                &:before
                  content: ''
                  position absolute
                  left: -26px;
                  background-color: #f2f2f2;
                  width: 26px;
                  height: calc(100% + 50px)
                  top -25px
                &:after
                  content: ''
                  position absolute
                  right: -27px;
                  background-color: #f2f2f2;
                  width: 27px;
                  height: calc(100% + 50px)
                  top -25px
                & .horizontal
                  display: none
                & table
                  max-height: 630px
                  height: 100%
                  & tbody
                    max-height: 630px
                    height 100%
                    & tr
                      &:hover
                        background-color: #f2f2f2;
                        cursor pointer
                      &>td
                        text-align left
                        &:nth-child(1)
                          padding-left: 29px
                          padding-right: 24px
                        &:nth-child(2)
                          padding: 25px 30px
                          & img
                            max-width 120px
                        &:nth-child(3)
                          width: 100%
                          padding-left: 25px
                          &>div
                            color: #1a1a1a;
                            font-family: ProbaProMedium;
                            font-size: 20px;
                            font-weight: 500;
                            &:last-child
                              padding-top: 40px
                          & div>span
                            color: #808080;
                            font-family: ProbaPro;
                            font-size: 16px;
                            font-weight: 400;
                            padding-left: 26px
                            &:first-child
                              padding-left: 0
                            &>span
                              color: #1a1a1a;
                              &:before
                                content: ' '
                & .top-panel,
                & .bottom-panel
                  display: flex
                  text-align left
                  & .consist-title
                    color: #1a1a1a;
                    font-family: ProbaProMedium;
                    font-size: 20px;
                    font-weight: 500;
                    padding-left: 25px
                    padding-top: 20px
                    padding-bottom: 20px
                & .top-panel
                  box-shadow: 0 10px 50px -2px rgba(0,0,0,.13);
                & .bottom-panel
                  display: flex
                  flex-direction column
                  padding-bottom: 26px
                  box-shadow: 0 -10px 39px -2px rgba(0,0,0,.13);
                  & .consist-title
                    padding-bottom: 18px
                    border-bottom: 1px solid #e6e6e6;
                  & .bio
                    padding-top: 24px
                    display: flex
                    &>div
                      display: flex
                      flex-direction column
                      font-family: ProbaPro;
                      font-size: 16px;
                      font-weight: 500;
                      line-height: 25px;
                      &:first-child
                        color: #808080;
                        padding-left: 26px
                        font-family: ProbaProMedium
                      &:last-child
                        color: #1a1a1a;
                        margin-left: 39px
        & .expected-content
          display: flex
          flex-direction: column;
          width: 100%
          &>span
            color: #1a1a1a;
            font-family: ProbaProMedium;
            font-size: 25px;
            font-weight: 500;
            padding-top: 23px;
            padding-left: 24px;
            padding-bottom: 23px;
            line-height: 24px;
          & .expected-products
            width: 100%
            display: flex
            flex-direction column
            & .ex-product
              display: flex
              align-items: center
              border-top: 1px solid #e6e6e6
              height: 170px
              @media $xs
                flex-wrap wrap
                position relative
                height auto
                padding-top 10px
                
              & .img-wrapper
                max-width: 280px
                width: 100%
                height: 100%;
                display: flex
                justify-content center
                align-items: center
                box-sizing border-box
                padding: 25px
                max-height: 100%;
                object-fit: contain;
                @media $semiMdPlus  
                  max-width 200px
                @media $xs
                  width 40%
                  padding 60px 20px 20px
                & img
                  width: 100%
                  max-height: 100%;
                  object-fit: contain;
              & .info-wrapper
                height 100%
                display: flex
                flex-direction column
                justify-content space-between
                min-width 335px
                padding: 25px 0;
                box-sizing: border-box;
                @media $semiMdPlus
                  min-width inherit
                @media $xs
                  width 60%
                  padding-right 15px
                  box-sizing border-box
                & .discount-wrapper
                  display: flex
                  margin-top: 25px
                  display none
                  @media $xs
                    position absolute
                    left 0
                    top 10px
                    width 40%
                    margin-top 0
                    z-index 1
                    flex-wrap wrap
                    flex-direction column
                    
                  & .discount
                    margin-left: 18px
                    padding-top: 1px
                    @media $xs
                      margin-left 0
                      &:not(:first-child)
                        margin-top 10px
                    &:first-child
                      margin-left: 0
                & .title-wrapper
                  display: flex
                  flex-direction column
                  // margin-top: 19px
                  & span
                    &:first-child
                      color: #808080;
                      font-family: ProbaPro;
                      font-size: 14px;
                      font-weight: 400;
                    &:last-child
                      color: #1a1a1a;
                      font-family: ProbaProMedium;
                      font-size: 16px;
                      font-weight: 500;
                & .price-wrapper
                  margin-top: 27px
              & .action-wrapper
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center
                @media $semiMdPlus
                  max-width 170px
                  margin-left 20px
                @media $xs
                  margin-left 0
                  max-width 100%
                  flex-direction row
                  align-items center
                  padding 10px 20px 20px
                & .count
                  min-width 130px
                  margin-top: 72px
                  display none
                  @media $xs
                    margin-top 0
                    margin-right 10px
                & .ex-del
                  color: #808080;
                  font-family: ProbaPro;
                  font-size: 16px;
                  font-weight: 400;
                  cursor pointer
                  width: 140px
                  // margin-top: 20px
                  @media $xs
                    margin-top 0
                  &:hover
                    color: darken(#808080, 40%)
        & .settings-content
          display: flex
          flex-direction: column;
          width: 100%
          &>span
            color: #1a1a1a;
            font-family: ProbaProMedium;
            font-size: 25px;
            font-weight: 500;
            padding-top: 18px
            padding-left: 24px
            padding-bottom 17px
          & .profile
            width: 100%
            padding-top: 11px
            padding-left: 28px
            padding-bottom: 30px
            border-top 1px solid #e6e6e6;
            display: flex
            box-sizing border-box
            & .name--value
              display: flex
              flex-direction column
              width: 100%;
              & .field
                display: flex
                padding-top: 10px
                max-width: 625px;
                width: 100%;
                justify-content: space-between;
                @media $xs
                  flex-wrap wrap
                &>span
                  color: #808080;
                  font-family: ProbaPro;
                  font-size: 18px;
                  font-weight: 400;
                  padding: 5px 0
                  @media $xs
                    font-size 16px
                    width 100%
                & .value
                  display: flex
                  align-items: center
                  width: 400px
                  height: 40px
                  & .icon-wrapper
                    width: 31px;
                    height: 31px;
                    border-radius: 50%
                    border: 1px solid #e6e6e6;
                    display: flex
                    justify-content center
                    align-items: center
                    cursor pointer
                    margin-left: 15px
                    &:hover
                      background-color: #e6e6e6;
                    & i
                      width: 12px
                  & input
                    display: none
                    width: 267px;
                    height: 40px;
                    border: 1px solid #e6e6e6;
                    padding-left: 20px
                  & .show-val
                    display: block
                  & .hidden-val
                    display: none
                  & .hidden-pencil
                    display: none

                  & .sex
                    display: flex
                    align-items: center
                    input[type="radio"]
                      display: initial
                      width: initial
                    & #female
                        margin-left: 15px
                    & label
                      padding-left: 25px;
                      padding-top: 2px;
                    & .accept
                      padding-top: 0
                      &:last-child
                        margin-left: 10px
        & .ordering-profiles-content
          display: flex
          flex-direction: column;
          width: 100%
          &>span
            color: #1a1a1a;
            font-family: ProbaProMedium;
            font-size: 25px;
            font-weight: 500;
            padding-top: 18px
            padding-left: 24px
            padding-bottom: 17px
          & .ordering-table
            display: flex
            justify-content center
            width: 100%
            @media $smMinus
              overflow-x auto
              table-layout fixed
              display block
            & table
              max-width 1177px
              width: 100%
              & thead
                padding-top: 10px
                padding-bottom: 10px
              & thead tr td,
              & tbody tr td
                border-top 1px solid #e9e9e9;
                border-left 1px solid #e9e9e9;
                text-align center
                color: #1a1a1a;
                font-family: ProbaPro;
                font-size: 16px;
                font-weight: 400;
                line-height: 25px;
                @media $smMinus
                  line-height 1.3
                  padding 6px 4px
                &:last-child
                  border-right 1px solid #e9e9e9;
              & thead tr td
                line-height 24px
                padding 8px 0
                font-family: ProbaProMedium
                @media $smMinus
                  padding 6px 4px
                  line-height 1.3
              & tbody
                & tr
                  &:nth-last-child(2)
                    & td
                      border-bottom 1px solid #e9e9e9;
              & .gap
                border 0
                background-color: #f2f2f2;
                display: none
              & .open-gap
                display: table-row
              & .action-btns
                display: flex
                align-items center
                padding-left: 22px
                padding-top: 19px
                padding-bottom: 19px
                &>div
                  border-radius: 60px;
                  height: 40px;
                  border: 1px solid #e6e6e6;
                  color: #1a1a1a;
                  font-family: ProbaPro;
                  font-size: 18px;
                  font-weight: 400;
                  display: flex
                  justify-content center
                  align-items: center
                  cursor pointer
                  &:hover
                    background-color: #e6e6e6
                  &:active
                    background-color: #ffffff

                & .edit
                  width: 160px;
                & .del-profile
                  margin-left: 12px
                  width: 114px;

              & .consist
                margin: 25px 0
                background-color: #fff
                display: flex
                flex-direction column
                position relative
                &:before
                  content: ''
                  position absolute
                  left: -26px;
                  background-color: #f2f2f2;
                  width: 26px;
                  height: calc(100% + 50px)
                  top -25px
                &:after
                  content: ''
                  position absolute
                  right: -27px;
                  background-color: #f2f2f2;
                  width: 27px;
                  height: calc(100% + 50px)
                  top -25px
                & .top-panel
                  display: flex
                  align-items: center
                  text-align left
                  border-bottom 1px solid #e6e6e6
                  height 65px
                  max-height 65px
                  & .consist-title
                    color: #1a1a1a;
                    font-family: ProbaProMedium;
                    font-size: 20px;
                    font-weight: 500;
                    padding-left: 25px
                & .order-profile
                  display: flex
                  flex-direction column
                  align-items flex-start
                  padding-left: 27px
                  & h3
                    color: #1a1a1a;
                    font-family: ProbaProMedium;
                    font-size: 18px;
                    font-weight: 500;
                    padding-top: 30px

                  & .name--value
                    display: flex
                    flex-direction column
                    width: 100%;
                    margin-top: 6px
                    & .field
                      display: flex
                      padding-top: 10px
                      max-width: 650px;
                      width: 100%;
                      justify-content: space-between;
                      &>span
                        color: #808080;
                        font-family: ProbaPro;
                        font-size: 18px;
                        font-weight: 400;
                        padding: 5px 0
                        height: 34px;
                      & .value
                        display: flex
                        align-items: center
                        width: 400px
                        & .icon-wrapper
                          width: 31px;
                          height: 31px;
                          border-radius: 50%
                          border: 1px solid #e6e6e6;
                          display: flex
                          justify-content center
                          align-items: center
                          cursor pointer
                          margin-left: 15px
                          &:hover
                            background-color: #e6e6e6;
                          & i
                            width: 12px
                        & input
                          display: none
                          width: 267px;
                          height: 42px;
                          border: 1px solid #e6e6e6;
                          padding-left: 20px
                        & .accept
                          padding-top: 0
                          max-width: 115px
                          & .check-container
                            padding-left: 13px
                          &:last-child
                            margin-left: 4px
                        & .show-val
                          display: block
                        & .hidden-val
                          display: none
                        & .hidden-pencil
                          display: none
                      & .type-drop
                        position: relative
                        display: flex
                        cursor pointer
                        & .type-wrapper
                          display: flex
                          align-items: center
                          & .circle
                            width: 28px;
                            height: 28px;
                            border-radius: 14px;
                            border: 1px solid #e6e6e6;
                            background-color: #ffffff;
                            display: flex
                            justify-content center
                            align-items: center
                            margin-left: 15px
                            & .circle-icon-wrapper
                              width: 10px
                              height: 5px
                        & .type-drop-content
                          display none
                          flex-direction column
                          position absolute
                          width: 150px
                          z-index 1
                          background: white;
                          top: 20px;
                          left: -4px
                          text-align left
                          & span
                            padding 5px
                            cursor pointer
                            &:hover
                              background-color: purple
                              color white
                        &:hover
                          & .type-drop-content
                            display flex


                & input[type=submit]
                  margin-top: 48px
                  margin-bottom: 25px
                  width: 182px;
                  height: 42px;
                  border-radius: 20px;
                  border: 1px solid #e6e6e6;
                  background-color: #fff
                  color: #1a1a1a;
                  font-family: ProbaPro;
                  font-size: 18px;
                  font-weight: 400;
                  &:hover
                    background-color: #e6e6e6
                  &:active
                    background-color: #ffffff
        & .mailings-content
          display: flex
          flex-direction: column;
          width: 100%
          &>span
            color: #1a1a1a;
            font-family: ProbaProMedium;
            font-size: 25px;
            font-weight: 500;
            padding-top: 18px
            padding-left: 24px
            padding-bottom: 17px
          & .mailings-form
            border-top 1px solid #e6e6e6;
            padding-top: 24px
            padding-left: 26px
            display: flex
            flex-direction column
            @media $xs
              padding 25px 20px
            &>span
              color: #1a1a1a;
              font-family: ProbaProMedium;
              font-size: 18px;
              font-weight: 400;
              &:first-child
                margin-top: -4px
              &:first-child,
              &:nth-child(4)
                font-size: 20px;
                font-weight: 500;
              &:nth-child(3)
                padding-top: 20px
              &:nth-child(4)
                padding-top: 50px
            &>input[type="email"]
              margin-top: 16px
              padding-left: 30px
              width: 303px;
              height: 53px;
              border: 1px solid #e6e6e6;
              font-family: ProbaPro;
              font-size: 16px;
              font-weight: 400;
              @media $xs
                width 100%
                box-sizing border-box
                padding 0 20px
              &::placeholder
                color: #808080;
            & .action-btns
              padding-top: 11px
              padding-bottom: 9px
              @media $xs
                text-align center
              & input[type="submit"]
                width: 203px;
                height: 43px;
                border-radius: 20px;
                background-color: #60bf30;
                color: #ffffff;
                font-family: ProbaPro;
                font-size: 18px;
                font-weight: 400;
                &:first-child
                  border 0
                  &:hover
                    background-color: darken(#60bf30, 20%)
                  &:active
                    background-color: #60bf30
                &:last-child
                  color: #1a1a1a;
                  margin-left: 12px
                  background-color: #fff
                  border: 1px solid #e6e6e6;
                  @media $xs
                    margin-left 0
                    margin-top 10px
                  &:hover
                    background-color: darken(#fff, 20%)
                  &:active
                    background-color: #fff
            & .accept
              padding-top: 14px
              max-width: 430px
            & .follow
              color: #1a1a1a;
              font-family: ProbaPro;
              font-size: 18px;
              font-weight: 400;
              & label
                font-size inherit
    & .password-container
      position: fixed;
      background: #0000002b;
      width: 100vw;
      height: 100vh;
      left: 0;
      top: 0;
      z-index 12
      display: none
      justify-content center
      align-items: center
      & .password-window
        max-width: 350px
        width: 100%
        background-color: #fff
        box-shadow: 0 9px 23px 0 rgba(0,0,0,.15);
        & .header
          display: flex
          justify-content space-between
          align-items: center
          box-sizing border-box
          padding: 29px;
          border-bottom 1px solid #e6e6e6
          & h2
            color: #1a1a1a;
            font-family: ProbaProMedium
            font-size: 20px;
            font-weight: 500;
            line-height 8px
          & .icon-wrapper
            width: 12px
            &:hover
              & #icon
                fill black
        & .body
          display: flex
          flex-direction column
          align-items: center
          & input
            width: 300px;
            height: 40px;
            border: 1px solid #e6e6e6;
            margin-top: 10px
            box-sizing border-box
            padding-left: 15px
            color: black
            font-family: ProbaPro;
            font-size: 18px;
            font-weight: 400;
            &:first-child
            &:last-child
              margin-top: 25px
            &::placeholder
              color: #808080;
              font-family: ProbaPro;
              font-size: 18px;
              font-weight: 400;
          & input[type=submit]
            width: 201px;
            height: 40px;
            border-radius: 20px;
            background-color: #66339a;
            border none
            color: #ffffff;
            font-family: ProbaPro;
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 35px