.page-row
  & .page-content
    & .basket-page
      width: 100%
      display: flex
      justify-content space-between

      @media $smMinus
        flex-direction column
      & .basket-items
        max-width: 1098px
        width: 100%
        background-color: #fff

        @media $xlMinus
          width 68%

        @media $smMinus
          width 100%
        & .item
          display: flex
          justify-content space-between
          align-items center
          height: 223px
          border-bottom 1px solid #e6e6e6;

          @media $smMinus
            flex-wrap wrap
            align-items flex-start
            justify-content flex-start
            height auto
            padding-bottom 20px
          
          @media $xs
            position relative

          & .img-wrapper
            max-width: 282px
            width: 100%
            height: 100%
            display: flex
            justify-content center
            align-items center
            box-sizing border-box
            padding: 40px

            @media $xlMinus
              max-width 240px
              padding 30px

            @media $smMinus
              max-width 40%
              width 40%
              box-sizing border-box
              padding 40px
              // padding 0

            @media $xs
              padding-top 90px
              padding-left 10px
              padding-right 10px
            & img
              width: 100%
              height: 100%
              object-fit contain
          & .item-info
            display: flex
            flex-direction column
            justify-content space-between
            padding 25px 0
            box-sizing border-box
            height 100%
            margin-left: -160px;

            @media $xlMinus
              margin-left 0
              max-width 323px
            
            @media $smMinus
              max-width 60%
              width 60%
              box-sizing border-box
              padding-left 20px
              // padding 0
            & .badges
              padding-top: 25px
              display: flex
              display none

              @media $xs
                position absolute
                left 0
                top 0
                display flex
                flex-direction column
              & span
                margin-left: 10px
                @media $xs
                  margin-left 0
                  margin-bottom 10px
                &:first-child
                  margin-left: 0
            & .titles
              // padding-top: 25px
              display: flex
              flex-direction column
              & span
                font-family: ProbaPro;
                &:first-child
                  color: #808080;
                  font-size: 14px;
                  font-weight: 400;
                &:last-child
                  color: #1a1a1a;
                  font-size: 16px;
                  font-weight: 500;
                  margin-top: 3px
                  font-family: ProbaProMedium
            & .item-price
              padding-top: 35px
              margin-top: auto;
            & .cupon
              margin-bottom: 3px
              margin-top 5px
              a 
                color #2173dd
              & span
                font-family ProbaPro
                color #808080
          & .action-btns
            max-width: 340px
            width: 100%
            display: flex
            align-items center
            // flex-direction column
            // align-items flex-start
  
            @media $xlMinus
              max-width 220px

            @media $smMinus
              max-width 60%
              width 60%
              box-sizing border-box
              padding 20px
              align-items flex-start
              margin-left auto

            @media $xs
              width 100%
              max-width none
              flex-direction row
              justify-content space-between
              align-items center
            & .flat-btns
              // padding-top: 30px

              @media $xs
                padding-top 0
                display flex
                flex-direction row-reverse
                align-items center
              & span
                color: #808080;
                font-family: ProbaPro;
                font-size: 16px;
                font-weight: 400;
                cursor pointer
                &:hover
                  color darken(#808080, 20%)
                &:active
                  color: #808080;
                &:first-child
                  //padding-right: 15px
                  //border-right 1px solid #e6e6e6;

                  @media $xs
                    padding-right 0
                    border none
                    width 40px
                    height 40px
                    flex-shrink 0
                    border-radius 50%
                    border: 1px solid #e6e6e6;
                    font-size 0
                    box-sizing border-box
                    background url('../img/icons/star.svg') center/70% no-repeat
                &:last-child
                  padding-left: 15px

                  @media $xs
                    padding-left 0
                    padding-right 25px
            & .count
              // margin-top: 45px
              margin-top 0
              @media $smMinus
                margin-top 0
      & .result--coupon
        max-width: 400px
        width: 100%
        @media $xlMinus
          width 30%
        
        @media $smMinus
          width 100%
          max-width 100%
        & .result
          padding-top: 42px
          padding-bottom: 40px
          display: flex
          flex-direction column
          align-items flex-start
          background-color: #fff
          & .divider
            width: 100%
            height: 1px
            background-color: #e6e6e6

            @media $xs
              display none
          & span
            color: #1a1a1a;
            font-family: ProbaPro;
            font-size: 30px;
            font-weight: 400;
            margin-left: 40px
            @media $smMinus
              margin 0 auto

            &>span
              padding-left: 24px
              font-weight: 700;
              font-family: ProbaProMedium
            &:nth-child(1)
              margin-bottom: 40px

              @media $xs
                margin-bottom 0
            &:nth-child(3)
              margin-top: 40px

              @media $xs
                margin-top 20px
          & .checkout
            margin-top: 44px
            margin-left: 40px
            display: flex
            justify-content center
            align-items center
            width: 323px;
            height: 53px;
            border-radius: 25px;
            background-color: #22a225;
            color: #ffffff;
            font-family: ProbaPro;
            font-size: 25px;
            font-weight: 400;
            cursor pointer

            @media $smMinus
              margin 20px auto

            @media $xs
              width 270px
              margin-top 40px
            &:hover
              background-color: #66cc33
            &:active
              background-color: #22a225;
        & .coupon
          background-color: #fff
          margin-top: 12px
          padding: 16px 40px
          display: flex
          align-items center

          @media $xs
            padding 10px
            margin-top 0
            padding-top 20px
          & input[type="text"]
            width: 305px
            height: 52px;
            border: 1px solid #e6e6e6;
            padding-left: 20px

            @media $smMinus
              width 100%
          & input[type="submit"]
            margin-left -53px
            width: 53px;
            height: 54px;
            background-color: #22a225;
            color white
            border 0

            @media $xlMinus
              margin-left 0
              width 65px
            &:hover
              background-color: #66cc33
            &:active
              background-color: #22a225;
          & label
            position relative
            width: 0
            cursor pointer
            & i
              position absolute
              width: 10px
              transform rotate(-90deg)
              right: 20px
              top -2px
              right 18px

              @media $xlMinus
                right 18px

              @media $smMinus
                right 23px
              & #icon
                fill white
                
.result--coupon__message 
  display flex
  padding 10px 40px
  justify-content flex-start
  align-items center
  b
    letter-spacing: 0.02em;
  &.result--coupon__message_success
    background-color #22a225
    color #fff
    .close-result--coupon__message
      #icon
        fill #fff
  .close-result--coupon__message
    width: 12px;
    height: 12px;
    display block
    margin-left 60px
    
    