.page-row
  & .page-content
    & .filter-line
      width: 100%
      background-color: white
      display: flex
      justify-content space-between
      align-items center
      & .filters
        padding: 24px 0;
        display: flex
        @media $semiMdPlus  
          padding 23px 20px
          margin-left -10px
        &>div
          display: flex
          align-items: center
          padding-left: 16px
          &:first-child
            margin-left 13px
          @media $semiMdPlus  
            padding-left 0
            margin-left 10px
          &:hover
            & span
              color: #66339a
          & .icon-wrapper
            display: none
            width: 12px
            height: 13px
          & span
            // padding-left: 8px
            color: #1a1a1a;
            font-family: ProbaPro;
            font-size: 18px;
            font-weight: 400;
            cursor pointer
            display flex
            align-items center
            position relative
            padding-right 20px
            i 
              width: 10px;
              height: 5px;
              // margin-left: 10px;
              position relative
              position absolute
              right 0
              top 55%
              transform translateY(-50%)
        & .active-filter
          & .icon-wrapper
            display: block
          & span
            color purple
            i #icon
              fill purple
        & .price-filter
          width: 82px
          & .icon-wrapper
            margin-top: -3px
      & .view-mode
        display: flex
        padding-right: 26px
        @media $semiMdPlus
          display none
        & span
          width: 22px;
          height: 22px;
          display: block
          margin-left: 12px
          cursor pointer
          & #icon
            fill #c0c0c0
        & .active-mode
          & #icon
            fill purple

    & .category-products
      & .cat-product
        & .product-discount
          display: flex;
          flex-direction: column;
          // padding-top: 10px;
          position: absolute;
          width: 100%
          & span
            margin-top: 5px
            &:first-child
              margin-top: 0

    & .view-grid
      /*width: 100%
      display: flex
      flex-wrap wrap
      justify-content flex-start*/
      width: 100%
      display grid
      //grid-template-columns repeat(5, 1fr)
      grid-template-columns: repeat(auto-fit, minmax(270px, 302px));
      grid-gap 1px
      margin-top: 1px
      @media $smMinus
        grid-template-columns: repeat(auto-fit,minmax(270px,296px));
      @media $semiMdPlus  
        grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
      & .cat-product
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center
        background-color: #fff;
        padding: 0 25px;
        /*min-width: 301px
        max-width: 301px
        width: 301px*/
        height: 520px;
        cursor: pointer;
        box-sizing: border-box;
        position: relative;
        //box-shadow: 0 0 0 1px #e6e6e6;
        /*border-left 1px solid #e6e6e6
        border-bottom 1px solid #e6e6e6
        @media screen and (min-width: 0px)
          &:nth-child(-n + 1)
            border-top 1px solid #e6e6e6
          &:nth-child(1n+1)
            border-left none
        @media screen and (min-width: 604px)
          &:nth-child(-n + 2)
            border-top 1px solid #e6e6e6
          &:nth-child(2n+1)
            border-left none
        @media screen and (min-width: 874px)
          &:nth-child(-n + 3)
            border-top 1px solid #e6e6e6
          &:nth-child(3n+1)
            border-left none
        @media screen and (min-width: 1144px)
          &:nth-child(-n + 4)
            border-top 1px solid #e6e6e6
          &:nth-child(4n+1)
            border-left none
        @media screen and (min-width: 1414px)
          &:nth-child(-n + 5)
            border-top 1px solid #e6e6e6
          &:nth-child(5n+1)
            border-left none*/
        &:last-child
          &:before
            content: '';
            height: 100%;
            position: absolute;
            border-right: 1px solid #e6e6e6;
            right: -1px;
        &:hover
          box-shadow: 0px 12px 39px -2px rgba(0,0,0,0.13);
          z-index 3
          & .fucking-border
            box-shadow: 0 0 0 1px rgba(102,51,154,1);
        & .fucking-border
          width: 100%
          height: 100%
          position absolute
        & .product-discount
          z-index 1
          width: 100%;
          position: absolute;
          margin-top: 10px;
          & .discount
            margin-top: 5px
            &:first-child
              margin-top: 0
        & div.info-wrapper
          position: absolute;
          bottom: 0;
          min-width: 252px
          height: 100%
          display: flex
          padding-top: 51px;
          box-sizing: border-box;
          // align-items flex-end
          & .sub-wrpapper
            width: 100%
            & .product-img
              max-width 250px
              width: 100%
              max-height: 245px
              height: 100%
              padding-bottom: 22px
              display: flex
              justify-content center
              align-items: flex-end
              position relative
              box-sizing border-box
              margin-bottom 24px
              & img
                width: 100%;
                height: 100%
                max-height: inherit;
                object-fit: contain;
              & .quick-view
                display: none
                position absolute
                width: 161px;
                height: 40px;
                background-color: #ffffffe6
                border none
                cursor pointer
                align-self: center
                justify-content center
                align-items: center
                & span
                  color: #1a1a1a;
                  font-family: ProbaPro;
                  font-size: 16px;
                  font-weight: 500;
                &:hover
                  background-color: #ffffff
            &:hover
              & .quick-view
                display: flex
                z-index 3
            & .cat-product-info
              display: flex
              flex-direction column
              align-items flex-start
              padding-bottom: 6px
              & span
                max-width: 225px
                &:first-child
                  color: #808080;
                  font-family: ProbaPro;
                  font-size: 14px;
                  font-weight: 400;
                  margin-bottom 2px
                &:last-child
                  & a
                    color: #1a1a1a;
                    font-family: ProbaProMedium;
                    font-size: 16px;
                    font-weight: 500;
                    line-height 1.3
                    display block
              & .cat-title
                position relative
                max-height: 63px;

                overflow: hidden;
                &:before
                  background: linear-gradient(to right,rgba(255,255,255,.89) 0,rgba(255,255,255,.93) 19%,rgba(255,255,255,.95) 30%,#fff 100%);
                  content: '';
                  width: 34px;
                  height: 25px;
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  border-radius: 12px 0 0 12px;
            & .product-buy
              display: flex
              justify-content space-between
              align-items: center
              width: 100%
              padding-bottom: 25px
              & .product-price
                & .old-price
                  padding-left: 10px
              &>.icon-wrapper
                width: 63px
      /*& .cat-product
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center
        background-color: #fff;
        padding: 0 25px;
        margin-top: 1px;
        margin-left: 1px
        max-width: 302px;
        width: 100%;
        height: 500px;
        cursor: pointer;
        box-sizing: border-box;
        position: relative;
        &:nth-child(5n+1)
          margin-left: 0
        &:hover
          box-shadow: 0px 12px 39px -2px rgba(0,0,0,0.13);
          z-index 3
          & .fucking-border
            box-shadow: 0 0 0 1px rgba(102,51,154,1);
          //box-shadow: inset 0 0 1px 2px rgba(102,51,154,1);
          //border 2px solid purple
          //box-shadow: 0px 12px 31px -2px rgba(0,0,0,0.1)
        & .fucking-border
          position absolute
          width: 301px
          height: 100%
          top: 0
          left: 0
          right: 0
          bottom 0
          //z-index 2
        & .product-discount
          z-index 1
        & div.info-wrapper
          position: absolute;
          bottom: 0;
          //z-index 2
          min-width: 250px
          height: 100%
          display: flex
          align-items flex-end
          & .sub-wrpapper
            width: 100%
            & .product-img
              max-width 250px
              width: 100%
              max-height: 245px
              height: 100%
              padding-bottom: 22px
              display: flex
              justify-content center
              align-items: flex-end
              position relative
              & img
                width: 100%;
                height: 100%
                max-height: inherit;
                object-fit: contain;
              & .quick-view
                display: none
                position absolute
                width: 161px;
                height: 40px;
                background-color: #ffffffe6
                border none
                cursor pointer
                align-self: center
                justify-content center
                align-items: center
                & span
                  color: #1a1a1a;
                  font-family: ProbaPro;
                  font-size: 16px;
                  font-weight: 500;
                &:hover
                  background-color: #ffffff
            &:hover
              & .quick-view
                display: flex
                z-index 3
            & .cat-product-info
              display: flex
              flex-direction column
              align-items flex-start
              padding-bottom: 18px
              & span
                max-width: 225px
                &:first-child
                  color: #808080;
                  font-family: ProbaPro;
                  font-size: 14px;
                  font-weight: 400;
                &:last-child
                  max-height: 66px
                  overflow hidden
                  & a
                    color: #1a1a1a;
                    font-family: ProbaProMedium;
                    font-size: 16px;
                    font-weight: 500;
              & .cat-title
                position relative
                &:before
                  background: linear-gradient(to right,rgba(255,255,255,.89) 0,rgba(255,255,255,.93) 19%,rgba(255,255,255,.95) 30%,#fff 100%);
                  content: '';
                  width: 34px;
                  height: 25px;
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  border-radius: 12px 0 0 12px;
            & .product-buy
              display: flex
              justify-content space-between
              align-items: center
              width: 100%
              padding-bottom: 25px
              &>.icon-wrapper
                width: 63px*/
    viewRowInnerHeight = 100%
    & .view-row
      display: none
      flex-direction column
      width 100%
      & .cat-product
        width: 100%
        display: flex
        justify-content flex-start
        align-items center
        background-color: #fff
        border-top 1px solid #e6e6e6;
        cursor pointer
        position relative
        height: 242px
        @media $smMinus
          height auto
        &:hover
          box-shadow: 0px 12px 39px -2px rgba(0,0,0,0.13);
          z-index 3
          & .fucking-border
            box-shadow: inset 0px 0px 0px 1px rgba(102,51,154,1);
        & .fucking-border
          position absolute
          width 100%
          height: 100%
          z-index: 2;
        & .product-discount
          height: 100%;
          display: flex;
          flex-direction: column;
          padding-top: 10px;
          width: initial;
          box-sizing: border-box;
        & .product-img
          max-width 335px
          width: 100%
          height: viewRowInnerHeight
          display: flex
          justify-content: center
          align-items: center
          padding 40px
          box-sizing border-box
          & img
            height: 100%;
            width: 100%;
            object-fit: contain;
          & .quick-view
            display: none
            position absolute
            width: 161px;
            height: 40px;
            background-color: #ffffffe6
            border none
            cursor pointer
            align-self: center
            justify-content center
            align-items: center
            & span
              color: #1a1a1a;
              font-family: ProbaPro;
              font-size: 16px;
              font-weight: 500;
            &:hover
              background-color: #ffffff
        & .divider
          width: 1px;
          min-width: 1px;
          height: 100%
          background-color: #e6e6e6;
          box-sizing: border-box;
          display: flex
          flex-direction column
          justify-content space-between
          & .pz
            display: none
            width: 1px
            height: 1px
            background-color: #66339ad6;
        &:hover
          & .pz
            display: block
          & .quick-view
            display: flex
            z-index 3
        & .cat-product-info
          display: flex
          flex-direction column
          justify-content flex-start
          width: 100%
          padding-left 40px
          /*border-left 1px solid #e6e6e6;*/
          height: viewRowInnerHeight
          box-sizing border-box
          @media $smMinus
            padding 20px 0
          &>span
            color: #1a1a1a;
            font-family: ProbaProMedium;
            font-weight: 500;
          & .product-title
            font-size: 20px;
            margin-bottom: 23px
            margin-top: 22px
            font-family: ProbaProMedium;
            color black
            z-index 3
          & .attrs
            font-size: 16px;
            margin-bottom: 5px
            font-family: ProbaProMedium;
            color:  #191919;
            font-weight: 500;
          & .country,
          & .expiration-date
            color: #808080;
            font-size: 16px;
            font-weight: 400;
            font-family: ProbaPro;
            &>span
              color: #1a1a1a;
              font-family: ProbaPro;
              &:before
                content ' '
          & .expiration-date
            margin-bottom: 15px
          & .exist
            padding-top: 10px
            display: flex
            align-items: center
            font-size: 14px;
            font-weight: 400;
            /*margin-bottom: 29px*/
            &>span
              display: block
              padding-left: 12px
              width: 8px

        & .buy-block
          max-width: 335px
          width 100%
          height: viewRowInnerHeight
          display: flex
          flex-direction column
          justify-content flex-end
          box-sizing border-box
          z-index 3
          @media $smMinus
            padding-right 20px
          & .product-price
            margin-bottom: 0px;
          & .product-price,
          & .opt-price,
          &>.count,
          & .buy-btn
            padding-left: 37px
          & .opt-price
            margin-bottom: 30px
            & span
              color #808080
          &>.count
            margin-bottom: 24px
          & .buy-btn
            display: flex
            align-items: center
            margin-bottom: 40px
            & .empty-product
              background-color: #c0c0c0;
              width: 203px;
              height: 40px;
              border-radius: 20px;
              border 0
              color white
              &:hover
                background-color: #b2b2b2
              &:active
                background-color: #c0c0c0;
            & input[type=submit]:not(.empty-product)
              width: 203px;
              height: 40px;
              border-radius: 20px;
              background-color: #66339a;
              border 0
              color white
              &:hover
                background-color: #773bb3
              &:active
                background-color: purple
            & .star-btn
              width: 38px
              height: 38px
              & .icon-wrapper
                width: 22px

.comments-text-before
  font-size 16px
  color #808080
  margin-right 17px
  float left
.comments-text
  font-size 14px
  color #808080
  padding-left 15px 
  float left
.comments-icon
  padding-left 30px
  position relative
  font-size 14px
  margin-left 22px
  &:before
    content ''
    position absolute
    left 0
    top 50%
    transform translateY(-50%)
    width 21px
    height 18px
    background-image url('../img/icon-comments.png')
    background-repeat no-repeat
    background-size cover
  
.cat-product__comments-bar
  display flex
  justify-content flex-start
  align-items center
  margin-bottom 21px
  .rating 
    position relative
    top 4px
.rating 
  border: none;
  float: left;
  margin-left -5px
  &-wrap {
    overflow hidden
  }
  > input 
    display: none; 
  > label:before 
    margin 2px 4px
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "";
    background-image url('../img/star_default.png')
    width 15px
    height 16px
    background-size 16px
    background-repeat: no-repeat;
  > .half:before
    width 8.5px
    position absolute
  > label
    color: #ddd; 
    float: right;
  > input:checked ~ label:before,
  &:not(:checked) > label:hover:before,
  &:not(:checked) > label:hover ~ label:before 
    background-image url('../img/star_active.png')
  > input:checked + label:hover:before,
  > input:checked ~ label:hover:before,
  > label:hover ~ input:checked ~ label:before, /* lighten current selection */
  > input:checked ~ label:hover ~ label:before   
    background-image url('../img/star_active.png')
  &.rating_big
    >label:before
      width: 25px;
      height: 25px;
      background-size: 25px;
    >.half:before
      width: 12.5px;
  
.product-price 
  .price
    line-height 1
  
.product-favorites
  z-index 1
  position absolute
  right 25px
  top 10px
  display block
  border-radius 50%
  width 25px
  height 25px
  display flex
  align-items center
  justify-content center
  background-color transparent
  transition .3s
  border 1px solid #ccc
  &__icon
    width 14px
    height 15px
    & #icon
      fill: #c0c0c0 !important
  &:hover
    background-color #66339a
    border-color #66339a
    & #icon
      fill: #fff !important
  &.active
    background-color #66339a
    border-color #66339a
    &:before
      content ''
      display block
      width: 6px;
      height: 10px;
      transform rotate(-45deg)
      transform: rotate(-135deg);
      border-left: 1px solid #fff;
      border-top: 1px solid #fff;
      position: absolute;
      top: 4px;
      left: 9px;
    .product-favorites__icon
      display none
.product-actions
  z-index 1
  position absolute
  top 220px
  left 0px
  .product-action
    background-color #60bf30
    height 40px
    width 75px
    position relative
    display block
    border-radius: 0 20px 20px 0;
    &:hover
      .product-action__popup
        display block
    &:not(:last-child)
      margin-bottom 5px
    &__icon
      position absolute
      text-align: center;
      left 47%
      top 50%
      transform translate(-50%, -50%)
      svg
        fill #fff
    i[icon="o-delivery"]
      width 43px
      height 23px
    &__popup
      position absolute
      bottom 61%
      left 10px
      background-color #fff
      padding 25px
      width 181px
      text-align center
      box-shadow 1px 2px 5px 0 rgba(0, 0, 0, 0.23)
      display none
      &:after
        content ''
        display block
        position absolute
        left 14px
        bottom -7px
        width 20px
        height 20px
        background-color #fff
        transform rotate(-45deg)
      &-title
        margin-bottom 10px
      .btn-grey
        display inline-flex
        padding 0 30px
        align-items center
        justify-content center
        height 25px
        box-sizing border-box
        font-size 14px
        color #000
        border 1px solid #e6e6e6
        border-radius 20px
        transition .3s
        &:hover
          background-color #e6e6e6
      &.product-action__popup_big
        width 200px
        .product-action__popup-title
          font-size 16px
        
      
    