.page-row
  & .page-content
    & .comments-content
      width: 100%
      background-color: #fff
      & .write-comment
        width: 100%
        text-align center
        padding-top: 29px
        padding-bottom: 27px
        border-bottom 1px solid #e6e6e6;
        & button
          width: 303px;
          height: 43px;
          border-radius: 20px;
          background-color: #66339a;
          color: #ffffff;
          font-family: ProbaPro;
          font-size: 18px;
          font-weight: 400;
          border 0