.page-row
  & .page-content
    & .map
      width: 100%
      position relative
      height: 100%

      @media $xs
        display flex
        flex-direction column
      & iframe
      & .ymaps-2-1-68-map
        width: 100%
      & .board
        position absolute
        max-width: 370px
        width: 100%
        background-color: #fff
        left: 23px
        top: 60px
        padding-top: 31px
        padding-left: 34px
        padding-bottom: 29px
        z-index 1
        box-shadow: 0px 12px 39px -2px rgba(0,0,0,0.13);
        @media $xs
          position static
          width 100%
          max-width none
          box-sizing border-box
          padding-left 0
          order -1
          padding-left 20px
          padding-right 20px
          padding-top 18px
          padding-bottom 17px
        &>p
          color: #1a1a1a;
          font-family: ProbaProMedium;
          font-size: 24px;
          font-weight: 500;
          @media $xs
            font-size 20px
        & .tels
          padding-top: 13px
          display: flex
          & .tel-list
            display: flex
            flex-direction column
            padding-left: 15px
          & .icon-wrapper
            width: 13px
            height: 13px
            margin-top: 3px;
          & span
            color: #1a1a1a;
            font-family: ProbaPro;
            font-size: 16px;
            font-weight: 400;
            &:last-child
              margin-top: 3px
              @media $xs 
                margin-top 13px
        & .schedule
          display: block
          max-width: 275px;
          color: #808080;
          font-family: ProbaPro;
          font-size: 16px;
          font-weight: 400;
          text-align left
          padding-top: 16px
          padding-left: 25px

          @media $xs
            max-width none
            width 100%
            box-sizing border-box
            padding-left: 2px;
            padding-top: 8px;
            line-height: 1.25;
            padding-right: 0;
        & .mail
          padding-top 24px
          display: flex
          align-items: center
          @media $xs
            padding-top 16px
            margin-bottom 23px
          & .icon-wrapper
            width: 18px
            height: 12px
            padding-right: 14px
            margin-bottom: -1px
        & .divider
          width: 414px;
          height: 1px;
          background-color: #e6e6e6;
          margin-left: -44px;
          margin-top: 20px
          margin-bottom: 20px

          @media $xs
            width calc(100% + 15px)
            margin-left -15px
        & .address
          display: flex
          align-items: flex-start
          padding-top: 15px
          @media $xs
            padding-top: 12px;
            line-height 1.3
            margin-bottom 23px
          & .icon-wrapper
            width: 15px
            height: 20px
            padding-right: 14px
          & span
            display: block
            max-width: 248px;
            color: #1a1a1a;
            font-family: ProbaPro;
            font-size: 16px;
            font-weight: 400;

            @media $xs
              max-width none
              box-sizing border-box
              width 100%
              padding-right 15px
        & .inst,
        & .fb,
        & .vk
          max-width: 115px
          width: 100%
          display: flex
          justify-content space-between
          margin-top: 10px
          & span
            color: #1a1a1a;
            font-family: ProbaPro;
            font-size: 16px;
            font-weight: 400;
          & .icon-wrapper
            width: 26px
            display: flex
            justify-content center
            align-items: center
            & div
              margin-top -3px
              & #icon
                fill black
        & .inst
          padding-top: 15px
          margin-top: 0
        & .inst,
        & .fb
          & span
            padding-right: 6px
        & .inst
          & .icon-wrapper
            & div
              width: 17px
              height: 18px
        & .fb
          & .icon-wrapper
            & div
              width: 18px
              height: 17px
        & .vk
          & .icon-wrapper
            & div
              width: 26px
              height: 17px
      & .map-pointer
        position absolute
        width: 89px
        height: 97px
        top: 40%;
        left: 54%;
        display none
      & .contact-form
        width: 100%
        height: 373px
        background-color: #fff
        display: flex
        flex-direction column
        align-items: center

        @media $xs
          height auto
          padding-bottom 30px
        & h2
          color: #1a1a1a;
          font-family: ProbaPro;
          font-size: 24px;
          font-weight: 500;
          margin-top: 24px
        & form
          max-width: 900px
          width: 100%
          display: flex
          flex-direction column
          align-items: center
          margin-top: 14px

          @media $smMinus
            max-width 90%
          @media $xs
            width calc(100% - 40px);
          & .input-row
            width: 100%
            display: flex
            justify-content space-between

            @media $xs
              flex-direction column
            & input
              width: 293px;
              height: 40px;
              border: 1px solid #e6e6e6;
              font-family: ProbaPro;
              font-size: 16px;
              font-weight: 400;
              box-sizing border-box
              padding-left: 20px

              @media $smMinus
                width 32%

              @media $xs
                width 100%
                margin-bottom 10px
                flex-shrink 0
              &::placeholder
                color: #808080;
          & .textarea
            width: 100%
            margin-top: 10px
            & textarea
              width: 100%
              height: 160px
              border: 1px solid #e6e6e6;
              font-family: ProbaPro;
              font-size: 16px;
              font-weight: 400;
              box-sizing border-box
              padding-left: 20px
              padding-top: 20px
              resize none
              &::placeholder
                color: #808080;
          & input[type=submit]
            width: 300px;
            height: 40px;
            border-radius: 20px;
            background-color: #66339a;
            border none
            color: #ffffff;
            font-family: ProbaPro;
            font-size: 18px;
            font-weight: 400;
            margin-top: 14px

            @media $xs
              width calc(100% - 40px);
            &:hover
              background-color: #773bb3
            &:active
              background-color: purple

#map 
  height 700px
  @media $xs
    height 400px