.page-row
  & .page-content
    & .banner-row
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 15px
      width: 100%
      @media screen and (max-width: 1260px)
        flex-direction column
        align-items: center
      & .phantom-catalog
        width 290px
        height: 490px
        @media screen and (max-width: 1560px) 
          display none
          height inherit
        @media screen and (max-width: 1100px)
          display: flex
      & .head-banner
        width: 56vw
        max-width: 891px
        height: 432px
        background-color: green
        position relative
        margin-right: 15px
        margin-left: 15px
        @media screen and (max-width: 1560px) 
          margin-left 0
          width 74%
          max-width initial 
        @media screen and (max-width: 1260px) 
          max-width: 100%
          width: 100%
          margin-right 0
        @media screen and (max-width: 990px) 
          height: auto
        & .slider-wrapper
          width: 100%
          height: 100%
          & .slick-list
            height: 100%
            & .slick-track
              height: 100%
              & a
                width: 100%
                height: 100%
                & img
                  width: 100%
                  height: 100%
                  object-fit: cover;
                  @media screen and (max-width: 990px) 
                    height auto
        & .slider-nav
          display: flex
          justify-content space-between
          position absolute
          width: 100%
          bottom 25px
          @media screen and (max-width: 990px)  
            justify-content: center;
          & .phantom
            flex 1
            @media screen and (max-width: 990px)  
              display none
          & .dots
            display: flex
            cursor pointer
            @media screen and (max-width: 990px)  
              display none
            & .dot
              width: 13px;
              height: 10px;
              border-radius: 5px;
              border: 1px solid #e6e6e6;
              margin-left: 20px
              box-sizing border-box
              &:first-child
                margin-left: 0
              &:hover
                background-color: gray
              &:active
                background-color: purple
            & .current-dot
              background-color: purple
          & .arrows
            display: flex
            justify-content flex-end
            margin-right: 25px
            flex 1
            @media screen and (max-width: 990px) 
              width: 90%;
              flex: inherit;
              justify-content: space-between;
              margin 0 auto
            & .icon-wrapper
              width: 23px;
              cursor pointer
              & #icon
                transition fill 0.3s
              & i 
                transition  1s
              
              &:first-child
                margin-right: 25px
                transform-origin center
                transform rotate(180deg)
                &:hover
                  & i
                    transform: translateX(3px);
              &:last-child
                &:hover
                  & i
                    transform: translateX(3px);
              &:hover
                & #icon
                  fill purple
      & .product-week
        width: 250px
        background-color: white
        display: flex
        flex-direction column
        justify-content space-between
        align-items: center
        padding: 25px
        @media screen and (min-width: 1580px)
          max-height 382px
        @media screen and (max-width: 1260px)
          width: 100%
          margin-top: 15px
          box-sizing border-box
        & .week-title
          width: 100%
          display flex
          justify-content space-between
          align-items: center
          margin-top: -8px;
          @media screen and (max-width: 990px) 
            margin-bottom 15px
          & span
            &:first-child
              color: #1a1a1a;
              font-family: ProbaProBold
              font-size: 20px;
              font-weight: 400;
            &:last-child
              color: #1a1a1a;
              font-family: ProbaPro;
              font-size: 18px;
              font-weight: 400;
        & .week-info
          display: flex
          flex-direction column
          align-items flex-start
          & span
            max-width: 250px
            &:first-child
              color: #808080;
              font-family: ProbaPro;
              font-size: 14px;
              font-weight: 400;
            &:last-child
              color: #1a1a1a;
              font-family: ProbaPro;
              font-size: 16px;
              font-weight: 500;
        & .week-img
          padding-bottom: 25px
          max-width: 250px
          max-height: 184px;
          width: 100%
          display: flex
          justify-content center
          box-sizing border-box
          & img
            object-fit contain
        & .week-buy
          width: 100%
          display: flex
          justify-content space-between
          align-items: center
          padding-top: 25px
          & .icon-wrapper
            width: 63px
            height: 43px
    & .advantages
      width: 100%
      height: 74px
      padding-top: 15px
      @media screen and (max-width: 1420px)
        height: auto
      & .row-main
        display: flex
        justify-content space-between
        height: 100%
        background-color: #fff
        @media screen and (max-width: 1420px)
          // flex-wrap wrap
          // justify-content space-evenly
        @media screen and (max-width: 1260px) 
          flex-wrap wrap
        & .advantage
          max-width: 380px
          width: 100%
          cursor pointer
          border-left 1px solid #e5e5e5
          display: flex
          justify-content center
          padding 0 10px
          @media screen and (max-width: 1260px) 
            width 50%
            box-sizing: border-box;
            max-width initial
            border-bottom 1px solid #e5e5e5
          @media screen and (max-width: 1560px)
            height: 74px
            // border none
          @media screen and (max-width: 990px) 
            width 100%
            height auto
            flex-wrap wrap
            padding 0
          &:first-child
            @media screen and (min-width: 1261px) 
              border 0
          @media screen and (min-width: 768px)     
            &:hover
              & .main-view
                display: none
              & .second-view
                display: flex
              
          & .main-view,
          & .second-view
            width: 100%
            height: 100%
            display: none
            justify-content center
            align-items center
            max-width: 320px
            @media screen and (max-width: 990px) 
              height auto !important
              display: flex
              height 72px !important
          & .main-view
            display: flex
            @media screen and (max-width: 1420px)
              justify-content flex-start
            @media screen and (max-width: 990px) 
              border-bottom 1px solid #e5e5e5
            @media screen and (max-width: 520px)
              box-sizing border-box
              padding-left: 25px
            & .icon-container
              @media screen and (max-width: 990px) 
                width 58px  
            & span
              color: #1a1a1a;
              font-family: ProbaProBold
              font-size: 18px;
              font-weight: 400;
              padding-left: 22px
          & .second-view
            display: none
            position: relative;
            @media screen and (max-width: 990px) 
                display flex
                height auto
            & span
              color: #1a1a1a;
              font-family: ProbaPro;
              font-size: 18px;
              font-weight: 400;
              text-align center
              max-width: 275px;
              line-height 20px
              z-index 2
            & .icon-wrapper
              position absolute
              height: 100%
              bottom: 0;
              display: flex;
              align-items: flex-end
        & .delivery
          & .icon-wrapper
            width: 58px
            height: 31px
          & .second-view
            & .icon-wrapper
              width: 168px
        & .cert
          & .icon-wrapper
            width: 54px
            height: 38px
            margin-top 5px
          & .second-view
            & .icon-wrapper
              width: 171px
        & .pig
          & .icon-wrapper
            width: 42px
            height: 37px
          & .second-view
            & .icon-wrapper
              width: 105px
        & .headset
          & .icon-wrapper
            width: 38px
            height: 34px
          & .second-view
            & .icon-wrapper
              width: 99px
    & .categories
      /*max-width main-width
      width: 100%
      display: flex
      flex-wrap wrap
      justify-content space-between
      padding-bottom: 12px*/
      width: 100%
      display grid
      grid-template-columns repeat(3, minmax(200px, 1fr))
      //grid-template-rows: repeat(auto-fill,  minmax(200px, 494px));
      grid-auto-rows: 1fr
      grid-gap 15px
      margin: 15px 0
      @media screen and (max-width: 1260px) 
        grid-template-columns repeat(2, minmax(200px, 1fr))
        grid-auto-rows 410px !important
      @media screen and (max-width: 990px)
        grid-template-columns repeat(1, minmax(200px, 1fr))
        grid-auto-rows 300px !important
      & .category
        width: 100%
        height: 100%
        background-color: #ffffff;
        display: flex
        flex-direction column
        justify-content space-between
        align-items: center
        cursor pointer
        position relative
        overflow hidden
        transition all 0.5s
        &:hover
          & .cat-title
            color white
          & .cat-arrow
            & #icon
              fill white
        & .cat-title
          color: #1a1a1a;
          font-family: ProbaPro;
          font-size: 30px;
          font-weight: 500;
          line-height: 56px;
          padding-top: 52px
          display: flex
          justify-content: center;
          align-items: center
          z-index 2
          & .cat-arrow
            padding-left: 15px
            padding-top: 5px
            width 23px
        & .cat-img
          width: 100%
          height 100%
          display: flex
          justify-content center
          align-items: center
          position absolute
          left 0
          top 0
          & img
            width: 100%
      & .red
        background: url("../img/index/percent.jpg"), url("../img/index/percent-hover.jpg")
        background-position: center;
        background-size: cover
        background-repeat: no-repeat;
        &:hover
          background: url("../img/index/percent-hover.jpg"), url("../img/index/percent.jpg")
          background-position: center;
          background-size: cover
          background-repeat: no-repeat;
      & .orange
        background: url("../img/index/gluk.jpg"), url("../img/index/gluk-hover.jpg")
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        &:hover
          background: url("../img/index/gluk-hover.jpg"), url("../img/index/gluk.jpg")
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
      & .purple
        background: url("../img/index/test-line.jpg")
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        &:hover
          //background: url("../img/index/test-line-hover.jpg"), url("../img/index/test-line.jpg")
          background: url("../img/index/test-line-hover.jpg")
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          // background: radial-gradient(ellipse at center, #7546a6 0%, #66339A 95%, #66339a 100%);
      & .blue
        background: url("../img/index/syringe.jpg"), url("../img/index/syringe-hover.jpg")
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        &:hover
          background: url("../img/index/syringe-hover.jpg"), url("../img/index/syringe.jpg")
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
      & .green
        background: url("../img/index/food.jpg"), url("../img/index/food-hover.jpg")
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        &:hover
          background: url("../img/index/food-hover.jpg"), url("../img/index/food.jpg")
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
      & .yellow
        background: url("../img/index/glucose.jpg"), url("../img/index/glucose-hover.jpg")
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        &:hover
          background: url("../img/index/glucose-hover.jpg"), url("../img/index/glucose.jpg")
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

      & .category
        @media screen and (max-width: 520px)
          background-color: #fff
          background-size contain
          & .cat-title
            font-size 23px


.sub-level.sub-title_black 
  background-color #000
  .sub-title
    span
      color #fff !important

.banner-row .card-product_week 
  max-width 100%
  width 302px
  @media $smMinus
    margin-top 15px
  @media screen and (min-width: 1580px)
    max-height 432px
  @media (max-width: 587px)
    width 100%

@media screen and (max-width: 990px)
  .page-row .page-content .advantages,
  .banner-row .card-product_week
    padding-top 10px 
  .page-row .page-content .categories
    grid-gap: 10px;
    margin: 10px 0;
  .page-row .page-content .advantages,
  .page-row .page-content .categories 
    margin-left auto
    margin-right auto
    max-width calc(100% - 20px);


@media screen and (max-width: 768px)
  .modal-window .modal-scroll .products .product
    max-width: calc(100% - 22px);
    box-sizing border-box
  header .header-wrapper .favorite .modal-window .bottom-panel a
    width: 270px;
    margin: 0 auto;
    line-height: 0;
    
@media screen and (max-width: 520px)
  header .header-wrapper .favorite .modal-window,
  header .header-wrapper .user .show-lk-auth
    top 56px
  header .header-wrapper .basket .modal-window
    max-height: calc(100vh - (100vh - 100%) - 56px);
    top 56px
  header .header-wrapper .user .lk, header .header-wrapper .user .auth
    max-height: calc(100% - 56px);
    min-height: calc(100vh - 56px);
  .page-home .page-row .page-content 
    margin-bottom 0
  .page-row .page-content .categories .category .cat-title
    padding-top 12px
  .follow-news div:not(.icon-wrapper)
    padding 21px 0 45px
  .follow-news div:not(.icon-wrapper) .invite
    margin-top 9px
    h3
      letter-spacing: 0.023em;
    span
      margin-top 16px
      line-height: 1.3;
  .follow-news div:not(.icon-wrapper) .follow-form form > div
    padding 40px 0 19px
    .input-wrapper
      max-width inherit
      margin-left 0
      margin-right 0
      input[type="email"]
        min-height 40px
    input[type="submit"]
      margin-top: 16px;
      font-size: 20px;
      height: 40px;
      width: 100%;
    

  footer
    .footer-two
      padding: 38px 5px;   
      div:not(:last-child)
        margin-bottom 8px   
    .footer-one
      padding-top 17px
      .tel-list
        padding 11px 0 25px
        span
          line-height 1.3
      .socials
        padding: 33px 0 15px
        
  header .second-header .second-wrapper .tel-drop .tel-drop-wrapper .tel-drop-content .tel-drop-info
    min-width inherit
    
.page-home 
  .content
    padding-top 15px
    @media (max-width: 540px) 
      padding-top 0
    