.page-row
  & .page-content
    & .ordering-content
      width: 100%
      display: flex
      justify-content space-between

      @media $mdMinus
        flex-direction column
      & .left-block
        max-width 1097px
        width: 100%


        @media $xlMinus
            max-width: none
            width 68%
        
        @media $mdMinus
            width 100%
        & .step
          background-color: #fff
          margin-top: 13px
          &:first-child
            margin-top: 0
            & .step-body
              padding-top: 0
          & .step-head
            width: 1097px;
            height: 72px;
            background-color: #66339a;
            display: flex
            justify-content space-between
            align-items center

            @media $xlMinus
              width 100%

            @media $mdMinus
              height 50px
            & .l-head
              height: 100%
              width: 100%
              display: flex
              align-items: center
              & .filler
                max-width 91px
                width: 100%
                display: flex
                justify-content center

                @media $mdMinus
                  max-width 50px
              & h3
                color: #ffffff;
                font-family: ProbaPro;
                font-size: 25px;
                font-weight: 500;

                @media $mdMinus
                  font-size 20px
            &>span
              color: #ab7dd9;
              font-family: ProbaPro;
              font-size: 16px;
              font-weight: 400;
              padding-right: 30px
              cursor pointer
          & .step-body
            padding-top: 30px
            padding-bottom: 30px
            display: none

          & .step-foot
            display: flex
            justify-content space-between
            align-items center
            padding: 8px 26px 10px 26px
            border-top 1px solid #e6e6e6

            & input[type=button]
              width: 92px;
              height: 42px;
              border-radius: 20px;
              border 0
              color: #1a1a1a;
              font-family: ProbaPro;
              font-size: 18px;
              font-weight: 400;
              &:first-child
                border: 1px solid #e6e6e6;
                background-color: #fff
              &:last-child
                background-color: #60bf30;
                color: #ffffff
            & input[type=submit]
              width: 250px;
              height: 40px;
              border-radius: 20px;
              background-color: #60bf30;
              color: #ffffff;
              font-family: ProbaPro;
              font-size: 18px;
              font-weight: 400;
              border none

              @media $xs
                width 150px
                font-size 16px
        & .step-1
          & .step-head
            & .icon-wrapper
              width: 30px
              height: 26px
              & #icon
                fill white
          & .step-body
            display: block
            & table
              width: 100%
              border-spacing 0
              & thead tr td,
              & tbody tr td
                border-top 1px solid #e6e6e6
              & thead

                @media $smMinus
                  display none

                & tr
                  & td
                    color: #808080;
                    font-family: ProbaPro;
                    font-size: 16px;
                    font-weight: 400;
                    padding-top: 15px
                    padding-bottom: 13px
              & tbody
                & tr
                    @media $smMinus
                      display flex
                      flex-wrap wrap
                      padding-bottom 20px
                  & td
                    @media $smMinus
                      box-sizing border-box
                      width 60%
                      padding-left 10px
                      margin-left auto
                      border-top 0 !important
                    & img
                      max-width 109px
                      max-height:70px

                      @media $smMinus
                        max-width 100%
                        width 100%
                        max-height none
                    & span
                      color: #1a1a1a;
                      font-family: ProbaPro;
                      font-size: 16px;
                      font-weight: 400;

                      @media $xs
                        font-size 16px !important
                    &:nth-child(1)
                      padding: 30px

                      @media $smMinus
                        width 40%
                        padding-left 10px
                        border-top: 1px solid #e6e6e6 !important
                    &:nth-child(2)
                      @media $smMinus
                        width 60%
                        border-top: 1px solid #e6e6e6 !important
                        padding-top 20px
                        padding-right 10px

                    &:nth-child(3)
                      // @media $smMinus
                      //   width 60%
                      //   padding-left 10px
                      //   margin-left auto
                      & span
                        font-family: ProbaProMedium;

                        @media $smMinus
                          font-size 16px

        & .step-2
          & .step-head
            & .icon-wrapper
              width: 32px
              height: 30px
              & #icon
                fill white
          & .step-body
            & .name--value
              display: flex
              flex-direction column
              width: 100%;
              padding-left: 30px
              & .field
                display: flex
                padding-top: 10px
                max-width: 700px;
                width: 100%;
                justify-content: space-between;
                &>span
                  color: #808080;
                  font-family: ProbaPro;
                  font-size: 18px;
                  font-weight: 400;
                  padding: 5px 0
                  height: 42px;
                & .value
                  display: flex
                  align-items: center
                  width: 400px
                  &>span
                    height: 42px;
                    margin-top: 3px;
                  & .icon-wrapper
                    width: 31px;
                    height: 31px;
                    border-radius: 50%
                    border: 1px solid #e6e6e6;
                    display: flex
                    justify-content center
                    align-items: center
                    cursor pointer
                    margin-left: 15px
                    margin-top: -20px;
                    &:hover
                      background-color: #e6e6e6;
                    & i
                      width: 12px
                  & input
                    display: none
                    width: 267px;
                    height: 42px;
                    border: 1px solid #e6e6e6;
                    padding-left: 20px
                  & .accept
                    padding-top: 0
                    max-width: 115px
                    & .check-container
                      padding-left: 30px;
                      padding-top: 3px;
                      margin-bottom: 18px
                    &:last-child
                      margin-left: 4px
                  & .show-val
                    display: block
                  & .hidden-val
                    display: none
                  & .hidden-pencil
                    display: none
                & .type-drop
                  position: relative
                  display: flex
                  cursor pointer
                  & .type-wrapper
                    display: flex
                    flex-direction column
                  & .type-drop-content
                    display none
                    flex-direction column
                    position absolute
                    width: 150px
                    z-index 1
                    background: white;
                    top: 20px;
                    left: -4px
                    & span
                      padding 5px
                      cursor pointer
                      &:hover
                        background-color: purple
                        color white
                  &:hover
                    & .type-drop-content
                      display flex
        & .step-3
          & .step-head
            & .icon-wrapper
              width: 42px
              height: 26px
              & #icon
                fill white
          & .step-body
            padding-top: 18px
            padding-left: 25px
            padding-right: 25px
            &>div
              max-width 630px
              width: 100%
              display: flex
              flex-wrap wrap
              justify-content space-between
              & input[type=radio]
                display: none
                &:checked + label
                  box-shadow: 0 0 0 5px purple
              & .delivery-type
                width: 200px
                height: 200px
                display: flex
                flex-direction column
                justify-content space-evenly
                align-items: center
                border: 1px solid #e6e6e6;
                position relative
                margin-top: 12px
                cursor pointer
                &:hover
                  box-shadow: 0 0 0 5px purple
                & .circle
                  position: absolute
                  width: 32px;
                  height: 32px;
                  border-radius: 50%
                  border: 1px solid #66339a;
                  background-color: #ffffff;
                  display: flex
                  justify-content center
                  align-items: center
                  top: 20px
                  right: 20px
                  cursor pointer
                  & span
                    color purple
                  &:hover
                    background-color: purple
                    & span:not(.tip)
                      color white
                    & .tip
                      display: block
                  & .tip
                    display: none;
                    width: 500px;
                    background-color: white;
                    color: black
                    text-align: center;
                    border-radius: 6px;
                    padding: 5px 0;
                    position: absolute;
                    z-index: 11;
                    top: 37px;
                    left: -234px;
                    transition: opacity .3s;
                    border 1px solid #e6e6e6

                    @media $xlMinus
                      width 200px
                      left -100px
                      padding 5px
                    
                    @media $smMinus
                      width 130px
                      left -65px
                & .img-wrapper
                  padding-top: 30px;
                & .title
                  text-align center
                  & span
                    color: #2c2a29;
                    font-family: ProbaProBold;
                    font-size: 18px;
                    font-weight: 400;
                    text-align center
        & .step-4
          & .step-head
            & .icon-wrapper
              width: 42px
              height: 33px
              & #icon
                fill white
          & .step-body
            padding-top: 18px
            padding-left: 25px
            padding-right: 25px
            flex-wrap wrap
            justify-content space-between
            & input[type=radio]
              display: none
              &:checked + label
                box-shadow: 0 0 0 5px purple
            & .payment-type
              width: 200px
              height: 200px
              display: flex
              flex-direction column
              justify-content space-evenly
              align-items: center
              border: 1px solid #e6e6e6;
              position relative
              margin-top: 12px
              cursor pointer
              &:hover
                box-shadow: 0 0 0 2px purple
              & .title
                text-align center
                & span
                  color: #2c2a29;
                  font-family: ProbaProBold;
                  font-size: 18px;
                  font-weight: 400;
                  text-align center
        & .step-5
          & .step-head
            & .icon-wrapper
              width: 25px
              height: 30px
              & #icon
                fill white
          & .step-body
            & .name--value
              flex-direction column
              width: 100%;
              padding-left: 30px
              & .field
                display: flex
                padding-top: 10px
                max-width: 700px;
                width: 100%;
                justify-content: space-between;

                @media $mdMinus
                  max-width none
                  flex-direction column
                &>span
                  color: #808080;
                  font-family: ProbaPro;
                  font-size: 18px;
                  font-weight: 400;
                  padding: 5px 0
                  height: 42px;

                  @media $mdMinus
                    font-size 15px
                    height auto
                    margin-bottom 15px
                & .value
                  display: flex
                  align-items: center
                  width: 400px
                  &>span
                    height: 42px;
                    margin-top: 3px;
                  & .icon-wrapper
                    width: 31px;
                    height: 31px;
                    border-radius: 50%
                    border: 1px solid #e6e6e6;
                    display: flex
                    justify-content center
                    align-items: center
                    cursor pointer
                    margin-left: 15px
                    margin-top: -20px;
                    &:hover
                      background-color: #e6e6e6;
                    & i
                      width: 12px
                  & input
                    display: none
                    width: 267px;
                    height: 42px;
                    border: 1px solid #e6e6e6;
                    padding-left: 20px
                  & textarea
                    display: none
                    width: 402px;
                    height: 122px;
                    border: 1px solid #e6e6e6;
                    padding-top: 20px
                    padding-left: 20px
                    resize none
                  & .show-val
                    display: block
                  & .hidden-val
                    display: none
                  & .hidden-pencil
                    display: none
                & .type-drop
                  position: relative
                  display: flex
                  cursor pointer
                  & .type-wrapper
                    display: flex
                    flex-direction column
                  & .type-drop-content
                    display none
                    flex-direction column
                    position absolute
                    width: 150px
                    z-index 1
                    background: white;
                    top: 20px;
                    left: -4px
                    & span
                      padding 5px
                      cursor pointer
                      &:hover
                        background-color: purple
                        color white
                  &:hover
                    & .type-drop-content
                      display flex



      & .right-block
        

          @media $xlMinus
            max-width: none
            width 30%

          @media $mdMinus
            width 100%

        & .result--coupon
          max-width: 400px
          width: 100%
          position sticky

          @media $xlMinus
            max-width none
            width 100%
          & .result
            padding-top: 42px
            padding-bottom: 40px
            display: flex
            flex-direction column
            align-items center
            background-color: #fff
            text-align left

            @media $xlMinus
              padding 20px

            @media $xs
              background-color #f2f2f2
            & div
              width: 300px
              display: flex
              justify-content space-between

              @media $xlMinus
                width 100%
              & span
                color: #1a1a1a;
                font-family: ProbaPro;
                font-size: 30px;
                font-weight: 400;

                @media $xlMinus
                  font-size 21px
                &:last-child
                  font-weight: 700;
            & .checkout
              margin-top: 44px
              display: flex
              justify-content center
              align-items center
              width: 323px;
              height: 53px;
              border-radius: 25px;
              background-color: #60bf30;
              color: #ffffff;
              font-family: ProbaPro;
              font-size: 25px;
              font-weight: 400;
              border 0

              @media $xlMinus
                width 90%
                font-size 20px
          & .coupon
            background-color: #fff
            margin-top: 12px
            padding: 16px 40px
            display: flex
            align-items center

            @media $xlMinus
              padding 15px

            @media $xs
              background-color #f2f2f2
              margin-top 0
            & input[type="text"]
              width: 305px
              height: 52px;
              border: 1px solid #e6e6e6;
              padding-left: 20px

              @media $xlMinus
                width 100%
            & input[type="submit"]
              margin-left -53px
              width: 53px;
              height: 53px;
              background-color: #60bf30;
              color white
              border 0

              @media $xlMinus
                margin-left 0
                flex-shrink 0