.page-row
  & .page-content

      @media $xlMinus
        margin-bottom 40px
    & .reviews-content
      width: 100%
      background-color: #fff
      padding-bottom: 50px

      @media $xlMinus
        background-color #f2f2f2
      & .header
        height: 101px
        display: flex
        justify-content center
        align-items: center
        box-sizing border-box
        border-bottom 1px solid #e6e6e6;

        @media $xlMinus
          background-color #fff
        @media $xs
          height 94px
          
        & button
          width: 300px;
          height: 40px;
          border-radius: 20px;
          background-color: #66339a;
          border none
          color: #ffffff;
          font-family: ProbaPro;
          font-size: 18px;
          font-weight: 400;
          line-height: 25px;
          cursor pointer

          @media $smMinus
            width 200px
            letter-spacing: 0.8pt
          &:hover
            background-color: lighten(#66339a, 20%);
          &:active
            background-color: #66339a;
      & .body
        margin-top: 25px
        @media $xs
          margin-top 0
        & .review-container
          margin-top 25px
          &:first-child
            margin-top: 0
          & .review
            width: 100%
            display: flex

            @media $xlMinus
              flex-direction column
            & .user
              max-width: 255px
              width: 100%
              height: 100%
              box-sizing border-box
              padding-left: 25px
              padding-top: 25px
              @media $smMinus
                display none
              
              &--sm
                display none
                @media $smMinus
                  display flex
                  padding 0
                  align-items flex-end
                  max-width 100%
                  justify-content space-between
                  padding-bottom 25px
                  @media $xs
                    padding-bottom 14px
                  & .likes, .dislikes
                    display inline-flex !important
                  
                  & .actions
                      padding 0 !important

                  & .name
                      font-weight 600 !important
                      margin-bottom 6px
                      @media $xs
                        margin-bottom 1px
              & span
                color: #1a1a1a;
                font-family: ProbaPro;
              & .name
                font-size: 18px;
                font-weight: 500;
              & .date
                font-size: 14px;
                font-weight: 400;
            & .comment
              max-width 1000px
              width: 100%
              height: 100%
              background-color: #f2f2f2;
              box-sizing border-box
              padding-left: 25px
              padding-top: 25px
              padding-right: 25px

              @media $xlMinus
                max-width 100%
              @media $xs 
                padding 17px 20px
              & .text
                color: #1a1a1a;
                font-family: ProbaPro;
                font-size: 16px;
                font-weight: 400;
                line-height: 25px;
              & .actions
                box-sizing border-box
                padding-top: 25px
                padding-bottom: 15px
                display: flex
                @media $xs 
                  padding-top 15px
                & .reply-icon, & .comments, & .likes, & .dislikes
                  display: flex
                  align-items: center
                  height: 25px
                  cursor pointer
                  user-select none
                  & .icon-wrapper
                    margin-right: 8px
                  & span
                    color: #1a1a1a;
                    font-family: ProbaPro;
                    font-size: 18px;
                    font-weight: 400;
                    @media $xs
                      font-size 14px
                & .likes
                  margin-left: 50px
                  @media $smMinus
                    display none
                  @media $xs
                    & #icon
                        fill #22a225
                  &:hover
                    & #icon
                      fill #22a225
                & .dislikes
                  margin-left: 25px
                  @media $smMinus
                    display none
                  @media $xs
                    & #icon
                        fill #bf3939
                  &:hover
                    & #icon
                      fill #bf3939
                & .reply-icon
                  & .icon-wrapper
                    width: 25px
                    height: 19px
                  &:hover
                    & #icon
                      fill #1a1a1a
                & .comments
                  margin-left: 25px
                  & .icon-wrapper
                    width: 21px
                    height: 18px
                  &:hover
                    & #icon
                      fill #66339a
                & .comments-active
                  & span
                    color #66339a
                  & #icon
                    fill #66339a
                & .likes,
                & .dislikes
                  & .icon-wrapper
                    width: 19px
                    height: 19px
          & .replies-container
            display: flex

            @media $xlMinus
              display block
            & .replies
              display: flex
              flex-direction column
              margin-left: 255px

              @media $xlMinus
                margin-left 0
              & .reply
                max-width: 1000px
                width: 100%
                background-color: #f2f2f2;
                box-sizing border-box
                padding-top: 21px
                display: flex
                border-top 1px solid #e6e6e6;

                @media $xlMinus
                  background-color #fff
                  max-width 100%
                  width 100%
                &:first-child
                  position: relative;
                  &:before
                  &:after
                    content: '';
                    display: block;
                    position: absolute;
                    left: 150px
                    top: 0
                    width: 0;
                    height: 0;
                    border-style: solid;
                  &:before
                    top: -22px;
                    border-color: transparent transparent #e6e6e6 transparent;
                    border-width: 11px;

                    @media $xlMinus
                      border-color: transparent transparent #fff transparent;
                    @media $xs
                      border-color transparent transparent #e6e6e6 transparent 

                  &:after
                    top: -20px;
                    border-color: transparent transparent #f2f2f2 transparent;
                    border-width: 10.9px;
                    left: 150px;

                    @media $xlMinus
                      border-color: transparent transparent #fff transparent;
                & .icon-block
                  min-width: 70px
                  display: flex
                  justify-content center
                  align-items: center

                  @media $xlMinus
                    align-items flex-start
                  & .icon-wrapper
                    width: 22px
                    height: 24px
                    margin-top: 15px;
                    & #icon
                      fill purple
                & .reply-text
                  display: flex
                  flex-direction column
                  margin-bottom: 20px
                  & .reply-user
                    & p
                      color: #1a1a1a;
                      font-family: ProbaPro;
                    & p.name
                      font-family: ProbaProMedium;
                      font-size: 18px;
                      font-weight: 500;
                    & p.date
                      font-size: 14px;
                      font-weight: 400;
                  & .text
                    margin-top: 15px
                    color: #1a1a1a;
                    font-family: ProbaPro;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 25px;

                    @media $xlMinus
                      padding-right 15px

                    @media $smMinus
                      margin-left -40px
          & .hidden-replies
            display: none

    & .send-review-container,
    & .send-reply-container
      position: fixed;
      background: #00000080
      width: 100vw;
      height: 100vh;
      left: 0;
      top: 0;
      right: 0
      bottom: 0
      display: none;
      z-index 11
      justify-content center
      align-items: center

      @media $xs
        background #fff
        height 100%
      & .send-review,
      & .send-reply
        width: 600px
        height: 550px
        background-color: #fff

        @media $smMinus
          width 90%
          height auto
          padding-bottom 40px

        @media $xs
          width 100%
          border-top 1px solid #e6e6e6
        & .header
          position: relative
          display: flex
          justify-content center
          align-items: center
          height: 98px
          @media $xs
            height 70px
          & h2
            color: #1a1a1a;
            font-family: ProbaPro;
            font-size: 25px;
            font-weight: 400;
          & .icon-wrapper
            position: absolute
            width: 12px
            top -20px
            right: -20px
            cursor pointer
            @media $xs
              width: 19px;
              top: -40px;
              right: 10px;
              opacity 0.6
            & #icon
              fill white

              @media $xs
                fill #1a1a1a

            &:hover
              & #icon
                fill black
        & .body
          display: flex
          justify-content center
          & form
            display: flex
            flex-direction column
            align-items: center
            justify-content flex-start
            max-width: 500px
            width: 100%

            @media $smMinus
              max-width 80%
              width 80%
            
            @media $xs
              max-width 90%
              width 90%
            & .input-row
              width: 100%
              display: flex
              justify-content space-between
              @media $xs
                  flex-direction column
              & input
                width: 245px;
                height: 40px;
                border: 1px solid #e6e6e6;
                box-sizing border-box
                padding-left: 15px

                @media $smMinus
                  width 49%

                @media $xs
                  width 100%
                  margin-top 10px
            & textarea
              width: 500px;
              height: 160px;
              border: 1px solid #e6e6e6;
              resize none
              padding-left: 15px
              padding-top: 15px
              box-sizing border-box
              margin-top: 10px

              @media $smMinus
                width 100%

              @media $xs
                margin-top 20px
            & textarea[name=wish]
              height: 130px
            & input[type=submit]
              width: 301px;
              height: 40px;
              border-radius: 60px;
              background-color: #66339a;
              border none
              color: #ffffff;
              font-family: ProbaPro;
              font-size: 18px;
              font-weight: 400;
              margin-top: 30px

              @media $xs
                display block
                width 90%
              &:hover
                background-color: lighten(#66339a, 20%);
              &:active
                background-color: #66339a;

    & .send-reply-container
      & .send-reply
        height: 410px

