.page-row
  & .page-content
    // overflow hidden
    & .product-details
      width: 100%
      display: flex
      flex-direction column
      background-color: #fff
      & h1
        color: #1a1a1a;
        font-family: ProbaProMedium;
        font-size: 30px;
        font-weight: 500;
        padding-left: 28px
        padding-top: 20px
        padding-bottom: 20px
        margin: 0
        border-bottom 1px solid #e6e6e6
        @media $semiMdPlus
          font-size 26px
          padding 20px
          line-height 1.3
        @media $xs
          font-size 24px
      & .details
        display: flex
        @media $semiMdPlus
          flex-wrap wrap
        & .product-photo
          max-width: 640px
          width: 100%
          border-right 1px solid #e6e6e6
          display: flex
          flex-direction column
          align-items center
          @media $smMinus
            max-width 390px
          @media $semiMdPlus
            max-width 100%
            margin 0 auto 30px
            border-right none
          @media $xs
            margin-bottom 0
            
          & .main-photo
            display: flex
            justify-content center
            align-items center
            // max-width 560px
            width: 100%
            position relative
            // padding-top: 83px
            padding 40px 25px 0px
            box-sizing border-box
            .product-favorites
              top 20px
            .product-actions
              top auto
              bottom 0
            .product-discount
              position absolute
              top 20px
              left 0
              .discount + .discount
                margin-top 4px
            @media $semiMdPlus
              padding-top 60px
            & img
              width: 100%
              max-height: 353px
              height: 100%
              object-fit contain
              @media $smMinus
                max-width 80%
              @media $semiMdPlus
                max-height 213px
          & .thumbnails
            width: 100%
            display: flex
            justify-content center
            align-items: center
            // padding-top: 38px
            margin-top 71px
            margin-bottom 25px
            // padding-bottom: 40px
            padding-left 37px
            padding-right 37px
            max-width 90%
            @media $smMinus
              padding 0 30px
              margin 30px 0
              box-sizing border-box
            @media $xs
              max-width 100%
              
            .slick-list
              margin-left -6px
              @media $xs
                margin-left -2px
            .slick-arrow
              width 37px
              background: transparent;
              border: none;
              font-size 0
              height 100%
              left 0
              position absolute
              top 0
              cursor pointer
              &:after 
                content ''
                display block
                position absolute
                top 50%
                left 50%
                transform translate(-50%,-50%) rotate(-45deg)
                width 7px
                height 7px
                border-left 2px solid #1d1d1d
                border-top 2px solid #1d1d1d
                
              &.slick-next
                left auto
                right 0
                &:after 
                  transform translate(-50%,-50%) rotate(135deg)
            & .thumbnail
              // max-width: 100px;
              width: 100%;
              max-height: 86px
              height: 100px
              margin-left: 3px;
              border: 1px solid #e6e6e6;
              padding: 9px;
              cursor pointer
              box-sizing border-box
              & img
                width 100%
                max-height: 86px
                height: 100%
                object-fit contain
              &:hover
                border: 1px solid purple
            & .thumbnail-active
              border: 1px solid purple
        & .order-details
          display: flex
          flex-direction column
          padding-left: 39px
          padding-top: 18px
          width: 100%;
          z-index 1
          padding-right 30px
          box-sizing border-box
          @media $smMinus
            padding-right 20px
            padding-left 20px
            padding-bottom 30px
          & .order-price
            display: flex
            justify-content: space-between;
            @media $semiMdPlus
              flex-wrap wrap
            &>div
              max-height 43px
              height: 100%
              @media $semiMdPlus
                max-height inherit
                margin-bottom 20px
                width 100%
              &>span
                color: #1a1a1a;
                font-family: ProbaPro;
                font-size: 14px;
                font-weight: 400;
            & .found-cheaper
              padding-left: 38px
              @media $semiMdPlus
                padding-left 0
              & input[type=button]
                width: 203px;
                height: 43px;
                border-radius: 20px;
                background-color: #60bf30;
                border 0
                color: #ffffff;
                font-family: ProbaPro;
                font-size: 18px;
                font-weight: 400;
                &:hover
                  background-color: #66cc33
                &:active
                  background-color: #60bf30;
          & .exist
            margin-top: -6px
          & .divider
            margin: 25px 0;
            width: calc(100% + 70px);
            height: 1px;
            background-color: #e6e6e6;
            margin-left: -40px;
            margin-top: 18px;

          & .order-btns
            display: flex
            align-items: center;
            padding-top: 25px
            margin-left -20px
            margin-top -20px
            > a 
              margin-left 20px
              margin-top 20px
            @media $semiMdPlus
              flex-wrap wrap
              align-items flex-start
            @media $xs 
              flex-direction column
              align-items: center;
            & .star-btn
              @media $xs
                margin-left 0
            & input[type=button],
            & input[type=submit]
              width: 203px;
              height: 38px;
              border-radius: 20px;
              cursor pointer
              font-family: ProbaPro;
              font-size: 18px;
              font-weight: 400;
            & .to-basket
              background-color: #66339a;
              color white
              border 0
              &:hover
                background-color: #773bb3
              &:active
                background-color: purple
            & .buy-one
              background-color: white
              border-radius: 20px;
              border: 1px solid #e6e6e6;
              margin-left: 13px
              @media $xs
                margin-left 0
                margin 10px 0
              &:hover
                background-color: #e6e6e6
              &:active
                background-color: #f0f0f0
    & .product-info
      margin-top: 15px
      width: 100%
      & + .product-slider-wrap
        margin-top 0
      & .tabs-btn
        display: flex
        background-color: #f2f2f2;
        @media $xs
          flex-wrap wrap
        & .tab-btn
          box-sizing border-box
          padding: 0px 25px;
          color: #1a1a1a;
          font-family: ProbaProMedium;
          font-size: 20px;
          font-weight: 500;
          // line-height: 50px;
          margin-left: 1px;
          cursor: pointer;
          background-color: #f2f2f2;
          border-right: 1px solid #e6e6e6;
          line-height 1.2
          padding 10px 25px
          min-height 50px
          display: inline-flex;
          align-items: center;
          justify-content center
          @media $xs
            width 100%
            justify-content flex-start
            font-size 18px
          span
            color #66339a
            margin-left 10px
            
          &:first-child
            border-left none
        & .active-tab-btn
          background-color: #fff
          border-left 1px solid #e6e6e6
          border-right 1px solid #e6e6e6
          margin-left -2px
          @media $xs
            margin-left 0
            border none
            border-bottom 1px solid #e6e6e6
            background-color #f2f2f2

      & .tabs
        & .tab
          background-color: #fff
          width: 100%
          min-height 480px
          padding-left: 25px
          padding-right: 25px
          padding-top: 6px
          padding-bottom: 50px
          display: none
          flex-direction column
          box-sizing border-box
          &:first-child
            display: flex
          & p
            max-width 1024px
            font-family: ProbaPro
            font-size: 16px;
            font-weight: 400;
            line-height: 25px;
        & .attrs
          & p
            padding: 10px 0
            color: #808080;
            & span
              color: #1a1a1a;
              &:before
                content: ' '
        & .desc
          & p
            padding: 10px 0
            color: #1a1a1a;

    & .cheaper-form-container
      display: none
      position fixed
      top: 0
      left: 0
      bottom: 0
      right: 0
      width: 100%
      height: 100%
      background-color: #00000066
      justify-content center
      align-items: center
      z-index: 11
      & .cheaper-form
        max-width: 350px
        width: 100%
        height: 600px
        background-color: white
        & .header
          width: 100%;
          height: 100px;
          background-color: #60bf30;
          padding-top: 1px;
          margin-top: -1px;
          position relative
          & h3
            color #ffffff
            font-family ProbaPro
            font-size 25px
            font-weight 400
            margin-top: 22px;
            margin-left: 25px;
            line-height: 28px;
          & .icon-wrapper
            width: 13px
            position absolute
            top: -20px;
            right: -21px;
            & #icon
              fill white
            &:hover
              & #icon
                fill #e6e6e6
        & .body
          width: 100%
          height: 100%
          box-sizing border-box
          padding: 25px
          & form
            &>input
            &>textarea
              width: 100%
              height 40px
              border 1px solid #e6e6e6
              color black
              font-family ProbaPro
              font-size 16px
              font-weight 400
              box-sizing border-box
              padding-left: 15px
              margin-top: 10px
              &:first-child
                margin-top: 0
              &::placeholder
                color #808080
                font-family ProbaPro
                font-size 16px
                font-weight 400
            & textarea
              height 100px
              padding-top: 8px
              resize none
            & input[type=submit]
              border-radius 60px
              background-color #66339a
              color #ffffff
              font-family ProbaPro
              font-size 18px
              font-weight 400
              margin-top: 21px
              &:hover
                background-color: #773bb3
              &:active
                background-color: purple
            & .accept
              padding-top: 8px
              & .check-container
                margin-bottom: 0
                line-height: 16px;
                color black
                & a
                  text-decoration none
                  &:hover
                    text-decoration underline

.custom_paging
  list-style none
  text-align center
  font-size 18px
  color #a6a6a6
  li 
    cursor pointer
    display none
    &.slick-active
      display block
  
.tab.testimonials
  .rating-wrap
    margin-bottom 20px
.tab__title
  font-size 30px
  font-family: ProbaProMedium;
  padding-bottom 15px
  position relative
  margin-top 10px
  margin-bottom 30px
  @media $xs
    font-size 25px
  &:after
    display block
    content '';
    width calc(100% + 50px) 
    height 1px
    background-color #e6e6e6
    margin-left -25px
    position absolute
    bottom 0
    left 0

.rating-form
  max-width 500px
.form
  font-size 16px
  box-sizing border-box
  * 
    box-sizing border-box
  .field
    margin-bottom 10px
    &.field-submit
      text-align center
  input,textarea
    border 1px solid #e6e6e6
    height 40px
    width 100%
    padding 0 13px
  textarea
    padding 13px
    height 160px
    resize none
  .field-wrap
    display flex
    justify-content space-between
    &.field-wrap_double
      .field
        width 49%
    @media $xs
      flex-wrap wrap
      .field
        width 100% !important
  .btn-submit
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 303px;
    height: 43px;
    border-radius: 20px;
    background-color: #66339a;
    border none
    color #fff
    cursor pointer
    max-width 100%
    
.product-slider
  .custom_paging
    background-color #fff
    height 50px
    border-top 1px solid #e6e6e6
    border-bottom 1px solid #e6e6e6
    display flex
    align-items center
    justify-content center
    padding 0 40px
  &-wrap
    margin-top 13px
    position relative
    width 100%
    @media (max-width 587px)
      padding-bottom 50px
      background-color #fff
  &__title
    padding 20px 100px 20px 25px 
    border-bottom 1px solid #e6e6e6
    font-family: ProbaProMedium;
    font-size 30px
    display flex
    align-items center
    line-height 1
    background-color #fff
    @media $xs
      font-size 25px
      padding 20px
    &:after 
      content ''
      display block
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACsAAAAgCAMAAAC8RHExAAABDlBMVEUTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExMTExM84xydAAAAWXRSTlMAAQYHFhkaHB0eICEjJCUmKCkrLC4vMTI0NTc5Ojw9P0BER2BjZmhsbnBxdHZ6fH+AgYWHi42PkJWWqq6vsbbW2drb3N7f4eLj5ebo6err7O7v8PHy9PX9/pmHJooAAADRSURBVDjLjdRFDgMxDAXQKTMzMzMzM/O0uf9FGs+yUqX/V1b0NnEcC8K/KEZxAYx8zMQYaIeMMTGC2cSb41cIw8kPx48AhtOE7z4MZwnfPBjOc8suLgwXCZ8cGC4TPtowXCW8t2C4TnhrwnCT8MaA4TbhlY5XPYZlocEtm6lxO1HCdqoCribrEp1rkDZ0iC61CG0RXesR2pCezYjQGtGdGaEVogcrQkvS+NoRWiB6diI0R/TqRmhG+sZehKYk6oemts/pMwjuvgETw/Ci7Ed/Tr5cPWm6R56uJwAAAABJRU5ErkJggg==');
      background-size cover
      width 22px
      height 16px
      margin-left 13px
      margin-top 5px
      flex-shrink 0
      display none
  .slick-list
    // margin-left -1px
    // width calc(100% + 1px)
    padding-bottom 1px
  &.slick-slider
    position static
    @media (max-width 587px)
      position relative
  &__slide
      // margin-left 1px
      box-sizing: border-box;
      padding-right 1px
  .slick-arrow
    position absolute
    right 58px
    top 28px
    font-size 0
    border none
    width 18px
    height 16px
    background-size cover
    background-color transparent
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAgCAMAAABNTyq8AAABC1BMVEWoqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKioqKhhOJZwAAAAWHRSTlMAAQIDBAUGBwgKCwwNDg8QEhMVFhgZGxwdHyIpLDI1ODt/g4eJjY6QkZWXm5yen6Kkp6mqrK2wsbK1tri5u73AwcPFxsnKzM3P0NLT1dbY2dvd3uDj7O/wA3Cs1wAAAM9JREFUOMuN1MVOg2EQBdAfCoUiBYq7u7sUd6doz/s/CWsSMl/vcnJWN5ObZX/SWp7IUimcq46nzCmqI6FpPoazQmTyR3DREpoDuGqPTOMu3BQjk9uGu47QbMJDV2jW4akUmbpVeOkOzTK89YZmESr9YdHz8DEQmlnJZNNqQJO1oGyqFpTNwNdQ4tfm4HMwRnUL8N6fUEtQ6UuoFXjtiVX9GjyXYpXbgMeU2oL7zlg17MBtMVb5PbhOqUO4bItVUxnfw6kxOPEzmp6V/bF/rr+DQWDlj+vy2wAAAABJRU5ErkJggg==');
    cursor pointer
    @media $xs
      top 26px
    @media (max-width 587px)
      top auto
      bottom 18px
      right auto
      left 20px
    &:hover
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAgCAMAAABNTyq8AAABC1BMVEVxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMplxMpkdn7HWAAAAWHRSTlMAAQIDBAUGBwgKCwwNDg8QEhMVFhgZGxwdHyIpLDI1ODt/g4eJjY6QkZWXm5yen6Kkp6mqrK2wsbK1tri5u73AwcPFxsnKzM3P0NLT1dbY2dvd3uDj7O/wA3Cs1wAAAM9JREFUOMuN1MVOg2EQBdAfCoUiBYq7u7sUd6doz/s/CWsSMl/vcnJWN5ObZX/SWp7IUimcq46nzCmqI6FpPoazQmTyR3DREpoDuGqPTOMu3BQjk9uGu47QbMJDV2jW4akUmbpVeOkOzTK89YZmESr9YdHz8DEQmlnJZNNqQJO1oGyqFpTNwNdQ4tfm4HMwRnUL8N6fUEtQ6UuoFXjtiVX9GjyXYpXbgMeU2oL7zlg17MBtMVb5PbhOqUO4bItVUxnfw6kxOPEzmp6V/bF/rr+DQWDlj+vy2wAAAABJRU5ErkJggg==');
    &.slick-next
      right 26px
      transform scaleX(-1)
      @media (max-width 587px)
        right 20px
        left auto
    
.content .page-row .page-content .bread-crumbs
  min-height: 41px;
   
@media $xs
  .order-details 
    .count
      justify-content center
    .order-btns 
      align-items: center;
      
  .content .page-row .page-content
    padding-left 0
    padding-right 0
  .content .page-row .page-content .bread-crumbs
    padding-left 15px
    padding-right 15px
    box-sizing: border-box;