.page-row
  & .page-content
    & .top-content
      & .top-left-content
        & .video
          margin-top: 18px
          height: 525px
          display: flex
          justify-content center

          & img
            width 100%
            height auto

          @media $xlMinus
            width 100%
            height auto