.page-row
  & .service-page
    padding-bottom: 38px !important
  & .page-content
    & .service-content
      width: 100%
      background-color: #fff
      margin-bottom: 15px;
      box-sizing border-box
      &>p
        padding 20px 25px
        max-width: 900px
        width: 100%
        box-sizing border-box
      .service-table-wrap
        overflow-x auto  
      & table
        & thead
          & tr
            & td
              color: #808080;
              font-family: ProbaPro;
              font-size: 18px;
              font-weight: 400;
              padding-top: 37px
              padding-bottom: 20px
              border-bottom 1px solid #e6e6e6
              @media $xs
                padding 10px
                font-size 16px
              &:first-child
                padding-left: 25px
                @media $xs
                  padding-left 10px
        & tbody
          & tr
            & td
              padding-right: 50px;
              color: #1a1a1a;
              font-family: ProbaPro;
              font-size: 25px;
              border-bottom: 1px solid #e6e6e6;
              height: 99px;
              box-sizing: border-box;
              white-space nowrap
              @media $semiMdPlus
                font-size 21px
              @media $semiMdPlus
                font-size 16px
              @media $xs
                height auto
                padding 10px
              &:first-child
                padding-left: 27px
                @media $xs
                  padding-left 10px
                & img
                  max-width: 201px
                  width: 100%
                  min-width 100px
              &:nth-child(2)
                font-weight: 500;
                font-family: ProbaProMedium;
              &:nth-child(3)
                font-weight: 400;
            &:last-child
              & td
                border none
          & .novo-nordisk
            & td
              & img
                margin-top: -29px