.page-row
  & .page-content
    width: 100%

    & .tabs-btn
      width: 100%
      display: flex
      justify-content flex-start
      background-color: #f2f2f2;
      & .tab-btn
        padding: 12px 26px;
        color: #1a1a1a;
        font-family: ProbaProMedium;
        font-size: 18px;
        font-weight: 500;
        margin-left: 1px;
        cursor: pointer;
        background-color: #f2f2f2;
        line-height: 26px;

        @media $xs
          text-align center
        &:first-child
          margin-left: 0
          border-left none
      & .active-tab-btn
        background-color: #fff
        border-left: 1px solid #e6e6e6;
        border-right: 1px solid #e6e6e6;
    & .tabs
      width: 100%
      margin-bottom: 15px
      
      & .tab
        width: 100%
        display none
        &:first-child
          display: block
        & .substrate
          width: 100%
          display: flex
          flex-direction column
          align-items flex-start
          background-color: #fff
          box-sizing border-box
          padding-top: 25px
          padding-left: 25px
          padding-bottom: 22px
          margin-top: 15px;
          &:first-child
            margin-top: 0
          & h2
            color: #1a1a1a;
            font-family: ProbaProMedium;
            font-size: 25px;
            font-weight: 500;
            line-height 20px

            @media $xs
              font-size 20px
          & h2.sub-title
            line-height: 1;
            margin-top: -3px
            margin-bottom: 34px
          & h3
            color: #1a1a1a;
            font-family: ProbaProMedium;
            font-size: 20px;
            font-weight: 500;
            margin-top: 35px;
            line-height: 20px;
          & span
            color: #1a1a1a;
            font-family: ProbaPro;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px
          &>span
          & .imp
            display: block
            max-width: 1044px
            margin-top: 15px

            @media $xlMinus
              max-width none
              width 100%
              padding-right 15px
              box-sizing border-box
          & .imp
            border-left 4px solid #bf3939;
            box-sizing: border-box;
            padding-left: 26px;
            padding-top: 13px;

            @media $xs
              margin-left: -25px;
            &>span
              display: block
              margin-top: 34px;
              line-height: 23px;
              &:first-child
                font-family: ProbaProMedium
                margin-top: 0
                & span
                  margin-left: 7px
          & .payment
            width: 100%
            box-sizing border-box
            padding-top: 20px
            &>div:not(.divider)
              width: 100%
              display: flex
              justify-content space-between
              align-items center
              min-height 70px
              max-height: 70px
              height: 70px
              box-sizing border-box
              padding-right: 25px
              &>a
                color: #4d4d4d;
                font-family: ProbaPro;
                font-size: 14px;
                font-weight: 400;

                @media $xs
                  display none
                &:hover
                  color lighten(#808080, 30%)
                &:active
                  color: #808080;
            & .divider
              background-color: #e6e6e6
              height: 1px
              width: calc(100% + 25px)
              margin-left: -25px;
          & table
            border-spacing 0
            margin-top: 24px

            @media $smMinus
              width: 100%
              padding-right: 25px
              box-sizing: border-box

            @media $xs
              padding-right 0
              width calc(100% + 25px)
              margin-left -25px
            & tbody
              & tr
                & td
                  border-bottom: 1px solid #e6e6e6;
                  border-right: 1px solid #e6e6e6;

                  @media $xs
                    border-right none
                  &:first-child
                    border-left: 1px solid #e6e6e6;

                    @media $xs
                      border-left none
                    & div
                      width: 100%
                      display: flex
                      flex-direction column
                      align-items flex-start
                      justify-content center
                      box-sizing border-box
                      padding-bottom: 16px
                      padding-right: 49px

                      @media $xs
                        padding-right 15px
                      & span
                        box-sizing border-box
                        padding-left: 23px
                        &:first-child
                          color: #1a1a1a;
                          font-family: ProbaProMedium;
                          font-size: 16px;
                          font-weight: 500;
                          margin-top: 17px
                        &:last-child
                          color: #1a1a1a;
                          font-family: ProbaPro;
                          font-size: 16px;
                          font-weight: 400;
                          margin-top: 4px
                  &:last-child
                    & div
                      justify-content center
                      align-items: center
                      padding: 30px
                      padding-right: 27px

                      @media $xs
                        padding 15px
                &:first-child
                  & td
                    border-top: 1px solid #e6e6e6;

          & .ship-method
            max-width: 1044px;
            width: 100%
            height: 53px;
            display: flex
            align-items: center
            margin-left: -25px
            box-sizing border-box
            padding-left: 25px

            @media $smMinus
              width calc(100% + 25px)
              max-width none
              margin-left -25px
            & h1
              color: #ffffff;
              font-family: ProbaProMedium;
              font-size: 20px;
              font-weight: 500;

              & > span
                color: #ffffff;
                font-family: ProbaProMedium;
                font-size: 20px;
                font-weight: 500;
            & img
              padding-left: 50px
          & .p-rus
            background-color: #0055a5;
            margin-top: 39px
          & .sdek
            background-color: #519f2d;
            margin-top: 34px

