.page-row
  & .page-content
    & .top-content
      width: 100%
      display: flex
      justify-content space-between

      @media $smMinus
        margin-top  50px

      @media $smMinus
        flex-direction column
      & .top-left-content
        background-color: #fff
        padding: 25px 25px 0 25px
        // max-width: 892px;
        max-width: calc(100% - 414px);
        width: 100%;
        padding-top: 20px;
        position relative
        padding-bottom: 80px;
        box-sizing border-box

        @media $xlMinus
          max-width none
          width calc(70% - 15px)
          box-sizing border-box
          

        @media $smMinus
          margin-bottom 15px
          width 100%
          padding 15px
          padding-bottom 140px

        &>span
          color: #000000;
          font-family: ProbaProMedium;
          font-size: 30px;
          font-weight: 500;
          line-height: 30px;
        & .img-wrapper
          margin-top: 20px;
          height: 253px;
          background-color: #f2f2f2;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: 20px;
          padding-bottom: 20px;

          @media $smMinus
            padding 15px
          & img
            width: 100%
            height: 100%
            object-fit contain
        & .divider
          position absolute
          bottom: 60px
          width: 100%
          height: 1px
          background-color: #e6e6e6
          margin-left: -25px
          margin-top: 25px

          @media $smMinus
            display none
        & .share-block
          position absolute
          bottom: 0
          display: flex
          justify-content space-between
          align-items center
          height: 20px
          padding-top: 20px
          padding-bottom: 20px
          width: calc(100% - 50px);

          @media $smMinus
            flex-direction column-reverse
            width: 100%
            left 0
            right 0
            box-sizing border-box
            height 120px
            padding-bottom 0
          & .left-block
            display: flex
            align-items center

            @media $smMinus
              box-sizing border-box
              width 100%
              padding 10px 15px
              border-top 1px solid #f2f2f2
            & .icon-wrapper
              padding-left: 15px
              cursor pointer
              & #icon
                fill #808080
              &:hover
                & #icon
                  fill purple
            & .vk
              width: 28px
              height: 19px
            & .fb
              width: 18px
              height: 18px
            & .twitter
              width: 22px
              height: 18px
            & .ok
              width: 24px;
              height: 25px;
              padding-left: 7px
          & .right-block
            display: flex
            align-items center

            @media $smMinus
              width 100%
              justify-content flex-end
              padding 10px 15px
              box-sizing border-box
            &>span
              padding-right: 15px

              @media $smMinus
                display none
            & .views
              display: flex
              align-items center
              & .icon-wrapper
                padding-right: 5px
                width: 20px
                height: 12px
      & .top-right-content
        max-width 399px
        width: 100%
        display: flex
        flex-direction column
        box-sizing border-box
        @media $xlMinus
          max-width none
          width 30%
          box-sizing border-box

        @media $smMinus
          width 100%
          padding 0 0
          margin-bottom 20px
        & .subscription
          width: 100%
          background-color: #fff
          display: flex
          flex-direction column
          align-items: center
          justify-content: center;
          margin-top: 15px
          padding-top: 30px
          padding-bottom: 30px
          min-height 200px

          @media $smMinus
            padding 15px
            box-sizing border-box
          & h2
            color: #1a1a1a;
            font-family: ProbaProMedium;
            font-size: 30px;
            font-weight: 500;

            @media $smMinus
              font-size 23px
          & a
            color: #1a1a1a;
            font-family: ProbaProMedium;
            font-size: 30px;
            font-weight: 500;

            @media $smMinus
              font-size 23px
          &>span
            color: #181818;
            font-family: ProbaPro;
            font-size: 20px;
            font-weight: 400;
            max-width: 250px;
            padding-top: 29px
            text-align center
          & form
            display: flex
            flex-direction column
            align-items: center
            @media $smMinus
              width 100%
            & input[type=email]
              margin-top: 28px
              width: 302px;
              height: 42px;
              border: 1px solid #e6e6e6;
              padding-left: 25px
              color: #808080;
              font-family: ProbaPro;
              font-size: 16px;
              font-weight: 400

              @media $smMinus
                width 100%
                box-sizing border-box
            & input[type=submit]
              margin-top: 22px
              width: 159px;
              height: 43px;
              border-radius: 20px;
              border: 1px solid #e6e6e6;
              color: #1a1a1a;
              font-family: ProbaPro;
              font-size: 18px;
              font-weight: 400;
              background-color: #fff

              @media $smMinus
                width 90%
              &:hover
                background-color: #e6e6e6
              &:active
                background-color: #f0f0f0
          &:nth-of-type(2)
            background url("../../img/vk-bg.png") no-repeat center
            background-size: auto 163px;
            background-color: #fff;
            background-origin: content-box;
            background-position center
            &>a
              display: flex
              align-items: center
              justify-content center
              color: #ffffff;
              font-family: ProbaPro
              font-size: 18px;
              font-weight: 400;
              background-color: #5b7aa8
              border-radius 60px
              width: 280px;
              height: 40px;
              margin-top: 25px
              & i
                width: 28px
                height: 18px

                @media $smMinus
                  width 14px
                  height 9px
                & #icon
                  fill white
              &>span
                margin-left: 20px
              &:hover
                background-color: lighten(#5b7aa8, 10%)
              &:active
                background-color: #5b7aa8
          &:nth-of-type(3)
            background url("../../img/inst-bg.png") no-repeat center
            background-size: auto 163px;
            background-color: #fff;
            background-origin: content-box;
            background-position: center
            &>a
              display: flex
              align-items: center
              justify-content center
              color: #ffffff;
              font-family: ProbaPro
              font-size: 18px;
              font-weight: 400;
              background-color: #cb2899
              border-radius 60px
              width: 280px;
              height: 40px;
              margin-top: 25px
              @media $smMinus
                  width 90%
              & i
                width: 20px
                height: 20px

                @media $smMinus
                  width 14px
                  height 9px
              & #icon
                fill white
              &>span
                margin-left: 20px
              &:hover
                background-color: lighten(#cb2899, 10%)
              &:active
                background-color: #cb2899
        & .first-subscription
          margin-top 0
          background url("../../img/tree.png") no-repeat center
          background-color: #fff
          & input[type=email]
            background transparent !important