.page-row
  & .page-content
    & .top-content
      & .top-left-content
        & .description
          padding-top: 18px;
          color: #1a1a1a;
          font-family: ProbaPro;
          font-size: 16px;
          font-weight: 400;
        & .condition
          padding-top: 30px
          display: flex
          flex-direction column
          & span
            color: #000000;
            font-family: ProbaProMedium;
            &:first-child
              font-size: 25px;
              font-weight: 500;
            &:last-child
              font-family: ProbaPro
              padding-top: 5px
              font-size: 16px;
              font-weight: 400;
              margin-bottom: 7px
  & .bottom-content
    width: 100%
    background-color: #fff
    margin-top: 15px
    & h2
      color: #1a1a1a;
      font-family: ProbaProMedium
      font-size: 30px;
      font-weight: 500;
      padding-top: 14px
      padding-bottom: 14px
      padding-left: 28px
    & .stock
      display grid
      grid-template-columns repeat(5, 1fr)
      grid-gap 0px
      @media $xlMinus
        grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
      & .cat-product
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center
        background-color: #fff;
        padding: 0 25px;
        /*min-width: 301px
        max-width: 301px
        width: 301px*/
        height: 500px;
        cursor: pointer;
        box-sizing: border-box;
        position: relative;
        //box-shadow: 0 0 0 1px #e6e6e6;
        border-left 1px solid #e6e6e6
        border-bottom 1px solid #e6e6e6
        &:nth-child(-n + 5)
          border-top 1px solid #e6e6e6
        &:nth-child(5n+1)
          border-left none
        &:last-child
          &:before
            content: '';
            height: 100%;
            position: absolute;
            border-right: 1px solid #e6e6e6;
            right: -1px;
        &:hover
          box-shadow: 0px 12px 39px -2px rgba(0,0,0,0.13);
          z-index 3
          & .fucking-border
            box-shadow: 0 0 0 1px rgba(102,51,154,1);
        & .fucking-border
          width: 100%
          height: 100%
          position absolute
        & .product-discount
          z-index 1
          width: 100%;
          position: absolute;
          margin-top: 10px;
          & .discount
            margin-top: 5px
            &:first-child
              margin-top: 0
        & div.info-wrapper
          position: absolute;
          bottom: 0;
          min-width: 250px
          height: 100%
          display: flex
          align-items flex-end
          & .sub-wrpapper
            width: 100%
            & .product-img
              max-width 250px
              width: 100%
              max-height: 245px
              height: 100%
              padding-bottom: 22px
              display: flex
              justify-content center
              align-items: flex-end
              position relative
              & img
                width: 100%;
                height: 100%
                max-height: inherit;
                object-fit: contain;
              & .quick-view
                display: none
                position absolute
                width: 161px;
                height: 40px;
                background-color: #ffffffe6
                color: #1a1a1a;
                font-family: ProbaPro;
                font-size: 16px;
                font-weight: 500;
                border none
                cursor pointer
                align-self: center
                &:hover
                  background-color: #ffffff
            &:hover
              & .quick-view
                display: block
                z-index 3
            & .cat-product-info
              display: flex
              flex-direction column
              align-items flex-start
              padding-bottom: 18px
              & span
                max-width: 225px
                &:first-child
                  color: #808080;
                  font-family: ProbaPro;
                  font-size: 14px;
                  font-weight: 400;
                &:last-child
                  color: #1a1a1a;
                  font-family: ProbaProMedium;
                  font-size: 16px;
                  font-weight: 500;
              & .cat-title
                position relative
                &:before
                  background: linear-gradient(to right,rgba(255,255,255,.89) 0,rgba(255,255,255,.93) 19%,rgba(255,255,255,.95) 30%,#fff 100%);
                  content: '';
                  width: 34px;
                  height: 25px;
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  border-radius: 12px 0 0 12px;
            & .product-buy
              display: flex
              justify-content space-between
              align-items: center
              width: 100%
              padding-bottom: 25px
              & .icon-wrapper
                width: 63px
