.page-row
  & .page-content
    & .stock-type
      display: flex
      width: 100%
      justify-content flex-start
      align-items: center
      margin-top: 5px

      @media $xs
        flex-wrap wrap
        padding-left 5px
        padding-right 5px
        box-sizing border-box
      
      & span
        border-radius: 60px;
        background-color: #fff;
        padding: 11px 20px;
        line-height: 18px;
        color: #1a1a1a;
        font-family: ProbaPro;
        font-size: 18px;
        font-weight: 400;
        margin-left: 15px;
        cursor: pointer;
        box-sizing: border-box;

        @media $xs
          margin-bottom 15px
        &:first-child
          margin-left: 0
        &:hover
          background-color: purple
          color white
        &:active
          background-color: purple
          color white
      & .active-stock
        background-color: purple
        color white

    & .stock-items
      width: 100%
      display: none
      flex-wrap wrap
      justify-content flex-start
      & .stock-item
        margin-top: 15px
        padding-bottom: 25px
        margin-left: 15px
        max-width: 367px
        width: 100%
        background-color: #fff
        display: flex
        flex-direction column
        align-items center
        cursor pointer
        color black
        transition .3s

        @media $xlMinus
          max-width none
          width 32.3%
          margin-left 1%
          box-sizing border-box
          justify-content space-between

        @media $smMinus
          width 49%
          margin-left 0
          margin-left 0.5%
          margin-right 0.5%

        @media $xs
          width 100%
          margin-left 0
          margin-right 0
        &:hover
          box-shadow: 0px 12px 39px -2px rgba(0,0,0,0.13);
        &:nth-child(4n+1)
          margin-left: 0

          @media $smMinus
            margin-left 0.5%

          @media $xs
            margin-left 0
        /*&:hover
          & .img-wrapper
            background-color: purple*/
        & .img-wrapper
          max-width: 370px
          /*width: 100%*/
          min-height 270px
          display: flex
          justify-content center
          align-items: center

          @media $xlMinus
            max-width none
            width 100%
            height auto
            min-height auto

          
          & img
            width: 100%;
            object-fit: cover;
            margin-top: -2px;
        & .stock-title
          padding-top: 21px
          padding-left: 25px
          padding-right: 25px
          width: 100%
          box-sizing border-box
          & span
            color: #000000;
            font-family: ProbaProMedium;
            font-size: 26px;
            font-weight: 500;
            line-height: 23px
        & .stock-desc
          padding-left: 25px
          padding-right: 25px
          margin-top 9px
          min-height 140px
          max-height: 140px
          height: 100%
          overflow hidden
          position relative
          &:before
            content ''
            position absolute
            bottom: 25px
            right: 0
            width: 25%
            height: 25px
            background: linear-gradient(to right,rgba(255,255,255,.89) 0,rgba(255,255,255,.93) 19%,rgba(255,255,255,.95) 30%,#fff 100%);
            border-radius: 12px 0 0 12px;
            display: block
          &:after
            content ''
            position absolute
            bottom: 0
            left: 0
            width: 100%
            height: 25px
            background-color: #fff
          & span
            color: #4d4d4d;
            font-family: ProbaPro;
            font-size: 16px;
            font-weight: 400;
            line-height 23px
        & .divider
          background-color: #e6e6e6
          min-height: 1px
          width: 100%
        & .stock-bottom
          display: flex
          justify-content space-between
          align-items: center
          max-width: 320px;
          width: 100%
          padding-top: 24px
          padding-left: 25px
          padding-right: 25px

          @media $smMinus
            max-width none
            box-sizing border-box
          & .views
            display: flex
            justify-content space-between
            align-items: center

            @media $xs
              width 30%
            & .icon-wrapper
              width: 20px
              padding-right: 5px
          & span
            color: #000000;
            font-family: ProbaPro
            font-size: 14px;
            font-weight: 400;

            @media $xs
              width 50%
              box-sizing border-box
    & .first-tab
      display: flex
