meta(charset="utf-8")
meta(http-equiv="x-ua-compatible" content="ie=edge")

title НАЗВАНИЕ ПРОЕКТА

meta(name="description" content="ОПИСАНИЕ ПРОЕКТА")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
//meta(name="viewport" content="width=1550, initial-scale=1")

link(rel="manifest" href="site.webmanifest")
link(rel="author" href="humans.txt")

link(rel="apple-touch-icon" href="icon.png")

link(rel="stylesheet" href="css/vendor/normalize.css")
link(rel="stylesheet" href="css/vendor/h5bp.css")
link(rel="stylesheet" type="text/css" href="css/vendor/simplebar.css")
link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
// Сюда попадают дополнительные css библиотеки
block vendor-styles

// Файл с пользовательскими стилями
link(rel="stylesheet" href="css/main.css")