doctype html
html(class="no-js" lang="ru")
    head
        include head

    body.no-black-friday
        include ie
        section.page
            header
                block header
                    include ../templates/header
            div(class="logo logo-mobile v-sm")
                div.logo-container
                    a(class="logo-wraper" href="/")
                        img(src="img/icons/h-logo.svg")
                    a(class="logo-text" href="/")
                        span академия диабета
                        span магазин диабетических товаров
            section.content
                block content

            footer
                block footer
                    include ../templates/footer

        include scripts