// Scripts start
script(src="js/vendor/modernizr-3.6.0.min.js")
script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
<script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
script(src="js/vendor/simplebar.js")
script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
script(src="https://www.google.com/recaptcha/api.js")

// Файл с пользовательскими плагинами
script(src="js/plugins.js")
// Файл с пользовательскими скриптами
script(src="js/main.js")
// Файл для работы с иконками
script(src="js/icon.js")

// Скрипты метрик
script(src="js/analytics.js")
script(src="https://www.google-analytics.com/analytics.js" async defer)
// Scripts end